
.img_taustakuva {
    background-image: url('../Images/IMGP4758c.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.img_etusivu_hakuryhma {
    background-image: url('../Images/Dia68.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

li.marginimg {
    margin-left: 20px;
    margin-right: 0px;
}

img.säännöt {
    box-shadow: 2px 2px 8px #888888;
}

.img_mainos1 {
    background-image: url('../Images/PORVOO2019pieni.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100px;
}
/*Mainosten kuvat*/
.img_mainos2 {
    background-image: url('../Images/Pkt.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100px;
}

.img_mainos3 {
    background-image: url('../Images/Pkt.jpg');
    background-image: url('../Images/avec.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100px;
}

.img_mainos4 {
    background-image: url('../Images/pea.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100px;
}

.imgyhteystiedot {
    background-image: url('../Images/Koira.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
}

.imgjäseneksi {
    background-image: url('../Images/maari.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    margin-top: 30px;
}

.imghaku {
    margin-bottom: 20px;
    margin-left: 30px;
    width: 422px; 
    height: 312px;
}

@media (max-width: 1024px) {
    .imgyhteystiedot {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 500px;
    }

    @media (max-width: 600px) {

        .img_taustakuva {
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;
            background-attachment: fixed;
            min-height: 400px;
        }
        /*Mainosten kuvat*/
        .img_mainos1 {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100px;
            margin-left: 20%;
        }

        .img_mainos2 {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100px;
            min-width: 200px;
            margin-top: 20px;
            margin-left: 20%;
        }

        .img_mainos3 {
            background-size: contain;
            background-repeat: no-repeat;
            width: 200px;
            height: 150px;
            margin-top: 20px;
            margin-left: 20%;
        }

        .img_mainos4 {
            background-size: contain;
            background-repeat: no-repeat;
            width: 200px;
            height: 150px;
            margin-top: 20px;
            margin-left: 20%;
        }
        /*Muut kuvat*/
        .imgyhteystiedot {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 200px;
            margin: 0px;
        }

        .imgjäseneksi {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 290px;
        }

        .imghaku {
            margin-bottom: 20px;
            margin-right: 20px;
            width: 301px;
            height: 199px;
        }
    }
}
