body {
    /*font: 400 15px/1.8 Lato, sans-serif;
    color: #fff;
    min-height: 400px;*/
}

div {
    margin: 0;
    padding: 0;
}

    div.test {
        min-height: 470px;
    }

p {
    color: #000;
    line-height: 1.7;
}
li.lineheight {
    line-height: 1.7;
}
h2.frontpage {
    color: white;
}

h3.black {
  color: whitesmoke;
    font-weight: bold;
    }
    h4{
        color: black;
    }

/*h5 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 15px;
    color: black;
}*/

/*a {
    font: 400 20px/1.8 Lato, sans-serif;
}*/

i.margin{
    margin-right: 20px;
}

nav.ice {
    background-color: #277536;  
    
}
a.logo_padding{
    padding: 1px;
    margin-top: 0px;
}
.container {
    padding: 40px 30px;
    background-color: white;
}


.dog {
    border: 10px;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.8;
}

.color {
    border: 10px;
    margin: 50px;
    text-align: center;
    width: 80%;
    height: 80%;
    opacity: 0.8;
}

.kokotable {
    border-collapse: collapse;
    border: 1.5px solid black;
    width: 100%;
    align-items: center;
    align-self: auto;
    margin-top: 30px;
    box-shadow: 2px 2px 8px #888888;
   
}

td,
th {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
    width: 10%;
    min-height: 20%;
}
tr{
    height: 50px;
}

tr.large{
    width: 40%;
}
th.large {
    width: 40%;
}

.carousel-inner img {
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    /* make all photos black and white */
    width: 100%;
    /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: white !important;
}

#white {
    background-color: #fff;
    min-height: 300px;
    color: #000;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }

    .color {
        border: 5px;
        margin: 0px;
        text-align: center;
        width: 80%;
        height: 80%;
        opacity: 0.8;
    }
}

.bg-1 {
    background: #277536;
    color: black;
}

    .bg-1 h3 {
        color: white;
    }

    .bg-1 p {
        font-style: italic;
    }

.bg-2 {
    background: white;
}


footer {
    background-color: #277536;
    color: white;
    padding: 32px;
}

    footer a:hover {
        color: #5c6b76;
        text-decoration: none;
    }

.form-control {
    border-radius: 0;
}

textarea {
    resize: none;
}

.logo {
    padding-top: 40px;
}

div.rgba {
    border-radius: 0.5%;
    background-color: rgb(39,117,54);
}

.logo-text {
    padding-top: 10px;
}

div.border {
    border-color: black;
    background-color: whitesmoke;
    min-height: 150px;
    margin-bottom: 30px;
    margin-left: auto;

}

.imgforest {
    margin-top: 0;
    background-image: url('../Images/IMGP4818c.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    /*background-attachment: fixed;*/
}

.imgtest {
    background-image: url('../Images/IMGP4825c.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    margin-bottom: 0px;
}

.imgkentta {
    /*background-image: url('../Images/IMGP4818c.jpg');*/
    background-image: url('../Images/IMGP4758c.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.kentta {
    margin-top: 40px; 
    min-height: 400px;
}
li.margin{
  margin-left: 20px;
  padding: 20px 0px;

}
li.marginxl {
    margin-left: 100px;
    padding: 20px 0px;
}
li.marginimg{
    margin-left: 20px;
    margin-right: 0px;
}

#view-source {
    font-size: 20px;
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 85px;
    z-index: 900;
    background-color: #277332;
    border-radius: 5%;
    padding: 10px 10px;
}
img.add {
    margin: 2%;
}
div.logo_contact{
    padding: 4% 0%;
}
.name {
    padding: 0px 25px;
}
div.contact{
    padding: 10px;
}
.event{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.navbar-fixed-top,
.navbar-fixed-bottom{
    position: page;

}
btn-primary,
btn {
    color: #277332;
    background-color: #277332;
    border-color: #277332;
}
.add_jasenyys{
    
    padding: 75px 0px;
}

.kenttä_rules {
    padding: 20px 100px;
    border: 1px solid #000;
    margin-left: 0px;
    margin-right: 25px;
    background-color: white;
}
img.säännöt {
    box-shadow: 2px 2px 8px #888888;
}



