html {
    background-color: #277332;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div {
    margin: 0;
    padding: 0;
}

hr {
    background-color: #277332;
    color: #277332;
}

p {
    color: #000;
    line-height: 1.7;
}
a {
    display: block;
}

.anchor_target:target {
    padding-top: 110px;
}

div.margins {
    min-height: 570px;
    padding-bottom: 20px;
    margin-top: 50px;
}

li.lineheight {
    line-height: 1.7;
}

h2.frontpage {
    color: white;
}

h3.black {
    color: whitesmoke;
    font-weight: bold;
}

h4 {
    color: black;
}

i.margin {
    margin-right: 20px;
}

nav.pal_nav {
    background-color: #277536;
    margin-bottom: 0;
}

a.logo_padding {
    padding: 1px;
    margin-top: 0px;
}

.container {
    padding: 40px 30px;
}

.kokotable {
    border-collapse: collapse;
    border: 1.5px solid black;
    width: 100%;
    align-items: center;
    align-self: auto;
    margin-top: 30px;
    box-shadow: 2px 2px 8px #277332;
}

td,
th {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
    width: 22%;
    min-height: 25%;
}

tr {
    height: 50px;
}

    tr.large {
        width: 40%;
    }

th.large {
    width: 40%;
}

#white {
    background-color: #fff;
    min-height: 300px;
    color: #000;
}

footer {
    background-color: #277536;
    color: white;
    padding: 2px;
    margin: 0px;
    width: 100%;
    height: 100px;
    line-height: 60px;
    border-bottom-color: #277332;
}

footer a:hover {
    color: #5c6b76;
    text-decoration: none;
}

.form-control {
    border-radius: 0;
}

textarea {
    resize: none;
}

.logo {
    padding-top: 40px;
}

.logo-text {
    padding-top: 10px;
}

div.border {
    border-color: black;
    background-color: whitesmoke;
    min-height: 300px;
    min-width: 190px;
    margin: 2px;
    margin-bottom: 20px;

}

.hakuryhmät_margin {
    margin-top: 40px;
    min-height: 400px;
}

.etusivu_margin {
    margin-top: 40px;
    min-height: 500px;
}

li.margin {
    text-align: center;
    margin-left: 20px;
    padding: 20px 0px;
}

li.marginxl {
    text-align: center;
    padding: 20px 0px;
}

.name {
    padding: 0px 25px;
}

div.contact {
    padding: 10px;
}

.event {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: page;
}

btn-success,
btn {
    color: #277332;
    background-color: #277332;
    border-color: #277332;
}

.add_jasenyys {
    padding: 75px 0px;
}

.kenttä_margin {
    padding: 20px 100px;
    border: 5px solid #277332;
    background-color: white;
    margin-bottom: 20px;
}

.kenttä_margin_maasto {
    padding: 20px 100px;
    border: 5px solid #277332;
    background-color: white;
    margin-bottom: 20%;
}

div.tausta_tapahtumat {
    border-radius: 0.5%;
    background-color: rgb(39,117,54);
    margin-bottom: 50px;
}

.img_card{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
}

.img_card p {
    margin-top: 15px;
    line-height: 7px;
}

.img_card img {
     width: 152px;
     height: 201px;
}

@media (max-width: 1024px) {
    .kenttä_margin {
        border: 5px solid #277332;
        margin: 0;
        background-color: white;
        text-align: left;
        padding: 20px;
    }

    .btn, btn-success {
        font-size: 13px;
    }
    .img_card p {
        margin-top: 15px;
        line-height: 7px;
        font-size: 12px;
    }

    li.margin {
        text-align: center;
        margin-left: 5px;
        padding: 20px 0px;
    }

    li.marginxl {
        text-align: center;
        padding: 20px 0px;
    }
}

@media (max-width: 600px) {
    .btn, btn-success {
        font-size: 16px;
    }

    .hakuryhmät_margin {
        margin-top: 10px;
        min-height: 290px;
    }

    .kenttä_margin {
        border: 5px solid #277332;
        margin: 0;
        background-color: white;
        text-align: left;
        padding: 10px;
    }

    div.margins {
        min-height: 570px;
        padding: 20px 20px;
        margin-top: 0px;
    }

    .container {
        padding: 8px 6px;
    }

    footer {
        background-color: #277536;
        color: white;
        padding: 1px;
        margin: 0px;
        width: 100%;
        height: 150px;
        line-height: 60px;
        border-bottom-color: #277332;
    }

        footer a:hover {
            color: #5c6b76;
            text-decoration: none;
        }

    li.margin {
        margin-left: 0;
        padding: 0;
    }

    li.marginxl {
        padding: 0px;
    }
}
