
@{
    ViewBag.Title = "Haku";
}

<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<link href="~/Content/Kuvat.css" rel="stylesheet" />
<br />
<div class="container margins">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-uppercase">Haku</h3>
            <br />
            <p>
                Haku (henkilöetsintä) on palveluskoiralaji, jossa koiran tulee etsiä,
                löytää ja ilmaista maastoon merkityltä alueelta sinne piiloutuneet ihmiset (maalimiehet).
                Etsintäalueen keskilinja on merkitty ja ohjaaja kulkee tätä merkittyä linjaa
                pitkin ohjatessaan koiran etsintää. Koiran tulee etsiä alue järjestelmällisesti risteillen
                keskilinjalta alueen reunoihin ja takaisin. Saadessaan hajun maalimiehestä koiran
                tulee paikantaa haju ja ilmaista löytämänsä maalimies joko haukkumalla tai tuomalla
                ohjaajalle rulla merkiksi löytyneestä maalimiehestä.
            </p>
            <br />
            <p>
                Haun harjoitteluun tarvitaan koulutusryhmä, joka kokoontuu yhdessä
                kouluttamaan koiria etsintään. Jokainen ryhmän jäsen kouluttaa ryhmässä
                omaa koiraansa, mutta toimii myös toisille maalimiehenä.
            </p>
            <br />
            <p class="small">Muokattu tekstistä: <a href="https://www.palveluskoiraliitto.fi/lajit/palveluskoirakoelajit/hakukoe.html">Palveluskoiraliitto/Hakukoe</a> </p>
            <br />
            <div>
                <h5 class="text-uppercase">Jos haluat lisätietoja Porvoon Palveluskoirat ry:n hakutoiminnasta, ota yhteyttä:</h5>
                <p>haku@porvoonpalveluskoirat.fi.</p>
                <br />
                <h5><strong> Hakuryhmien vetäjät:</strong></h5>
                <p>
                    saara.huomolin@gmail.com <br />
                    kblomqvist@luukku.com <br />
                    lindroos.moritz@gmail.com <br />
                    pktottis@porvoonpalveluskoirat.fi (Marianin ryhmä) <br />
                    haku@porvoonpalveluskoirat.fi (Maria W:n ryhmä)
                </p>
            </div>
            <br />
            <div>

                <p>
                    Palveluskoirien hakukokeeseen (PAHA) kuuluu haun lisäksi esine-etsintä,
                    jossa koira etsii 50 x 50 metrin kokoiselta maastoon merkityltä alueelta sinne tiputettuja
                    käyttöesineitä (hanska, lompakko tms.) ja tuo ne ohjaajalleen etsintäalueen ulkopuolelle.
                </p>
                <p>
                    Hakukokeeseen kuuluu myös kentällä suoritettava tottelevaisuusosuus (tottis). Tottelevaisuusosuus suoritetaan
                    pareittain siten, että toinen koirakko suorittaa sarjan liikkeitä (seuraamista, käännöksiä,
                    noutoja jne.) koeluokan mukaisen kaavion mukaisesti ja toinen koira on sen ajan
                    paikallamakuussa.
                </p>
                <br />
                <p><strong> Lisätietoja:</strong> tottis@porvoonpalveluskoirat.fi </p>
            </div>
        </div>

        <div class="col-lg-6" style="margin-top: 80px;">
            <img class="imghaku" src="~/Images/21082794_1832923823386220_6154811499762951885_o.jpg"/>

            <img class="imghaku" src="~/Images/22096159_1871275699551032_2206730474488751354_o.jpg"/>
            <img class="imghaku" src="~/Images/kuvat 352.JPG"/>
        </div>
    </div>

        
    
</div>

