
@{
    ViewBag.Title = "Hallitus";
}
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<link href="~/Content/Kuvat.css" rel="stylesheet" />
<br />
<div class="container margins">
    <div id="hallitus" class="anchor_target"></div>
    <div class="container">
        <h3> Hallitus 2019 / Vastuuhenkilöt</h3>
        <br />
        <div class="row">
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/maarit.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/marian_uusi.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/maarit.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/marian_uusi.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/maarit.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/marian_uusi.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/maarit.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/marian_uusi.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/maarit.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/marian_uusi.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
