
@{
    ViewBag.Title = "Index";
}



<head>    
    <title>Porvoonpalvelukoirat esimerkki</title>
    <link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
    <link href="~/Content/Kuvat.css" rel="stylesheet" />
</head>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <!--ETUSIVUN ENSIMMÄINEN KUVA-->
    <div class="text-center logo img_taustakuva etusivu_margin">
        <img src="~/Images/logo_wg3.jpg" width="84" height="110" alt="Logo" style="margin-top: 50px;" />
        <h2 class="frontpage">Porvoon Palveluskoirat - Borgå Brukshundar Ry</h2>
    </div>

    <!--PORVOOPALVELUKOIRIEN ESITTELY-->
    <div class="logo-text container-fluid text-center">
        <div class="container">
            <h3><b>Porvoon Palveluskoirat - Borgå Brukshundar</b></h3>
            <br />
            <p>
                -Porvoon Palveluskoirat on alueen vanhin koiraharrastusyhdistys. Toimintamme käynnistyi jo yli 60 vuotta
                sitten-
            </p>
            <p>
                Harrastamme palveluskoiralajeja, pelastuskoiratoimintaa, tokoa ja rally-tokoa. Järjestämme
                koulutuksia,
                kerhoiltoja ja leirejä, sekä kokeita ja kilpailuja. Koiriamme voi tilata erilaisiin tilaisuuksiin vetämään lapsia,
                talvella pulkassa, kesällä kärryillä.
                Olemme myös mukana joka syksyisen Porvoon näyttelyn järjestelyissä.
                Yhdistys tukee jäsentensä osallistumista koiraharrastukseen liittyviin kursseihin ja koulutukseen.
                Jäsenille lähetetään Haukkuset-lehti. Meitä on tällä hetkellä n. 170.
            </p>
        </div>
    </div>
    <hr />

    <!--MAINOKSET-->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6 img_mainos1 img_mainos1_margin">
            </div>
            <div class="col-md-4 col-xs-5 img_mainos2">
            </div>
            <div class="col-md-2 col-xs-6 img_mainos3">
            </div>
            <div class="col-md-2 col-xs-6 img_mainos4">
            </div>
        </div>
    </div>
    <br />
    <hr />
    <!-- Tulevat tapahtumat -->

    <div class="container text-center tausta_tapahtumat">
        <h3 class="text-uppercase" style="color: white;">Tulevat Tapahtumat</h3>
        <hr />
        <br>

        <!--TAPAHTUMAT TOINEN RIVI-->
        <div class="row">
            <div class="col-md-4">
                <div class="border shadow">
                    <br />
                    <h4 class="text-center"><strong>Ari Koskelan peltojälkikoulutus</strong></h4>
                    <i class="fas fa-calendar-check event"></i>
                    <br />
                    <p class="text-center">Lauantai 13 Heinäkuu 2019</p>
                    <p class="text-center">- Sunnuntai 14 Heinäkuu 2019</p><br>
                    <p class="text-center"><strong>Koko päivän tapahtuma</strong></p><br>
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                        Ohjeet ilmoittautumiseen
                    </button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="border shadow">
                    <br />
                    <h4 class="text-center"><strong>FH-kokeen järjestämiskoulutus</strong></h4>
                    <i class="fas fa-calendar-check event"></i>
                    <br />
                    <p class="text-center black">Sunnuntai 13 Lokakuu 2019</p>
                    <p class="text-center black"></p><br>
                    <p class="text-center" style="color:#277332;"><strong>Koko päivän tapahtuma</strong></p><br>
                </div>
            </div>

            <div class="col-md-4">
                <div class="border shadow">
                    <br />
                    <h4 class="text-center"><strong>Tokon seuramestaruus</strong></h4>
                    <i class="fas fa-calendar-check event"></i>
                    <br />
                    <p class="text-center black">Sunnuntai 13 Lokakuu 2019</p>
                    <p class="text-center black"></p><br>
                    <p class="text-center" style="color:#277332;"><strong>Koko päivän tapahtuma</strong></p><br>
                </div>
            </div>
        </div>

        <!--TAPAHTUMAT TOINEN RIVI-->

        <div class="row">
            <div class="col-md-4">
                <div class="border shadow">
                    <br />
                    <h4 class="text-center"><strong>Ari Koskelan peltojälkikoulutus</strong></h4>
                    <i class="fas fa-calendar-check event"></i>
                    <br />
                    <p class="text-center">Sunnuntai 14 Heinäkuu 2019</p><br>
                    <p class="text-center black"></p><br>
                    <p class="text-center" style="color:#277332;"><strong>Koko päivän tapahtuma</strong></p><br>
                </div>
            </div>

            <div class="col-md-4">
                <div class="border shadow">
                    <br />
                    <h4 class="text-center"><strong>Riitta ja Pekka Korrin toko-koulutus</strong></h4>
                    <i class="fas fa-calendar-check event"></i>
                    <br />
                    <p class="text-center">Sunnuntai 14 Heinäkuu 2019</p><br>
                    <p class="text-center black"></p><br>
                    <p class="text-center" style="color:#277332;"><strong>10:00 - 18:00</strong></p><br>
                </div>
            </div>

            <div class="col-md-4">
                <div class="border shadow">
                    <br />
                    <h4 class="text-center"><strong>FH1 koe</strong></h4>
                    <i class="fas fa-calendar-check event"></i>
                    <br />
                    <p class="text-center">Sunnuntai 14 Heinäkuu 2019</p><br>
                    <p class="text-center black"></p><br>
                    <p class="text-center" style="color:#277332;"><strong>Koko päivän tapahtuma</strong></p><br>
                </div>
            </div>
        </div>
    </div>

    <!-- Yhteystiedot -->
    <div>
        <!-- Container (Contact Section) -->
        <div id="contact" class="container">
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="text-uppercase"><b>Hakuryhmät:</b></h3>
                            <br />
                            <h5 class="text-uppercase">
                                Jos haluat hakuryhmiin vierailemaan tai tutustumaan lajiin, niin voit kysellä paikkoja
                                suoraan eri hakuryhmistä osoitteista:
                            </h5>
                            <br />
                            <h5><b>PK hakuryhmät:</b></h5>
                            <p class="black">saara.huomolin@gmail.com</p>
                            <p class="black">kblomqvist@luukku.com</p>
                            <p class="black">lindroos.moritz@gmail.com</p>
                            <p class="black">pktottis@porvoonpalveluskoirat.fi (Marianin ryhmä)</p>
                            <p class="black">haku@porvoonpalveluskoirat.fi (Maria W ryhmä)</p>
                            <br />
                            <h5><b>PEKO:</b></h5>
                            <p class="black">peko@porvoonpalveluskoirat.fi </p>
                            <br />
                        </div>
                        <div class="col-sm-6 img_etusivu_hakuryhma hakuryhmät_margin">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">OTSIKKO TÄHÄN</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    TEKSTI TÄHÄN
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Sulje</button>
                </div>
            </div>
        </div>
    </div>
</body>



