
@{
    ViewBag.Title = "Index";
}



<head>
    
    <title>Porvoonpalvelukoirat esimerkki</title>

    <link href="~/Content/Palvelukoirat.css" rel="stylesheet" />

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <div class="text-center logo imgkentta kentta">
        <img src="~/Images/logo_wg3.jpg" width="84" height="110" alt="Logo" style="margin-top: 50px;" />
        <h3>Porvoon Palveluskoirat - Borgå Brukshundar Ry</h3>
    </div>
    <div class="logo-text container-fluid text-center" id="white">
        <div class="container">
            <h5>Porvoon Palveluskoirat</h5>
            <p>
                -Porvoon Palveluskoirat on alueen vanhin koiraharrastusyhdistys. Toimintamme käynnistyi jo yli 60 vuotta
                sitten-
            </p>
            <p>
                Harrastamme palveluskoiralajeja, pelastuskoiratoimintaa, tokoa ja rally-tokoa. Järjestämme
                koulutuksia,
                kerhoiltoja ja leirejä, sekä kokeita ja kilpailuja. Koiriamme voi tilata erilaisiin tilaisuuksiin vetämään lapsia,
                talvella pulkassa, kesällä kärryillä.
                Olemme myös mukana joka syksyisen Porvoon näyttelyn järjestelyissä.
                Yhdistys tukee jäsentensä osallistumista koiraharrastukseen liittyviin kursseihin ja koulutukseen.
                Jäsenille lähetetään Haukkuset-lehti. Meitä on tällä hetkellä n. 170.
            </p>
            <br>
        </div>
    </div>
    <div class="add">
        <img src="~/Images/PORVOO2019pieni.jpg" class="add" />
        <img src="~/Images/Pkt.jpg" class="add" width="250" height="100" />
        <img src="~/Images/avec.jpg" class="add" />
        <img src="~/Images/pea.jpg" class="add" />
    </div>
    <br />
    <!-- Tulevat tapahtumat -->
    <div class="container text-center rgba">
        <h3 class="black text-uppercase">TULEVAT TAPAHTUMAT</h3>
        <br>
        <div class="row">

            <div class="col-sm-3 border">
                <p class="text-center black"><strong>Ari Koskelan peltojälkikoulutus</strong></p><br>
                <p class="text-center black">Lauantai 13 Heinäkuu 2019 - Sunnuntai 14 Heinäkuu 2019</p><br>
                <p class="text-center black"><strong>Koko päivän tapahtuma</strong></p><br>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3 border">
                <p class="text-center black"><strong>Tapahtuma 1</strong></p><br>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3 border">
                <p class="text-center black"><strong>Tapahtuma 1</strong></p><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 border">
                <p class="text-center black"><strong>Tapahtuma 1</strong></p><br>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3 border">
                <p class="text-center black"><strong>Tapahtuma 1</strong></p><br>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3 border">
                <p class="text-center black"><strong>Tapahtuma 1</strong></p><br>
                <a href="#demo3" data-toggle="collapse">
                </a>
            </div>
        </div>
    </div>

    <!-- Yhteystiedot -->
    <div>
        <!-- Container (Contact Section) -->
        <div id="contact" class="container">

            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-sm-6">
                            <h2 class="text-uppercase"><b>Hakuryhmät:</b></h2>
                            <br />
                            <h5><b>PK hakuryhmät:</b></h5>
                            <p class="black">saara.huomolin@gmail.com</p>
                            <p class="black">kblomqvist@luukku.com</p>
                            <p class="black">lindroos.moritz@gmail.com</p>
                            <p class="black">pktottis@porvoonpalveluskoirat.fi (Marianin ryhmä)</p>
                            <p class="black">haku@porvoonpalveluskoirat.fi (Maria W ryhmä)</p>
                            <br />
                            <h5><b>PEKO:</b></h5>
                            <p class="black">peko@porvoonpalveluskoirat.fi </p>
                        </div>
                        <div class="col-sm-6">
                            <img src="~/Images/Dia68.JPG" width="500" alt="Koirat" style="margin-top:60px;" />
                        </div>

                    </div>
                    <br /><br />
                    <h5 class="text-center">
                        Jos haluat hakuryhmiin vierailemaan tai tutustumaan lajiin, niin voit kysellä paikkoja
                        suoraan eri hakuryhmistä osoitteista:
                    </h5>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid imgtest test">
        <div class="text-center">

        </div>
    </div>
    <a href="https://github.com/google/material-design-lite/blob/mdl-1.x/templates/android-dot-com/" target="_blank"
       id="view-source"
       class="btn btn-primary">Yhteystiedot</a>

    <script>
        $(document).ready(function () {
            // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 500, function () {

            });
        }
        );
        function myFunction() {
            alert("Thanks for pressing! Have a good day!");
        }
         // End if

    </script>

</body>



