
@{
    ViewBag.Title = "Jalki";
}

<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<link href="~/Content/Kuvat.css" rel="stylesheet" />
<br />
<div class="container margins">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-uppercase">JÄLKI</h3>
            <br />
            <p>
                Metsäjälki on palveluskoiralaji, jossa koira jäljestää ihmisen maastoon kävelemää jälkeä ja ilmaisee kävelyuralle 
                jätetyt jälkiesineet. Koira etsii jäljen etsintälinjalta ja lähtee seuraamaan sitä oikeaan suuntaan, ohjaajan seuratessa koiraa n. 
                10 metrin mittaisen liinan etäisyydellä.  Koiran seuraa jälkeä tarkasti siten, että se löytää kaikki jäljentekijän jäljelle jättämät
                jälkiesineet, jotka se ilmaisee tai vie ohjaajalle.
            </p>
            <br />
            <p>
                Erikoisjälki (FH-jälki) on palveluskoiralaji, jossa jälki tehdään pellolle tai muuhun avoimeen maastoon. 
                Koiran tulee seurata oikeaa jälkeä tarkasti ja hyvin maavainuisesti 
                eksymättä jäljen yli tehdylle harhajäljelle, sekä ilmaista jäljelle jätetyt esineet.
            </p>
            <br />
            <p>Aloitettaessa jälkiharjoittelua on syytä pyytää apua koulutusohjaajalta tai lajin kokeneelta harrastajalta, jotta perustyötä ei tehdä väärin. 
            Lajia on mahdollista harjoitella yksin, mutta on hyvin tärkeää ajaa välillä myös harjoituksissa vieraan tekemää jälkeä. 
            </p>
            <p class="small">Muokattu tekstistä: <a href="https://www.palveluskoiraliitto.fi/lajit/palveluskoirakoelajit/jalkikoe.html">palveluskoiraliitto/jälkikoe ja Palvelukoiraliitto/Kansainvälinen jälkikoe</a> </p>
            <br />
            <div>
                <h5 class="text-uppercase">Jos haluat lisätietoja Porvoon Palveluskoirat ry:n jälkitoiminnasta, ota yhteyttä:</h5>
                <p>jalki@porvoonpalveluskoirat.</p>
            </div>
            <br />
            <div>

                <p>
                    Palveluskoirien jälkikokeeseen (PAJÄ) kuuluu jäljen lisäksi esine-etsintä, jossa koira etsii 50 x 50 metrin 
                    kokoiselta maastoon merkityltä alueelta sinne tiputettuja käyttöesineitä (hanska, lompakko tms.) 
                    ja tuo ne ohjaajalleen etsintäalueen ulkopuolelle.
                </p>
                <p>
                    Jälkikokeeseen (PAJÄ) kuuluu myös kentällä suoritettava tottelevaisuusosuus (tottis). Tottelevaisuusosuus suoritetaan pareittain siten, 
                    että toinen koirakko suorittaa sarjan liikkeitä (seuraamista, käännöksiä, noutoja jne.) koeluokan mukaisen kaavion mukaisesti 
                    ja toinen koira on sen ajan paikallamakuussa.
                </p>
                <br />
                <p>Erikoisjälkikokeeseen (PAEJ) ei kuulu esine-etsintä- eikä tottelevaisuusosuuksia. </p>
                <br />
                <p><strong> Lisätietoja:</strong> tottis@porvoonpalveluskoirat.fi </p>
            </div>
        </div>
        <div class="col-lg-6" style="margin-top: 80px;">
            <!--   <img src="pics/peko_1.jpg" /><br />-->
            <img src="~/Images/peko_1.jpg" width="500" height="263" />
            <br />
            <img src="~/Images/peko_2.jpg" width="500" height="300" alt="MEPE-treenit 11.7.09" style="margin-top: 20px;" />
            <br />MEPE-treenit 11.7.2009
        </div>
    </div>
</div>

