
@{
    ViewBag.Title = "Jäseneksi";
}
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h3 class="text-center">JÄSENYYS</h3>
            <br />
            <p>
                Yhdistyksen jäseneksi anotaan toimittamalla asianmukaisesti täytetty ja omakätisesti allekirjoitettu jäsenanomuskaavake, joko koulutusohjaajalle tai suoraan lajivastaavalle. Lajivastaavat kirjoittavat anomukseen suosituksen ja toimittavat sen hallitukselle. Hallitus hyväksyy uudet jäsenet.
            </p>
            <br />
            <p>Lajivastaavat yhteystietoineen löydät Yhteystiedot-sivulta.<a href="yhteystiedot.php">Yhteystiedot</a>-sivulta.</p>
            <p><a href="docs/jasenanomus14.pdf">Jäsenanomuskaavake (pdf)</a></p>
            <p><a href="docs/rekisteriseloste.pdf">Henkilötietolain 10§ mukainen rekisteriseloste (pdf)</a></p>
            <br />
            <p>
                Osoitteen- ym. yhteystietojen muutokset yhdistyksen sihteerille (sihteeri@porvoonpalveluskoirat.fi).
                Puhelinnumeron löydät Yhteystiedot-sivulta.  <a href="yhteystiedot.php">Yhteystiedot</a>-sivulta.
            </p>
            <br />
            <p>Yhdistyksen jäsenten omalle sähköpostilistalle voit liittyä lähettämällä pyynnön sihteerille. Jäsenille on myös Facebook-ryhmä.</p>
        </div>
        <div class="col-lg-5">
            <img class="add_jasenyys" src="~/Images/maari.jpg" />
        </div>
    </div>
</div>
<!-- *** End Content *** -->
