
@{
    ViewBag.Title = "Kenttä";
}
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<br />
<div class="container">
    <h3>KOULUTUSALUE</h3>
    <div class="row">
        <div class="col-lg-4">

            <img src="~/Images/kenttaheina.jpg" /><h5>Kenttä</h5>
            <br />
        </div>
        <div class="col-lg-8">
            <h5>KENTTÄ VUOROT / Kevät 2019</h5>

            <div class="table-responsive">
                <table class="kokotable">
                    <tr>
                        <th>Viikonpäivä</th>
                        <th>Klo</th>
                        <th>Laji</th>
                        <th class="large">Huom</th>
                    </tr>
                    <tr>
                        <td>Maanantai</td>
                        <td>18-22</td>
                        <td>Pk-tottis</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tiistai</td>
                        <td>18-22</td>
                        <td>Rally-toko</td>
                        <td>Kentällä ei ammuta. Toinen puoli kenttää vapaana</td>
                    </tr>
                    <tr>
                        <td>Keskiviikko</td>
                        <td>18-22</td>
                        <td>Toko</td>
                        <td>Kentällä ei ammuta. Toinen puoli kenttää vapaana</td>
                    </tr>
                    <tr>
                        <td>Torstai</td>
                        <td>18-22</td>
                        <td>Peko</td>
                        <td></td>
                    </tr>
                    <tr class="large">
                        <td>Perjantai</td>
                        <td>18-22</td>
                        <td>IPO</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <br />
        <p>
            Varattuina aikona kentt&auml; on ensisijaisesti ko. lajia harjoittelevien k&auml;yt&ouml;ss&auml;. Kent&auml;ll&auml; saa kuitenkin harjoitella, mik&auml;li se on tyhj&auml;n&auml; tai ei ole kokonaan k&auml;yt&ouml;ss&auml;.
            Muina aikoina on kentt&auml; vapaasti yhdistyksen j&auml;senten k&auml;ytett&auml;viss&auml;.
        </p>
        <p> Kokeet, kurssit ja tapahtumat menev&auml;t kentt&auml;vuorojen edelle. Kts. <a href="kalenteri/index.php">Tapahtumakalenteri</a> </p>

        <p>
            Hallituksen hyv&auml;ksym&auml;t valmennusringit voivat varata kent&auml;n h&auml;iri&ouml;- ja
            yhteisharjoituksiin. Kent&auml;llä voi muut harjoitella samanaikaisesti, mutta siell&auml;
            voi olla normaalia enemmän melua ja muita h&auml;iri&ouml;itä, joihin on hyvä varautua.
        </p>

        <p>
            Muut treeniryhm&auml;t voivat, hallituksen luvalla, varata kentän omaan k&auml;yttöönsä kaksi kertaa vuodessa.
            Viikonloppuisin puoleksi p&auml;iv&auml;ksi tai arkisin p&auml;iv&auml;aikaan kahdeksi tunniksi.
        </p>
        <p>
            Valmennusringit ja treeniryhm&auml;t varaavat vuoron nettikalenterista ja ilmoittavat siitä fb-ryhm&auml;ss&auml; v&auml;hint&auml;&auml;n 5 p&auml;iv&auml&auml ennen.
        </p>

        <p>
            Yksitt&auml;iset treenaajat eivät voi varata kentt&auml;&auml; omaan k&auml;ytt&ouml;&ouml;ns&auml;, mutta ilmoittavat
            fb-ryhm&auml;ss&auml; mik&auml;li on tarve tehd&auml; joku erityinen harjoitus mihin haluaisi varata koko kent&auml;n.
        </p>

        <p>
            Yhdistykseen kuulumattomien henkil&ouml;iden satunnaiset vierailut jonkun j&auml;senen mukana ovat sallittuja,
            kuten my&ouml;s kentt&auml;&auml;n tutustuminen lupaa kysym&auml;ll&auml; ennen kokeita.
        </p>
        <p>
            Juoksunartut saavat harjoitella kentällä, ulkoilutetaan alueen ulkopuolella kuten muutkin koirat.
        </p>

        <p>
            Ennen ampumista ja pitkää eteenmenoa on kohteliasta ilmoittaa aikeistaan muille kentällä harjoitteleville.
        </p>

        <p>Ruohonleikkuun ei katsota h&auml;iritsev&auml;n harjoituksia</p>

        <p>Kent&auml;n osoite on Loviisantie 350, 06150 Porvoo</p>

        <div class="news">

            <h5 id="left">KOULUTUSKENT&Auml;N ETIKETTI:</h5>
            <p>
                Alue on Porvoon Palveluskoirat- Borgå Brukshundar ry:n omistama ja j&auml;senilleen kunnostama koirien koulutuskentt&auml;.
                <br /><br />
                Asiaton oleskelu alueella ja koirien ulkoiluttaminen kent&auml;ll&auml; kielletty.<br /><br />
                <br />Alueella noudatetaan Suomen lakia ja Porvoon kaupungin j&auml;rjestyss&auml;&auml;nt&ouml;j&auml;.
                Impulssiv&auml;lineiden, -pantojen ja ns. tappikaulainten k&auml;ytt&ouml; kent&auml;ll&auml; ehdottomasti kielletty.
            </p>

            <h5>Huomioi muut harjoittelijat: </h5>
            <p>
                Vapaana olevien koirien on oltava hallinnassa. <br /> <br />

                Jokainen vastaa oman koiransa aiheuttamista vahingoista muille alueen k&auml;ytt&auml;jille. <br /> <br />

                Kokeiden ja kurssien aikana muut saavat k&auml;ytt&auml;&auml; kentt&auml;&auml; vain ylituomarin tai kurssin vet&auml;j&auml;n luvalla.<br /> <br />

                Huomioithan kentt&auml;vuorot ja vuorojen aikana harjoittelusta annetut ohjeet.<br /> <br />
                Y&ouml;aika on pyhitetty nukkumiselle.<br /> <br />

                Eth&auml;n tuo sairasta tai rokottamatonta koiraa alueelle.<br /> <br />

                Juoksunartut saavat harjoitella kent&auml;ll&auml;, ulkoilutetaan alueen ulkopuolella kuten muutkin koirat.<br />

            </p>
            <h5>Alueen siisteys on kaikkien yhteinen asia:</h5>
            <p>
                Huolehdithan roskat roskikseen, tupakan tumpit tuhkikseen ja korjaat koirien vahingot pois. <br /><br />
                Kent&auml;n k&auml;ytt&auml;j&auml;t huolehtivat my&ouml;s j&auml;tteiden pois viennist&auml;. Jos huomaat roskiksen t&auml;yttyneen, nappaa s&auml;kki mukaasi ja toimita se johonkin j&auml;tteiden ker&auml;yspisteeseen.
                <br /><br />
                Noudata P&ouml;rstil&auml;n (wc) k&auml;ytt&ouml;ohjetta, ohje oven sis&auml;puolella.
                <br /><br />
                Jos et ole ehtinyt muualla ulkoiluttaa koiraasi niin ulkoilutus kent&auml;lt&auml; tiet&auml; altaalle p&auml;in tai P&ouml;rstil&auml;n takaisessa mets&auml;ss&auml;. Korjaathan j&auml;t&ouml;kset pois my&ouml;s tielt&auml;.
                <br /><br />
                A-esteet, hyppy- ja peko-telineet ovat kent&auml;ll&auml; koko ajan, siirr&auml;th&auml;n ne takaisin paikoilleen (mist&auml; otitkin) ruohonleikkauksen ja muiden harjoittelun helpottamiseksi .
            </p>
            <h5>Huomioi n&auml;m&auml; seikat ajaessasi kent&auml;lle ja pys&auml;k&ouml;idess&auml;si:</h5>
            <p>
                Aja alueelle menev&auml;&auml; tiet&auml; hitaasti ja varaudu pys&auml;htym&auml;&auml;n/peruuttamaan. Mutkan kohdalla ei mahdu ohittamaan.
                <br /><br />
                Altaalle menev&auml; tie on pidett&auml;v&auml; liikenn&ouml;it&auml;v&auml;n&auml;.
                <br /><br />
                Maanomistajalla on oikeus p&auml;&auml;st&auml; konttien ohi takapellolle ja mets&auml;&auml;n.
                <br /><br />
                Autot k&auml;&auml;nnet&auml;&auml;n ja pys&auml;k&ouml;id&auml;&auml;n hiekalla. Pys&auml;k&ouml;inti kent&auml;n puoleiseen reunaan.
                <br /><br />
                Avaimen, joka k&auml;y vessaan, porttiin, valoihin, kuistin kaappiin ja konttiin, saat panttia vastaan sihteerilt&auml;. Avaimesta tulee pit&auml;&auml; hyv&auml;&auml; huolta. Avaimen h&auml;vitt&auml;nyt voi joutua kustantamaan lukkojen uudelleen sarjoittamisen ja avaimien vaihdosta tulevat kustannukset.
                <br /><br />
                Sammutathan valot l&auml;htiess&auml;si ja suljet portin.
            </p>
            <p>Kiitos!</p>
        </div>

        <h5 id="left">Maastot</h5>

        <p>Treeniryhmien varaukset aikaisintaan kahta kokonaista viikkoa aiemmin. </p>
        <p>
            Kimppatreenaajat ja muut j&auml;senet voivat tehdä varauksen korkeintaan kolme p&auml;iv&auml;&auml; etuk&auml;teen.
        </p>
        <p>Kokeita varten maastot saattavat olla k&auml;ytt&ouml;karenssissa, t&auml;m&auml; ilmoitetaan kalenterissa ja facebook ryhm&auml;ss&auml;.</p>


        <p></p>
        <p>KAIKKI VARAUKSET MERKITÄÄN <a href="kalenteri/index.php">NETTIKALENTERIIN!</a></p>


    </div>


</div>
<!-- *** End Content *** -->
