
@{
    ViewBag.Title = "Kenttä";
}
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<link href="~/Content/Kuvat.css" rel="stylesheet" />
<br />
<div class="imgetusivu">
    <div class="container margins">
            <div class="kenttä_margin">
                <h2 class="text-center text-uppercase">Koulutusalue</h2>
                <hr />
                <div class="row">

                    <div class="col-md-5" style="margin-top:65px;">
                        <img class="img-responsive" src="~/Images/kenttaheina.jpg" width="580" height="433" /><h5>Kenttä</h5>
                        <br />
                    </div>
                    <div class="col-md-7">
                        <h5 class="text-center text-uppercase">KENTTÄ VUOROT / Kevät 2019</h5>

                        <div class="table-responsive">
                            <table class="kokotable">
                                <tr>
                                    <th>Viikonpäivä</th>
                                    <th>Klo</th>
                                    <th>Laji</th>
                                    <th class="large">Huom</th>
                                </tr>
                                <tr>
                                    <td>Maanantai</td>
                                    <td>18-22</td>
                                    <td>Pk-tottis</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Tiistai</td>
                                    <td>18-22</td>
                                    <td>Rally-toko</td>
                                    <td>Kentällä ei ammuta. Toinen puoli kenttää vapaana</td>
                                </tr>
                                <tr>
                                    <td>Keskiviikko</td>
                                    <td>18-22</td>
                                    <td>Toko</td>
                                    <td>Kentällä ei ammuta. Toinen puoli kenttää vapaana</td>
                                </tr>
                                <tr>
                                    <td>Torstai</td>
                                    <td>18-22</td>
                                    <td>Peko</td>
                                    <td></td>
                                </tr>
                                <tr class="large">
                                    <td>Perjantai</td>
                                    <td>18-22</td>
                                    <td>IPO</td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
      
        <br />
        <div id="kentänsäännöt" class="anchor_target"></div>
        <div class="kenttä_margin">
            <div>
                <h5 class="text-center text-uppercase">Kentän varaaminen ja käyttäminen</h5>
                <br />
                <p>
                    Varattuina aikona kenttä on ensisijaisesti ko. lajia harjoittelevien käytössä. Kentällä saa kuitenkin harjoitella, mikäli se on tyhjänä tai ei ole kokonaan käytössä.
                    Muina aikoina on kenttä vapaasti yhdistyksen jäsenten käytettävissä.
                    <b>Kokeet, kurssit ja tapahtumat menevät kenttävuorojen edelle. Kts.</b> <a href="kalenteri/index.php">Tapahtumakalenteri</a>
                </p>
                <br />
                <p>
                    Hallituksen hyväksymät valmennusringit voivat varata kentän häiriö- ja yhteisharjoituksiin.
                    Kentällä voi muut harjoitella samanaikaisesti, mutta siellä voi olla normaalia enemmän melua ja muita häiriöitä, joihin on hyvä varautua.
                    Muut treeniryhmät voivat, hallituksen luvalla, varata kentän omaan käyttöönsä kaksi kertaa vuodessa.
                    Viikonloppuisin puoleksi päiväksi tai arkisin päiväaikaan kahdeksi tunniksi.
                </p>
                <br />
                <ul>
                    <li class="lineheight">Valmennusringit ja treeniryhmät varaavat vuoron nettikalenterista ja ilmoittavat siitä fb-ryhmässä vähintään 5 päivää ennen.</li>
                    <li class="lineheight">
                        Yksittäiset treenaajat eivät voi varata kenttää omaan käyttöönsä, mutta ilmoittavat fb-ryhmässä mikäli
                        on tarve tehdä joku erityinen harjoitus mihin haluaisi varata koko kentän.
                    </li>
                    <li class="lineheight">
                        Yhdistykseen kuulumattomien henkilöiden satunnaiset vierailut jonkun jäsenen mukana ovat sallittuja,
                        kuten myös kenttään tutustuminen lupaa kysymällä ennen kokeita.
                    </li>
                    <li class="lineheight">Juoksunartut saavat harjoitella kentällä, ulkoilutetaan alueen ulkopuolella kuten muutkin koirat.</liclass="lineheight">
                    <li class="lineheight">Ennen ampumista ja pitkää eteenmenoa on kohteliasta ilmoittaa aikeistaan muille kentällä harjoitteleville.</li>
                    <li class="lineheight">Ruohonleikkuun ei katsota häiritsevän harjoituksia</li>

                </ul>
                <br />
                <p><b>Kentän osoite on Loviisantie 350, 06150 Porvoo</b></p>

            </div>
        </div>
        <br />
        <div id="etiketti" class="anchor_target"></div>
        <div class="kenttä_margin">
            <div>
                <h5 class="text-center text-uppercase">KOULUTUSKENTÄN ETIKETTI:</h5>
                <br />
                <p>
                    Alue on Porvoon Palveluskoirat- Borgå Brukshundar ry:n omistama ja jäsenilleen kunnostama koirien koulutuskenttä.
                    Asiaton oleskelu alueella ja koirien ulkoiluttaminen kentällä kielletty.
                    Alueella noudatetaan Suomen lakia ja Porvoon kaupungin järjestyssääntöjä.
                    Impulssivälineiden, -pantojen ja ns. tappikaulainten käyttö kentällä ehdottomasti kielletty.
                </p>
                <br />
                <h5><b>Huomioi muut harjoittelijat:</b></h5>
                <br />
                <ul>
                    <li class="lineheight">Vapaana olevien koirien on oltava hallinnassa.</li>
                    <li class="lineheight">Jokainen vastaa oman koiransa aiheuttamista vahingoista muille alueen käyttäjille.</li>
                    <li class="lineheight">Kokeiden ja kurssien aikana muut saavat käyttää kenttää vain ylituomarin tai kurssin vetäjän luvalla.</li>
                    <li class="lineheight">Huomioithan kenttävuorot ja vuorojen aikana harjoittelusta annetut ohjeet.</li>
                    <li class="lineheight">Yöaika on pyhitetty nukkumiselle.</li>
                    <li class="lineheight">Ethän tuo sairasta tai rokottamatonta koiraa alueelle.</li>
                    <li class="lineheight">Juoksunartut saavat harjoitella kentällä, ulkoilutetaan alueen ulkopuolella kuten muutkin koirat.</li>
                </ul>
                <br />
                <h5><b>Alueen siisteys on kaikkien yhteinen asia:</b></h5>
                <br />
                <ul>
                    <li class="lineheight">Huolehdithan roskat roskikseen, tupakan tumpit tuhkikseen ja korjaat koirien vahingot pois. </li>
                    <li class="lineheight">Kentän käyttäjät huolehtivat myös jätteiden pois viennistä. Jos huomaat roskiksen täyttyneen, nappaa säkki mukaasi ja toimita se johonkin jätteiden keräyspisteeseen. </li>
                    <li class="lineheight">Noudata Pörstilän (wc) käyttöohjetta, ohje oven sisäpuolella.</li>
                    <li class="lineheight">Jos et ole ehtinyt muualla ulkoiluttaa koiraasi niin ulkoilutus kentältä tietä altaalle päin tai Pörstilän takaisessa metsässä. Korjaathan jätökset pois myös tieltä. </li>
                    <li class="lineheight">A-esteet, hyppy- ja peko-telineet ovat kentällä koko ajan, siirräthän ne takaisin paikoilleen (mistä otitkin) ruohonleikkauksen ja muiden harjoittelun helpottamiseksi.</li>
                </ul>
                <br />
                <h5><b>Huomioi nämä seikat ajaessasi kentälle ja pysäköidessäsi:</b></h5>
                <br />
                <ul>
                    <li class="lineheight">Aja alueelle menevää tietä hitaasti ja varaudu pysähtymään/peruuttamaan. Mutkan kohdalla ei mahdu ohittamaan. </li>
                    <li class="lineheight">Altaalle menevä tie on pidettävä liikennöitävänä. </li>
                    <li class="lineheight">Maanomistajalla on oikeus päästä konttien ohi takapellolle ja metsään.</li>
                    <li class="lineheight">Autot käännetään ja pysäköidään hiekalla. Pysäköinti kentän puoleiseen reunaan.</li>
                    <li class="lineheight">
                        Avaimen, joka käy vessaan, porttiin, valoihin, kuistin kaappiin ja konttiin,
                        saat panttia vastaan sihteeriltä.
                    </li>
                    <li class="lineheight">Avaimesta tulee pitää hyvää huolta.</li>
                    <li class="lineheight">
                        Avaimen hävittänyt voi joutua kustantamaan lukkojen uudelleen sarjoittamisen ja
                        avaimien vaihdosta tulevat kustannukset.
                    </li>
                </ul>
                <p>
                    <br />
                    <b>Sammutathan valot lähtiessäsi ja suljet portin.</b>
                </p>
                <p>Kiitos!</p>
            </div>
        </div>
        <br />
        <div id="maastot" class="anchor_target"></div>
        <div class="kenttä_margin_maasto">
            <div>
                <h5 class="text-center text-uppercase">Maastojen käyttäminen</h5>
                <br />
                <ul>
                    <li class="lineheight">Treeniryhmien varaukset aikaisintaan kahta kokonaista viikkoa aiemmin.</li>
                    <li class="lineheight">Kimppatreenaajat ja muut jäsenet voivat tehdä varauksen korkeintaan kolme päivää etukäteen.</li>
                    <li class="lineheight">Kokeita varten maastot saattavat olla käyttökarenssissa, tämä ilmoitetaan kalenterissa ja facebook ryhmässä.</li>
                </ul>
                <br />
                <p><b>Kaikki varaukset merkitään </b><a href="kalenteri/index.php">nettikalenteriin!</a></p>
            </div>
        </div>
    </div>
</div>
<!-- *** End Content *** -->
