
@{
    ViewBag.Title = "Lehti";
}

<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<!-- *** Start Content *** -->
<br />
<div class="container margins">
    <h3 class="text-center">HAUKKUSET</h3>
    <br />
    <p>
        Haukkuset on Porvoon Palveluskoirat - Borgå Brukshundar ry:n jäsenjulkaisu, joka sisältää artikkeleita palvelus- ja pelastuskoiratoiminnasta sekä ajankohtaista tietoa yhdistyksen toiminnasta. Lehti ilmestyy kaksi kertaa vuodessa.
    </p>
    <br />
    <p>
        <img src="~/Images/408.jpg" width="150" height="212">
        <img class="add" src="~/Images/308.jpg" width="150" height="212"/>
        <img class="add" src="~/Images/208.jpg" width="150" height="212"/>
        <img class="add" src="~/Images/409.jpg" width="150" height="212"/>
        <img class="add" src="~/Images/108.jpg" width="150" height="212"/>

    </p>

    <br />
    <h5><b>Ilmoitushinnat: </b></h5>
    <p> 1/1 sivu 100 € ja ½ sivu 50 €</p>
    <br />
    <h5><b>Yhteystiedot:</b></h5>
    <p>
        lehti@porvoonpalveluskoirat.fi
    </p>
    <br />
    <h5><b>Lehtitoimikunta:</b></h5>
    <p>
        Marian Ahlskog-Karhu <br />
        Christina Klawer-Kauranen <br />
        Carita Forsberg-Heikkilä <br />
        Tere Jääskeläinen <br />
        Anna-Mari Matikainen <br />
        <br />

    </p>
    <p>
        Toimikunta ottaa mielellellään vastaan koetuloksia, kuvia, kirjoituksia ja aiheita artikkeleihin.
    </p>

    <br />
    <p>
        Tässä alla klikkaamalla kuvia voit lukea ihka ensimmäisen Haukkuset-lehden, joka ilmestyi vuonna 1985 ja vuoden 2016 ensimmäisen lehden pdf-versioina.
    </p>
    <p>
        <br><div class="text-center">
    <a href="~/docs/hset1nettilehti.pdf">
    <img border="0" src="~/Images/haukkuset1kansip.gif" width="150" height="212"/></a>
    <a href="~/docs/Haukkuset_2_2018_netti.pdf">
        <img border="0" src="~/Images/Haukkuset_1_2016.jpg" class="add" width="150" height="212" />
    </a>
</div>

    </p>
    <br />
    <p>
        Jos haluat luopua paperille painetusta lehdestä ja lukea Haukkuset-lehteäsi vain netistä, niin ilmoita sähköpostiosoitteesi sihteerille:  sihteeri@porvoonpalveluskoirat.fi
    </p>

    <hr />





</div>
<!-- *** End Content *** -->
<!-- *** Start footer *** -->



