
@{
    ViewBag.Title = "Linkit";
}

<div class="container" style="margin-top:70px;">
    <p>Lähetä kotisivujesi osoite <a href="mailto:webmaster@porvoonpalveluskoirat.fi">webmasterille</a>, niin pääset mukaan listalle.</p>
    <br />

    <h5 id="left">Jäsenten kotisivuja</h5>
    <p><a target="_blank" href="http://www.haltiavuori.fi">Haltiavuoren kennel</a></p>
    <p><a target="_blank" href="http://facebook.com/kennelhelkyn/">Helkyn kennel</a></p>
    <p><a target="_blank" href="http://www.lubins.webs.com/">Kennel Lubin’s</a></p>
    <br />

    <h5 id="left">Mainostajat</h5>
    <p><a target="_blank" href="http://www.elainklinikka.com/">EläinklinikkaAvec</a></p>
    <p><a target="_blank" href="http://www.porvoonelainlaakariasema.fi/">Porvoon Eläinlääkäriasema</a></p>
    <p><a target="_blank" href="http://www.petenkoiratarvike.fi/">Peten Koiratarvike</a></p>
    <br />

    <h5 id="left">Muut linkit</h5>
    <p><a target="_blank" href="http://www.porvoonkoiranayttely.com/">Porvoon koiranäyttely</a></p>
    <p><a target="_blank" href="http://www.palveluskoiraliitto.fi">Suomen Palveluskoiraliitto - SPKL</a></p>
    <p><a target="_blank" href="http://www.virkku.net">Virkku.net SPKL:n koe- ja kilpailupalvelu</a></p>
    <br />
</div>
