
@{
    ViewBag.Title = "Palkitut";
}
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<!-- *** Start Content *** -->

    <br />
    <div class="container margins">
        <!-- *** 2019 *** -->
        <div class="kenttä_margin">
            <h3>Ansioituneet koirat ja yhdistyksen j&auml;senet</h3>
            <br />
            <div>
                <h4><strong>Vuosi 2018</strong></h4>
                <br />
                <p>
                    <b>Paras palveluskoira: </b><br />
                    1. Bcu For The Win Jack / Mirva Vainio<br>
                    2. Ssu Rissies Nordic Spirit / Bo Wiksten<br>
                    3. Apkn Apple Bloom Never Ending Story / Marian Ahlskog-Karhu<br>
                </p>
                <p>
                    <b>Paras hakukoira: </b><br />
                    Apkn Apple Bloom Never Ending Story / Marian Ahlskog-Karhu<br>
                </p>
                <p>
                    <b>Paras j&auml;kikoira: </b><br />
                    Bcu For The Win Jack / Mirva Vainio<br>
                </p>
                <p>
                    <b>Paras tokokoira: </b><br />
                    1. Lrn Romagna Valley's Mattina Di Giugno / Sorella Holst<br>
                    2. Bcn Never Never Land Q'Killer Mini / Laura Taimioja<br>
                    3. Lrn Lago D'Amoren Ragazza Balda /Tere Jääskeläinen<br>
                </p>
                <p>
                    <b>Paras rally-toko -koira: </b><br />
                    1. Apkn Wirneen Just Jetsulleen / Maria Rostua<br>
                    2. Lrn Lago D'Amoren Ragazza Balda / Tere Jääskeläinen<br>
                    3. Ln Helkyn Mesimarja / Anna-Mari Matikainen<br>
                    3. Pkcu Pkcu Leaf-Field's Unchain My Heart / Britta Henriksson<br>
                </p>
                <p>
                    <b>Monipuolisin harrastuskoira: </b><br />
                    1. Pkcu Leaf-Field's Unchain My Heart / Britta Henriksson<br>
                    2. Lrn Lago D'Amoren Ragazza Balda / Tere Jääskeläinen<br>
                    3. Pkcu Lumipilven Onnenpotku / Barbro Henriksson<br>
                </p>
                <p>
                    <b>Spn Laran muistopalkinto: </b><br />
                    Merja Helin
                </p>
                <p>
                    <b>Vuoden tulokas: </b><br />
                    Jonna Eklund<br>
                </p>

                <p>
                    <b>K&auml;ytt&ouml;valion arvo: </b><br />
                    Bcu For The Win Jack / Mirva Vainio<br>
                    Beu Nö / Martina Westman<br>
                    Ssu Rissies Nordic Spirit / Bo Wiksten<br>
                </p>

                <p>
                    <b>Rally-toko -valion arvo: </b><br />
                    Apkn Wirneen Just Jetsulleen / Maria Rostua<br>
                </p>

            </div>
            <br />
            <div>
                <h4> <strong>Vuosi 2017</strong></h4>
                <br />
                <p>
                    <b>Paras palveluskoira: </b><br />
                    1. Bptn Flying Orange De Haute Volee, Pernilla Tallberg<br>
                    2. Lbu Helkyn Roquefort, Maria Vilenius<br>
                    3. Spn Musketeer's Friidu, Maarit Isaksson<br>
                </p>
                <p>
                    <b>Paras hakukoira: </b><br />
                    Apkn Apple Bloom Never Ending Story, Marian Ahlskog-Karhu<br>
                </p>
                <p>
                    <b>Paras j&auml;kikoira: </b><br />
                    Bcu For The Win Jack, Mirva Vainio<br>
                </p>
                <p>
                    <b>Paras etsintäkoira: </b><br />
                    Lbu Helkyn Roquefort, Maria Vilenius<br>
                </p>
                <p>
                    <b>Paras tokokoira: </b><br />
                    1. Ssn Zirnal Opium Rose, Anna-Mari Heikinheimo<br>
                    2. Bcu Tronic Hammer, Sirkka Hautsalo<br>
                    3. Apkn Apple Bloom Never Ending Story, Marian Ahlskog-Karhu<br>
                </p>
                <p>
                    <b>Paras rally-toko -koira: </b><br />
                    1. Lrn Lago D'Amoren Ragazza Balda, Tere Jääskeläinen<br>
                    2. Apkn Wirneen Just Jetsulleen, Maria Rostua<br>
                    3. Lbu Helkyn Roquefort, Maria Vilenius<br>
                </p>
                <p>
                    <b>Monipuolisin harrastuskoira: </b><br />
                    1. Lrn Lago D'Amoren Ragazza Balda, Tere Jääskeläinen<br>
                    2. Ssn Zirnal Opium Rose, Anna-Mari Heikinheimo<br>
                    3. Apkn Apple Bloom Never Ending Story, Marian Ahlskog-Karhu<br>
                    4. Landsn Mareus Dashing Faerie, Christina Mielonen<br>
                    5. Beu Nö, Martina Westman<br>
                </p>
                <p>
                    <b>Spn Laran muistopalkinto: </b><br />
                    Sanna Toivoniemi
                </p>
                <p>
                    <b>Arvostettu jäsen: </b><br />
                    Moritz Lindroos<br>

                    <br>
                </p>
                <p>
                    <b>K&auml;ytt&ouml;valion arvo: </b><br />
                    Apkn Apple Bloom Never Ending Story, Marian Ahlskog-Karhu (HK)<br>
                    Spn Musketeer's Friidu, Maarit Isaksson (EK)<br>
                    Bptn Flying Orange De Haute Volee, Pernilla Tallberg (HK)<br>
                    Kknu Curlicue's Indiana Jones, Katri Vuori (HK)<br>
                    Lbu Helkyn Roquefort, Maria Vilenius (EK)<br>
                </p>
                <p>
                    <b>Vesipelastusvalion arvo: </b><br />
                    Landsn Mareus Dashing Faerie, Christina Mielonen<br>
                </p>
                <br />
            </div>

            <div>
                <h4><strong>Vuosi 2016</strong></h4>
                <br />
                <p>
                    <b>Paras Palveluskoira:  </b><br />
                    1. Bcu For The Win Jack, Mirva Vainio<br>
                    2. Ssu Rissies Nordic Spirit, Bo Wiksten<br>
                    3. Lbu Helkyn Roquefort, Maria Wilenius<br>
                </p>
                <p>
                    <b>Paras J&auml;lkikoira:  </b><br />
                    Ssu Rissies Nordic Spirit/Bo Wiksten<br>
                </p>
                <p>
                    <b>Paras Hakukoira:  </b><br />
                    Apkn Apple Bloom Never Ending Story, Marian Ahlskog-Karhu<br>
                </p>
                <p>
                    <b>Paras Etsint&auml;:  </b><br />
                    Bcu For The Win Jack, Mirva Vainio<br>
                </p>
                <p>
                    <b>Paras Tokokoira:  </b><br />
                    1. Bcu Lapint&auml;hti &Aring;drastos, Sirkka Hautsalo<br>
                    2. Apkn Wirneen Just Jetsulleen, Maria Rostua<br>
                    3. Apkn Apple Bloom Never Ending Story, Marian Ahlskog-Karhu<br>
                </p>
                <p>
                    <b>PARAS RALLY-TOKO -KOIRA </b><br />
                    1. Kroat.paimenk Tuus Laventelilulla, Eija Hyv&auml;ttinen<br>
                    2. Apkn Wirneen Just Jetsulleen, Maria Rostua<br>
                    3. Bcu Lapint&auml;hti &Aring;drastos, Sirkka Hautsalo<br>
                </p>
                <p>
                    <b>Monipuolisin Harrastuskoira:  </b><br />
                    1. Apkn Wirneen Just Jetsulleen, Maria Rostua<br>
                    2. Hwn Steinroller Sigrid, Sanna Piilinen<br>
                    3. Lrn Lago D'Amoren Ragazza Balda, Tere J&auml;&auml;skel&auml;inen<br>
                </p>

                <p>
                    <b>Spn Laran Muistopalkinto: </b>
                    Krista Forsblom<br>
                </p>
                <p>
                    <b>Arvostettu J&auml;sen: </b>
                    Mirva Vainio<br>
                </p>
                <p>
                    <b>Vuoden Tulokas: </b>
                    Lisbeth Pohjanpelto<br>
                </p>
                <br>


                <p>
                    <b>K&auml;ytt&ouml;valion Arvo: </b>
                    Bcu For The Win Jack, Mirva Vainio (EK)<br>
                    Bptn Flying Orange De Haute Volee, Pernilla Tallberg (EK)<br>
                    Ssn Rissies Quick Lady, Maiju Wiksten (JK)<br>
                    Lbu Helkyn Roquefort, Maria Wilenius (JK)<br />
                </p>
            </div>
            <br />
            <div>
                <h4><strong>Vuosi 2015</strong></h4>
                <br />
                <p>
                    <b>Paras Palveluskoira:  </b><br />
                    1. Lbu Helkyn Roquefort/Maria Wilenius<br>

                    2. Bcu For The Win Jack/Mirva Vainio<br>

                    3. Ssu Rissies Nordic Spirit/Bo Wiksten
                </p>


                <p>
                    <b>Paras Tokokoira:  </b><br />
                    1. Cn Zinnia's Ghea Catalina/Arja Siren-B&auml;ckman<br>

                    2. Lrn Lago D'Amoren Ragazza Balda/Tere J&auml;&auml;skel&auml;inen<br>

                    3. Apkn Apple Bloom Never Ending Story/Marian Ahlskog-Karhu
                </p>


                <p>
                    <b>Monipuolisin Harrastuskoira:  </b><br />
                    1. Knu Curlicue's Indiana Jones/Katri Vuori <br>

                    2. Lrn Lago D'Amoren Ragazza Balda/Tere J&auml;&auml;skel&auml;inen <br>

                    3. Ssu Rissies Nordic Spirit/Bo Wiksten
                </p>


                <p>
                    <b>Spn Laran Muistopalkinto: </b>
                    Carita Fosberg-Heikkil&auml;
                </p>

                <p>
                    <b>Arvostettu J&auml;sen: </b>
                    Marian Ahlskog-Karhu
                </p>

                <p>
                    <b>Vuoden Tulokas: </b>
                    Rhonda Holst
                </p>

                <p>
                    <b>K&auml;ytt&ouml;valion Arvo: </b>
                    Lbu Helkyn Roquefort, Maria Wilenius (HK)<br />


            </div>
            <br />
            <div>
                <h4><strong>Vuosi 2014</strong></h4>
                <br />
                <p>
                    <b>Paras Palveluskoira: </b>
                    ssu Boss vom Hatzbachtal, ohj. Bo Wiksten
                </p>


                <p>
                    <b>Paras Tokokoira: </b>
                    bcu Lapintähti Ådrastos, ohj. Sirkka Hautsalo
                </p>


                <p>
                    <b>Monipuolisin Harrastuskoira: </b>
                    lrn Lago D'Amoren Ragazza Balda, ohj Tere Jääskeläinen
                </p>


                <p>
                    <b>Spn Laran Muistopalkinto: </b>
                    Christina Mielonen
                </p>



                <p>
                    <b>Vuoden Tulokas: </b>
                    Katri Vuori
                </p>
            </div>
            <br />
            <div>
                <h4><strong>Vuosi 2013</strong></h4>
                <br />
                <p>
                    <b>Paras Palveluskoira: </b>
                    Knu Vassruggens Yngwie Frej, ohj. Heidi Levander
                </p>


                <p>
                    <b>Paras Tokokoira: </b>
                    Apkn. Wollfhouse-Caratia Ig's Best Friend, ohj Hanna Vilenius
                </p>


                <p>
                    <b>Monipuolisin Harrastuskoira: </b>
                    Knu Vassruggens Yngwie Frej, ohj. Heidi Levander
                </p>


                <p>
                    <b>Spn Laran Muistopalkinto: </b>
                    Susanna Stark
                </p>


                <p>
                    <b>Vuoden Tulokas: </b>
                    Moritz Lindroos
                </p>

                <p>
                    <b>K&auml;ytt&ouml;valion Arvo: </b><br />
                    Knu Vassruggens Yngwie Frej, om Heidi Levander<br />
                    Spn Musketeers Friidu, om Maarit Isaksson
                </p>

            </div>
            <br />
            <div>
                <h4><strong>Vuosi 2012</strong></h4>
                <br />
                <p>
                    <b>Paras Palveluskoira: </b>
                    Knu Vassruggens Yngwie Frej, ohj. Heidi Levander
                </p>


                <p>
                    <b>Paras Tokokoira: </b>
                    Kroatpn Tuus Laventelilulla, ohj. Eija Hyvättinen
                </p>


                <p>
                    <b>Monipuolisin Harrastuskoira: </b>
                    Knu Vassruggens Yngwie Frej, ohj. Heidi Levander
                </p>


                <p>
                    <b>Spn Laran Muistopalkinto: </b>
                    Anna-Mari Matikainen
                </p>

                <p>
                    <b>Arvostettu Jäsen: </b>
                    Maarit Isaksson
                </p>

                <p>
                    <b>Vuoden Tulokas: </b>
                    Martina Westman
                </p>

                <p>
                    <b>K&auml;ytt&ouml;valion Arvo: </b><br />
                    Bcu Emen Em's Dino
                </p>

                <p>
                    <b>Tottelevaisuusvalion Arvo: </b><br />
                    Kroatpn Tuus Laventelilulla, ohj. Eija Hyvättinen<br />
                    Apkn Wolffhouse-Caratia Ig's Best Friend, ohj. Hanna Vilenius
                </p>
            </div>
            <br />
            <div>
                <h4><strong>Vuosi 2011</strong></h4>
                <br />
                <p>
                    <b>Yhdistyksen paras koira (pk-lajit): </b>
                    knu Vassruggens Yngwie Frej, ohj. Heidi Levander
                </p>
                <p>
                    <b>Paras maastokoira: </b>
                    knu Vassruggens Yngwie Frej, ohj. Heidi Levander
                </p>
                <p>
                    <b>Paras j&auml;lkikoira: </b>
                    Bcu Emen Em's Dino, ohj. Mirva Vainio
                </p>
                <p>
                    <b>Paras hakukoira: </b>
                    Apku Gun Lake Breakdancer, ohj. Marian Ahlskog-Karhu
                </p>
                <p>
                    <b>Aktiivisin kilpailija (pk-lajit): </b>
                    Heidi Levander
                </p>
                <p>
                    <b>Paras tokokoira: </b>
                    Bcu Emen Em&rsquo;s Dino, ohj. Mirva Vainio
                </p>
                <p>
                    <b>Paras agilitykoira: </b>
                    Cpku Steadwyn Sapphire Blue, ohj. Arja Sir&eacute;n-B&auml;ckman
                </p>
                <p>
                    <b> Kaveria ei j&auml;tet&auml;, pelastuskoiratoiminta: </b>
                    Terhi Yl&ouml;stalo
                </p>
                <p>
                    <b>Spn Laran muistopalkinto: </b>
                    Heidi Levander
                </p>
                <p>
                    <b> Vuoden tulokas: </b>
                    Anna Mannermaa
                </p>

                <p>
                    <b>Arvostettu j&auml;sen: </b>
                    Jukka Miettinen
                </p>
                <p>
                    <b>
                        VALIOT:  <br />
                        KVA:
                    </b><br />
                    apku Gun Lake Breakdancer, ohj. Marian Ahlskog-Karhu<br />
                    bcu Emen Em&rsquo;s Dino, ohj. Mirva Vainio<br />

                    <b>VPVA: </b><br />
                    vpn Angry Brigade’s Free Birth ohj. Pirjo Lehti
                </p>
                <p class="smallcenter">
                    <img src="palkitut/yngwie.jpg" alt="Vassruggens Yngwie Frej" />
                    <img src="palkitut/elmer.jpg" alt="Gun Lake Breakdancer" />
                    <img src="palkitut/dino.jpg" alt="Emen Em&rsquo;s Dino" />
                    <img src="palkitut/pontus.jpg" alt="Steadwyn Sapphire Blue" /><br />
                    Vassruggens Yngwie Frej | Gun Lake Breakdancer | Emen Em&rsquo;s Dino | Steadwyn Sapphire Blue
                </p>
            </div>
            <br />
            <h4><strong>Vuosi 2010</strong></h4>

            <p>
                <b>Yhdistyksen paras koira (pk-lajit): </b>
                Bcu Emen Em&rsquo;s Dino, ohj. Mirva Vainio
            </p>
            <p>
                <b>Paras maastokoira: </b>
                Bcu Emen Em&rsquo;s Dino, ohj. Mirva Vainio
            </p>
            <p>
                <b>Paras j&auml;lkikoira: </b>
                Bcu Emen Em&rsquo;s Dino, ohj. Mirva Vainio
            </p>
            <p>
                <b>Paras hakukoira: </b>
                Apku Gun Lake Breakdancer, ohj. Marian Ahlskog-Karhu
            </p>
            <p>
                <b>Aktiivisin kilpailija (pk-lajit): </b>
                Mirva Vainio
            </p>
            <p>
                <b>Paras tokokoira: </b>
                Bcu Emen Em&rsquo;s Dino, ohj. Mirva Vainio
            </p>
            <p>
                <b>Paras agilitykoira: </b>
                Cpku Steadwyn Sapphire Blue, ohj. Arja Sir&eacute;n-B&auml;ckman
            </p>
            <p>
                <b>Kaveria ei j&auml;tet&auml;, pelastuskoiratoiminta: </b>
                Virve Mikkola
            </p>
            <p>
                <b>Spn Laran muistopalkinto: </b>
                Milla Savin
            </p>

            <p>
                <b> Vuoden tulokas: </b>
                Heidi Antti-Lindholm
            </p>

            <p>
                <b>Arvostettu j&auml;sen: </b>
                Bo ja Maiju Wiksten
            </p>
            <p>
                <b>VALIOT: </b>
                KVA  Apku Gun Lake Twist and Shout, ohj. Marian Ahlskog-Karhu
            </p>
            <p class="smallcenter">
                <img src="palkitut/dino.jpg" alt="Emen Em&rsquo;s Dino" />
                <img src="palkitut/elmer.jpg" alt="Gun Lake Breakdancer" />
                <img src="palkitut/pontus.jpg" alt="Steadwyn Sapphire Blue" />
                <img src="palkitut/red.jpg" alt="Gun Lake Twist and Shout" /><br />
                Emen Em&rsquo;s Dino | Gun Lake Breakdancer | Steadwyn Sapphire Blue | Gun Lake Twist and Shout
            </p>

        </div>
    </div>
    <!-- *** End Content *** -->
