
@{
    ViewBag.Title = "Peko";
}
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<link href="~/Content/Kuvat.css" rel="stylesheet" />
<br />
<div class="container margins">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-uppercase">Peko</h3>
            <br />
            <p>
                Peko- eli pelastuskoiratoiminnan tavoitteena on kouluttaa koiria siten, että niitä voidaan käyttää kadonneiden, 
                eksyneiden tai sortuneisiin rakennuksiin jääneiden ihmisten etsinnöissä. Pelastuskoiran tulee olla sekä 
                ihmisille että toisille koirille ystävällinen ja luottavainen. Sillä tulee olla erinomainen hajuaisti sekä taipumus sen 
                käyttämiseen ohjaajan ohjauksessa.
            </p>
            <br />
            <p>Pelastuskoirakoe muodostuu kolmesta eri osasuorituksesta: hallittavuus, jälkiosuus ja hakuosuus.</p>
            <br />
            <p>
                Pelastuskoiratoiminta asettaa vaatimuksia myös koiranohjaajalle. Ohjaajan tulee olla stressiä ja hankalia olosuhteita pelkäämätön. 
                Hänen tulee rehellisesti tiedostaa ja tunnustaa, sekä omat että koiran rajat toimittaessa vaativissa olosuhteissa. 
                Koiranohjaajan tulee kehittää myös omaa osaamistaan, mm. erilaisilla etsintä-, ensiapu-, suunnistus- ja viestintäkursseilla.
            </p>
            <br />
            <p class="small">Lähde: Suomen Palveluskoiraliitto </p>
            <br />
            <div>
                <p>Pelastuskoirakokeisiin voi osallistua kaiken rotuisilla – myös monirotuisilla – koirilla.</p>
                <div>
                    <h5 class="text-uppercase">Jos haluat lisätietoja Porvoon Palveluskoirat ry:n peko-toiminnasta, ota yhteyttä:</h5>
                    <p>jalki@porvoonpalveluskoirat.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="margin-top: 80px;">
                <img class="imghaku" src="~/Images/21082794_1832923823386220_6154811499762951885_o.jpg" />
                <img class="imghaku" src="~/Images/22096159_1871275699551032_2206730474488751354_o.jpg" />
                <img class="imghaku" src="~/Images/kuvat 352.JPG" />         
        </div>
    </div>
</div>

