
@{
    ViewBag.Title = "Peko";
}
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<br />
<div class="container" style="padding: 60px;">
    <div class="row">
        <div class="col-lg-6">
            <h3 style="margin-top:50px;">Pelastuskoira toiminta</h3>
            <br />
            <p>
                Pelastuskoiraksi nimitetään koiraa, joka on koulutettu siten, että sitä voidaan käyttää kadonneiden,
                eksyneiden tai sortuneisiin rakennuksiin jääneiden ihmisten etsinnöissä.
                Pelastuskoiran tulee olla sekä ihmisille että toisille koirille ystävällinen ja luottavainen.
                Sillä tulee olla erinomainen hajuaisti sekä taipumus sen käyttämiseen ohjaajan ohjauksessa.
            </p>
            <br />
            <p>
                Pelastuskoiratoiminta asettaa vaatimuksia myös koiranohjaajalle.
                Ohjaajan tulee olla stressiä ja hankalia olosuhteita pelkäämätön.
                Hänen tulee rehellisesti tiedostaa ja tunnustaa,
                sekä omat että koiran rajat toimittaessa vaativissa olosuhteissa.
            </p>
            <br />
            <p class="small">Lähde: Suomen Palveluskoiraliitto </p>
            <br />
            <div>
                <h5>Yhteystiedot</h5>
                <h5>Peko-vastaava:</h5>
                <p>peko@porvoonpalveluskoirat.fi </p>
            </div>
            <br />
            <div>
                <h5>Linkkejä</h5>
                <p><a href="http://www.vapepa.fi">www.vapepa.fi</a>  Vapaaehtoisen pelastuspalvelun verkkosivut</p>
                <p><a href="http://www.palveluskoiraliitto.fi">www.palveluskoiraliitto.fi</a></p>
            </div>
        </div>
        <div class="col-lg-6" style="margin-top: 100px;">
            <!--   <img src="pics/peko_1.jpg" /><br />-->
            <img src="~/Images/peko_1.jpg" width="500" height="263" />
            <br />
            <img src="~/Images/peko_2.jpg" width="500" height="300" alt="MEPE-treenit 11.7.09" style="margin-top: 20px;" />
            <br />MEPE-treenit 11.7.2009

        </div>
    </div>
</div>

