
@{
    ViewBag.Title = "Rallytoko";
}

<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<link href="~/Content/Kuvat.css" rel="stylesheet" />
<br />
<div class="container margins">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-uppercase">Rally-Toko</h3>
            <br />
            <p>
                Rally-toko on hauskaa aktivointia, jota voivat harrastaa kaikenikäiset ja kaiken kokoiset koirat ja ihmiset. 
                Tärkeintä radalla ja treeneissä on iloinen kontakti, liikkeet suoritetaan hymyssä suin, hännät heiluen. 
                Koiraa saa kehua ja kannustaa koko suorituksen ajan. Rally-toko yhdistää elementtejä tokosta, agilitystä ja koiratanssista. 
                Rally-tokon tavoitteena on ohjaajan ja koiran välinen hyvä yhteistyö sekä hyvän koirankäsittelytaidon opettaminen ohjaajalle. 
                Rally-tokossa suoritetaan erilaisia liikkeitä tehtäväkylttien määräämässä järjestyksessä. Koiraa saa ohjata sekä suullisin käskyin että 
                käsimerkein ja kannustaa koko suorituksen ajan.
            </p>
            <br />
            <p>
                Rally-tokokokeisiin voi osallistua kaiken rotuisilla – myös monirotuisilla – koirilla.
            </p>
            <br />
            <p class="small">Muokattu tekstistä: <a href="https://www.palveluskoiraliitto.fi/lajit/rally-toko.html">palveluskoiraliitto/Rally-toko</a> </p>
            <br />
            <div>
                <div>
                    <h5 class="text-uppercase">Jos haluat lisätietoja Porvoon Palveluskoirat ry:n rally-tokotoiminnasta, ota yhteyttä:</h5>
                    <p>rallytoko@porvoonpalveluskoirat.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="margin-top: 80px;">
            <!--   <img src="pics/peko_1.jpg" /><br />-->
            <img src="~/Images/peko_1.jpg" width="500" height="263" />
            <br />
            <img src="~/Images/peko_2.jpg" width="500" height="300" alt="MEPE-treenit 11.7.09" style="margin-top: 20px;" />
            <br />
        </div>
    </div>
</div>

