
@{
    ViewBag.Title = "Säännöt";
}
<br />
<div class="container margins">
    <h3 class="text-uppercase">Yhdistyksen säännöt</h3>
    <br />
    <p>
        2013 Voimaan tulleet säännöt (pdf)
    </p>
    <br />
    <h4>Muut dokumentit</h4>
    <br />
    <p>
        Jäsenanomuskaavake (pdf)
        <br />
        Henkilötietolain 10§ mukainen rekisteriseloste (pdf)
        <br />
        Yhdistyksen kiertopalkinto säännöt (pdf)
        <br />
        Juoksutodistus lomake (pdf)
    </p>
</div>