
@{
    ViewBag.Title = "Toko";
}

<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<link href="~/Content/Kuvat.css" rel="stylesheet" />
<br />
<div class="container margins">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-uppercase">Toko</h3>
            <br />
            <p>
                Tottelevaisuuskoulutuksen (toko) tavoitteena on opettaa koiralle asiallista ja hallittua käyttäytymistä sekä ohjaajalle koiran käsittelytaitoja. 
                Tottelevaisuuskokeissa (eli toko-kokeissa) testataan koulutuksen tasoa eli koiran ja ohjaajan välistä yhteistyötä ja koiralle opetettujen 
                liikkeiden hallintaa, saadaan tietoa koirien oppimiskyvystä sekä tarjotaan koirakolle harrastusmahdollisuus. Tottelevaisuutta voi harrastaa ilman kilpailullisia tavoitteita, 
                sillä perustottelevaisuus kuuluu jokaiselle koiralle ja se luo myös pohjan muiden lajien harrastamiselle.
            </p>
            <br />
            <p>Tottelevaisuuskokeeseen saavat osallistua kaikki tunnistusmerkityt ja Suomen Kennelliiton määräysten mukaisesti rokotetut 10 kk täyttäneet koirat. 
            Erikoisvoittajaluokkaan saavat osallistua 15 kk täyttäneet koirat. Tottelevaisuuskokeissa on neljä luokkaa: alokas-, avoin-, voittaja- ja erikoisvoittajaluokka. 
            Koira saa siirtyä luokasta toiseen yhden 1-palkinnon saatuaan ja sen pitää siirtyä kolmannen 1-palkinnon jälkeen.</p>
            <br />
            <p class="small">Muokattu tekstistä: <a href="https://www.palveluskoiraliitto.fi/lajit/tottelevaisuuskoe-toko.html">palveluskoiraliitto/Tottelevaisuuskoe</a> </p>
            <br />
            <div>
                <div>
                    <h5 class="text-uppercase">Jos haluat lisätietoja Porvoon Palveluskoirat ry:n toko-toiminnasta, ota yhteyttä:</h5>
                    <p>toko@porvoonpalveluskoirat.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="margin-top: 80px;">
            <!--   <img src="pics/peko_1.jpg" /><br />-->

            <img src="~/Images/maari.jpg" width="500" height="263" />
            <br />
            <img src="~/Images/IMG_4974.JPG" width="500" height="300" style="margin-top: 20px;"/>

            <br />
        </div>
    </div>
</div>

