
@{
    ViewBag.Title = "Tulokset2011";
}
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<br />
<div class="container margins">
    <div class="kenttä_margin">
        <h3>Tulokset 2011</h3>
        <br />
        <div>
            <h4><strong>07.05. Porvoo - IPOR HAKU B (MM-karsinta)</strong></h4>
            <br />
            <p>

                spu Sonorian Cherubino, Harri Kuusisto:
                T:45, K:42, M:195. Yht 282 RH-FL-B<br>
                bpmu T&auml;m&auml; On Ceriffi,  Marja-Leena Hituri:
                T:48, K:47, M:176. Yht 271 RH-FL-B<br>
                bcu Tronic Ibizorr,  Nina Pulli:
                T:36, K:46, M:185. Yht 267 RH-FL-B<br>
                knn Greenhills Golden Wind,  Virpi Nieminen:
                T:38, K:44, M:182. Yht 264 RH-FL-B<br>
                knu Vassruggens Sige Fafnesbane, Ohj. Heidi Levander:
                T:38; K:43, M:136. Yht 217<br>
                bpgu Taikurin Zing,  Kirsi Karmala:
                T:42, K:47, M:128. Yht 217<br>
                bpmu Galago Of Joli Troucheaus,  Kari Hirvonen:
                T:42, K:46, M:120. Yht 208<br>
                lbu Varjoahon Maorikunnas,  Milla Savin:
                T:37, K:40, M:91. Yht 168<br>
                evu Nartsukan Elegant Power,  Sam Widlund.
                T:36, K:39, M:0. Yht 75<br>

            </p>
        </div>
        <br />
        <div>
            <h4><strong>28.05. Porvoo - J&Auml;LKI 3 HAKU 3 PELASTUSHAKU</strong></h4>
            <br />
                <b>PAHA-3</b><br>

                Du A'dreams Odin, Kimmo Kivi t84 m173, yht. 257 HK3<br>
                Apku Gun Lake Breakdancer, Marian Ahlskog-Karhu t90 m188 yht.278 HK3<br>
                Lbu Lindbiski Mets&auml;npeikko,Asko Renkonen, poissa<br><br>
                <b>PAJ&Auml;-3</b><br>
                Bptu Macnillian Running Free, Susanna Stark, m162  kesk. <br>
                Mn Mustapippurin P&auml;iv&auml;ns&auml;de, Terhi Multam&auml;ki  t88 m183 yht.271 JK3<br>
                Du Red Label's Immemorial Idol, Ari Koskela m179 kesk. <br>
                Rwu Dustin vom Oberhausener Norden, Erja Hy&ouml;kki, t65 m26 yht. 91<br>
                Aku Bestseller Feelgood, Marjo Halonen m28 kesk.<br><br>
                <b>PEHA</b><br>
                x-rotu Rauha, Marika Westman Hyv&auml;ksytty <br>
                Pvu Hooligan Rio Grande, Virve Lipsanen Hyv&auml;ksytty <br>
                Lbu Lost and Found Brie, Anna-Mari Matikainen Hyv&auml;ksytty <br>
                Ssn Tintenfass Klarinett, Ronny Jokinen Hyl&auml;tty <br>
                Knu Vassruggens Sige Fafnesbane, Petteri Hotinen Hyv&auml;ksytty <br>
                Knu Vassruggens Yngwie Frej, Heidi Levander Hyv&auml;ksytty <br>
            </p>
        </div>
        <br />
        <div>
            <h4><strong>09.06. Porvoo - J&Auml;LKI 1</strong></h4>
            <br />
            <p>
                Ssn Silsile's On The Rocks, P&auml;ivi R&auml;ikk&ouml;nen, t 79 m 190 yht:269 JK1
                <br>
                Rwn Manouman Elli Rajaton, Birgitta Tommila, t 77 m 180 yht:257 JK1
                <br>
                Bpgn Nallehukan Prima, Ulla Rajalin, t 95 m 158 yht:253 JK1
                <br>
                Bvu Wolttivuoren Cake, Sanna Hedman, t 74 m 175 yht:249 JK1
                <br>
                Spn Sissinheimon Gina, Anu Brofeldt-Ahonen, t 61 m 192 yht:253
            </p>

        </div>
        <br />
        <div>
            <h4><strong>21.06. Porvoo - IPOR Soveltuvuus</strong></h4>
            <br />
            <p>
                1. pvu Pennydale Dexter, ohj. Jorma Korhonen: 192p (T: 92/100, M: 100/100) RH-FLE<br>

                2. slov.cuvac n Alla Von Der Stockher Halde, ohj. Virve Mikkola: 186p (T: 91/100, M: 95/100) RH-FLE<br>

                3. nsnu Peikkolinnan Simba, ohj. Raija Sj&ouml;str&ouml;m: 185p (T: 85/100, M: 100/100) RH-FLE<br>

                4. landseer n Mareus Dashing Faerie, ohj. Tiina Mielonen: 183p (T: 88/100, M: 95/100) RH-FLE<br>

                5. vpu Power Dog's Handsome Boy, ohj. Malena Blomqvist: 179p (T. 94/100, M: 85/100) RH-FLE<br>

                6. bpgn Valkohampaan Xena, ohj. Sari K&ouml;ck: 162p (T: 87/100, M: 75/100) RH-TE<br>

            </p>
        </div>
        <br />
        <div>
            <h4><strong>01.09. Porvoo - J&Auml;LKI 1 </strong></h4>
            <br />
            <p>
                Bn Givemefive Betty Boop, Sirpa Annala,  m.186 t.85 yht 271p JK 1/I<br>
                Rwu Luckyweilers Arrow, Sirpa Perttula,  m. 168, t. 90 yht. 258p JK 1/II<br>
                Apn Doubleyou`s Witzzy Wowwow, Sanna Muuri,  m. 176, t. 67 yht. 243p<br>
                Bcn Sigma, Virve Sormunen, Hyvink&auml;&auml; m. 126, t.91 yht. 217 p<br>
                Espu Gotcha Baloo, Camilla Rautakoski,  m. 126 t. 76 yht. 202<br>
                Ssn Giteas Domenica, Birgitta Harju, m. 118 t. 70 yht. 187<br>

            </p>

        </div>
        <br />
        <div>
            <h4><strong>24.-25.9.2011 IRO-KOE Pelastushaku RH-FL A+B</strong></h4>
            <br />
            <p>
                24.09.2011 RH-FL A <a href="tulokset_akoe.htm">Tulokset (html)</a>
                <br />
                24.- 25.09.2011 RH-FL B
                <a href="tulokset_bkoe.htm">Tulokset (html)</a>
            </p>
        </div>
    </div>
</div>


