
@{
    ViewBag.Title = "Tulokset2016";
}
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<br />
<div class="container margins">
    <div class="kenttä_margin">

        <h3>Tulokset 2016</h3>
        <br />
        <div>
            <h4><strong>Hakukoe 16.6.2016</strong></h4>
            <p>
                Tuomari Juha Kuronen</br>
                </br>
                PAHA3</br>
                1. bpmu KIIRASTULEN AATOS, Petra Bergström 278/300 M:187 T:91 HK3 </br>
                2. bpmu PYSÄKIN EXPERT, Marika Rajalampi 262/300 M:180 T:82 HK3 </br>
                apkn APPLE BLOOM NEVER ENDING STORY, Marian Ahlskog-Karhu 227/300 M:145 T:82 </br>
                bpmn PYSÄKIN GEIJU Kristiina Sarjokari 184/300 M:100 T:84</br>
  
            </p>
        </div>
        <br />
        <div>
            <h4><strong>Rally-toko 11.6.2016</strong></h4>
            <br />
            <p>
                Tuomari Tiia H&auml;m&auml;l&auml;inen
            </p>
            ALO-luokka:<br />
            1. Eloisa Pimu, narttu, belgianpaimenkoira, groenendael, Tikkanen Sannamari, 96p, RTK1<br />
            2. Clafouti, uros, welsh corgi pembroke, Silander Kaisa, 89p<br />
            3. Noppa, uros, Jokinen Varpu, 86p, RTK1<br />
            Sissinheimon Nexe, narttu, saksanpaimenkoira, Rehnström Helena, 79p, TP<br />
            Neris Grafika, narttu, landseer, Koski Marika, 84p<br />
            Bellaclan Royal Affair, uros, bordercollie, Tastula Hanna-Leena, 83p<br />
            Rival Attraction’s Ridiculous Ronja, narttu, berninpaimenkoira, Remitz Anita, 81p<br />
            Wili, uros, Henriksson Pia, 80p<br />
            Dixi, narttu, Wiksten Linda, 78p<br />
            Leith Bhrogan Gloria Gaynor, narttu, vehnäterrieri, Nikkanen Kati, 76p, RTK1<br />
            Bernerdalens Odin, uros, berninpaimenkoira, Lönnberg Jenni, 76p, RTK1<br />
            Black Master’s Mystic-Knight, uros, belgianpaimenkoira, tervueren, Lehtinen Sanna, 73p<br />
            Ettäänperän Mörrimöykky, uros, suomenlapinkoira, Laine Jenni, 0 <br />
            Elsa, narttu, papillon, Rehn Maria, 0<br />
            Mandaraban Boogie Woogie, narttu, lagotto romagnolo, Backlund Pia, 0<br />
            Springpaws Action Man, uros, kultainennoutaja, Pohjanpelto Lisbeth, 0<br />
            Bearvvis Kuunloiste, narttu, suomenlapinkoira, Remitz Anita; 0<br />
            Aquacrest Nice To Be Noted, narttu, espanjanvesikoira, Kantokorpi Saara, 0<br />
            <br />
            AVO-luokka:<br />
            1. Tuus Laventelilulla, narttu, kroatianpaimenkoira, Hyvättinen Eija, 95p<br />
            2. Finnabair North American Nebulon, uros, glen of imaalinterrieri, Honkanen Milja, 89p<br />
            3. Bonecrusher Grande Illusion, uros, bullterrieri, Hallman Merrit, 88p, RTK2, TP<br />
            Pettydude’s First Prize, narttu, pitkäkarvainen collie, Heikkinen Anne-Maaret, 81p, RTK2<br />
            Nicky, narttu, Viheriävaara Petra, 0<br />
            Skyfortuna, narttu, pitkäkarvainen collie, Palomäki Teija, 0<br />
            Rene, uros, Ollila Noora, 0<br />
            Pauper’s Agatha, narttu, cairnterrieri, Ruuhonen Suvi, 0<br />
            <br />
            VOI-luokka<br />
            1. Cabaroo Magma Flow, narttu, bordercollie, Böckerman Nadja, 96p<br />
            2. Ar’tfulfox’s Hazzling Beauty, narttu, belgianpaimenkoira, tervueren, Porvari Sari, 96p, RTK3<br />
            3. Aquatic Mama Cocha, narttu, espanjanvesikoira, Jokela Nora, 93p<br />
            Hyberhyber Puhuri, narttu, mudi, Mäki Oona, 91p, TP<br />
            Vehnäpellon Glitter, narttu, vehnäterrieri, Erkiö Satu, 90p<br />
            Flying Orange De Haute Volee, narttu, belgianpaimenkoira, tervueren, Tallberg Pernilla, 79p<br />
            Pikkupaimenen Smokey Robinson, uros, bordercollie, Tastula Hanna-Leena, 72p<br />
            Royal Coctail Lucky Star, narttu, australiankelpie, Wathén Hanna, 0<br />
            Hillraisins Alvin, uros, labradorinnoutaja, Tahvanainen Sanna, 0<br />
            Santos’souriant Aurelie Noir, narttu, australiankelpie, Lahtimo Johanna, 0<br />
            Cara Fionn Eilish, narttu, vehnäterrieri, Rytkönen Tanja, 0<br />
            Wild Vision Aragorn, uros, staffordshirenbullterrieri, Ahonen Kaisa, 0<br />
            <br />
            MES-luokka<br />
            1. Takkutukan Vihuri, narttu, mudi, Mäki Oona, 93p<br />
            2. Asandzan Celestia, narttu, sileäkarvainen collie, Ristimäki Katri, 92p<br />
            3. Kepposen Rudolf, uros, shetlanninlammaskoira, Pietiläinen Katja Gabriella, 89p<br />
            Amnastar’s Brazilian Magic Dancer, uros, villakoira, kääpiö, Kangas-Lång Kea, 85p, RTK4, TP<br />
            Vehnäpellon Elohopea, narttu, vehnäterrieri, Liuhto Iira, 82p, RTK4<br />
            Foogel Bastiano, uros, lagotto romagnolo, Kostylev Tuulikki, 78p<br />
            Last Minute Rose Doolan, narttu, villakoira, keskikokoinen, Liuhto Iira, 74p<br />
            Tammitörmän Smaragdi, narttu, saksanmetsästysterrieri, Lehmonen Katri, 73p<br />
            My Big Dream Happiness, narttu, espanjanvesikoira, Janhonen Heli, hyl<br />
            Susitievan Akaatti, narttu, siperianhusky, Heikkinen Elina, 0<br />
            Vehnäpellon Fiasko, uros, vehnäterrieri, Erkiö Satu, 0<br />
            Ruffenuff Peppermint Twist, narttu, pitkäkarvainen collie, Bechstein Heidi, hyl<br />
            Geijes Artful Eye, narttu, kerrynterrieri, Ahonen Laura, hyl<br />
            Kotitontun Adalmiina, narttu, bouvier, Mäkelä Hannele, 0<br />
            Kotitontun Dahlia, narttu, bouvier, Mäkelä Hannele, hyl<br />
        </div>
        <br />
        <div>
            <h4><strong>Jälkikoe 16.5.2016 Porvoo</strong></h4>
            <br />
            <p>
                Tuomari, Juha Kuronen ja Samuli Juntto
            </p>
            VOI<br />
            1. lbu, Helkyn Roquefort, Maria Wilenius 286/300 M:190 T:96 JK3 ->KVA<br />
            2. spn, Musanterin Anis, Fiia Berghem 273/300 M:191 T:82 JK3 ->KVA<br />
            3. spu, Musketeer's Hari, Vesa Kuosmanen 250/300 M:164 T:86 JK3 <br />
            4. dn, Red Label's Lively Lizzie, Ari Koskela 242/300 M:155 T:87 JK3 <br />
            AVO<br />
            beu, Moisionmäen Fiilis, Mari Kurenmaa 146/300 M: 61 T:85<br />
            spn, Musketeer's Indiana, Essi H&auml;m&auml;l&auml;inen 252/300 M:188 T:64 <br />
            ALO<br />
            1. Bpmn Ruutipussi Qvick, Susanna Stark 270/300 M:187 T:83 JK1<br />
            Rwn Cayenne Vom Rottberg, Kaija Alander 94/300 M: 94 T- Ohjaaja luopui<br />
            <br />
            <p> 	<img src="pics/jalki160516.jpg" /> </p>
            <h5 id="left">Pelastusj&auml;lkikoe 11.5.2016 Porvoo</h5>
            <p>
                Tuomari, Juha Kuronen<br />
                Ssu, Voyager's Robbie Williams,Katja Parkkinen hyväksytty Pej&auml;-A<br />
                Bcu, Jaska, Ritva Holmström, hyväksytty Pej&auml;-A<br />
                Aku, Kelmi Nuhteeton Aulis, Merja Järveläinen hylätty<br />
        </div>
        <br />
        <div>
            <h4><strong>Etsint&auml;koe 5.5.2016 Porvoo</strong></h4>
            <br />
            <p>
                Tuomari, Juha Kuronen<br />
                PAEK VOI<br />
                1. bptn, Flying Orange De Haute Volee, Pernilla Tallberg 290/300 M:196 T:94 EK3<br />
                2. spn, Musketeer´s Friidu, Maarit Isaksson 281/300 M:186 T:95 EK3<br />
                3. bcu, For the Win Jack, Mirva Vainio 276/300 M:182 T:94 EK3<br />
                4. knu, Härkäpää Roope, Sirpa Vatanen 263/300 M:174 T:89 EK3 <br />
                5. lbu, Helkyn Roquefort, Maria Wilenius 260/300 M:167 T:93 EK3<br />
                6. bpgn, Nallehukan Prima, Ulla Rajalin 254/300 M:163 T:91 EK3<br />

            </p>
        </div>
        <br />
        <div>
            <h4><strong>K&auml;ytt&auml;ytymiskoe 4.5.2016 Porvoo</strong></h4>
            <br />
            <p>
                <br />
                Vpku, Veshukan Yasu, Sinna Kunttu, PAKK 1 hyv&auml;ksytty BH<br />
                Csku, Koiruuksien Nelson Manteli, Siiri Rantala, PAKK 1 hyv&auml;ksytty BH<br />
                Ssn, Saturain Only For Money, Virve Kerttula, PAKK 0 ei hyv&auml;ksytty<br />
            </p>
        </div>
    </div>
</div>
    <!-- *** End Content *** -->
