
@{
    ViewBag.Title = "Tulokset2012";
}

<br />
<div class="container margins">
    <div class="kenttä_margin">
        <div>
            <h3>Tulokset 2012 - 2013</h3>
            <br />
            <div>
                <h4><strong>Toko Seuramestaruus 14.5.2013 Porvoo</strong></h4>
                <br />
                <p>
                    Ylituomari Anne Nokelainen<br />
                    ALO<br />
                    Lbn Namusillan Murre, Heidi Antti-Lindholm ALO1 187,00	<br />
                    Bpmn Tammikallion Leonine, Carolina Vilenius ALO1 TK1 182,00	<br />
                    Spn Aufgeweckt Bianka, Monica Wilenius ALO2 157,00	<br />
                    Apkn Wolffhouse-Caratia Nothing Else Matters, Hanna Vilenius ALO2 155,50	<br />
                    Apkn Tres Colores Zoom to Caratia, Carita Servin-Honkasalo ALO3 137,00	<br />
                    AVO<br />
                    Vpn Angry Brigade´s Free Birth, Pirjo Lehti AVO1 161,50	<br />
                    Bcu Solvallarens Bruno, Maria Niska AVO3 103,00	<br />
                    Knu Willowfield's Deal Me Hearts, Tuula & Janina Taskinen  AVO0 0,00	<br />
                    VOI<br />
                    Knu Vassruggens Sige Fafnesbane Heidi Levander VOI1 264,00	<br />
                    Bu Hazelpikbox Divart Antei-Alcor, Martina Westman VOI2 235,00	<br />
                    Vehnäterrierin Leith Bhrogan Gloria Gaynor, Kati Nikkanen VOI2 233,00	<br />
                    Bpgn Ikimuiston Luoteistuuli, Laitinen Saija VOI2 231,00	<br />
                    Landseern Mareus Dashing Faerie, Tiina Mielonen VOI0 90,00	<br />
                    EVL<br />
                    Apkn Wolffhouse-Caratia Ig's Best Friend, Hanna Vilenius EVL2 251,00	<br />
                    Bcu Lapintähti Ådrastos, Siri Hautsalo EVL0 177,00	<br />
                    Lrn Mandaraban Mirabella Tere Jääskeläinen EVL0 127,50	<br />
                </p>
            </div>
            <br />
            <div>
                <h4><strong>Jälki 1 3, 13.06.2013, Porvoo</strong></h4>
                <br />
                <p>
                    Vastaava tuomari, Juha Kuronen<br />
                    Jälki 1<br />
                    Apku Särkivaaran Tosi Mahoton, Tuula Kuokkanen 30/170/91 PAJÄ1 1 291 JK1<br />
                    Vpu Power dog´s High hope,Heini Kilappa 29/128/84 PAJÄ1 2 241 JK1<br />
                    Ssn Amories Elektra, Inka Tamminen 29/129/57 PAJÄ1 0 215 -<br />
                    Du Merrel vom Ferrenberg, Sari Törmälä 27/112/- PAJÄ1 0 139 -<br />
                    Jälki 3<br />
                    Bptu Macnillian Running Free, Susanna Stark 29/163/73 PAJÄ3 2 265 JK3<br />
                    SSu Silsile's Maximum Craft, Päivi Räikkönen 26/168/59 PAJÄ3 0 253 -<br />
                </p>
            </div>
            <br />
            <div>
                <h4><strong>EK 1 2 3, 05.10.2013, Porvoo</strong></h4>
                <br />
                <p>
                    Vastaava tuomari, Juha Kuronen<br />
                    EK 1 <br />
                    Apku Särkivaaran Tosi Mahoton, Tuula Kuokkanen 30/67/60/20/-/62 PAEK1 0 239 –<br />
                    EK 2<br />
                    Lbu FI TVA FI VPVA FI KVA HK3 EK3 JK1 BH AD Pikku-uikun Tusse Patukka, Emma Alve 30/66/56/-/16/81 PAEK2 2 249 EK2<br />
                    Bcu Tending Conqueror, Sirke Viitanen 27/-/60/17/20/- PAEK2 0 124 -&nbsp; <br />
                    EK 3<br />
                    bcn Wildmagpie's Muffin, Emmi Lavikka 30/68/59/19/18/87 PAEK2 1 281 EK2<br />
                    Bptu Macnillian Running Free, Susanna Stark 27/37/55/20/18/- PAEK3 0 157 -<br />
                    Dn Park Hill's Desdemona, Marika Koskinen -/35/50/-/-/- PAEK3 0 85 -<br />
                </p>
            </div>
            <br />
            <div>
                <h4><strong>IPOR Raunio 19.10.2013 Porvoo</strong></h4>
                <br />
                <p>
                    Vastaava tuomari, Sirpa Pellikka<br />
                    Snn Eipä's Funtsaa, Elina Rancken 140/85 PERA-A 3 225 RH-T A<br />
                    Nsnu, Siipiveikon Hanhenhoukuttelija, Hanna Laasanen -/188/79 PERA-A 2 267 RH-T A <br />
                    Spu Heleros Argon, Jaakko Vaahtoniemi -/174/88 PERA-A 2 262 RH-T A<br />
                    Ssn Sunique Talisman, Katja Parkkinen -/147/81 PERA-A 3 228 RH-T A<br />
                    Spn Heleros Tara, Katrin Vellesalu -/187/88 PERA-A 1 275 RH-T A<br />
                    Bcn iines, Kirsi Myöhänen -/192/84 PERA-A 1 276 RH-T A<br />
                    Lbu Juht Ivor, Kristi Kreitsmann -/133/80 PERA - A 0 213 -<br />
                    Bptn Hukkarullan Elämänilo, Mari Pihlajaniemi -/126/91 PERA-A 0 217 -<br />
                    Lbn Sophie For Dolbia Sykstus, Marilis Saul -/139/60 PERA-A 0 199 -<br />
                    Bpmn Kutinan Nappula, Piia Rantala -/0/86 PERA-A 0 85 –<br />
                </p>
            </div>
            <br />
            <div>
                <h4><strong>13.7. Porvoo - IPOR HAKU SM & MM-karsinta</strong></h4>
                <br />
                <p>
                    lbu	Lost And Found Brie,	Anna-Mari Matikainen,	88/186/274, sij.2 <br />
                    bpmu	T&auml;m&auml; On Ceriffi,	Marja-Leena Hituri,	87/165/252, sij.4 <br />
                    nsnn	Hedera&rsquo;s Well Favoured,	Satu Syv&auml;nper&auml;,89/129/218	 <br />
                    knu	Vassruggens Yngwie Frej,	Heidi Levander,	90/193/283, sij.1 <br />
                    bpmu	Dubion Legolas,	Ville Kalliom&auml;ki,	75/186/261, sij.3 <br />
                    x	Jeppe,	Linda Korenius,	75/75/150		 <br />
                    bptn	Hukkarullan El&auml;m&auml;nilo,	Mari Pihlajaniemi,	68/110/178	 <br />
                    <br /> <br />
                </p>
            </div>
        </div>
        <hr />
        <br />
        <div>
            <h3>Tulokset 2012</h3>
            <br />
            <div>
                <h4><strong>03.11. Porvoo - Haku 1,2,3</strong></h4>
                <br />
                <p>
                    <b>
                        Hakukoe 1
                    </b><br />
                    Ssu Boss vom Hatzbachtal, Bo Wiksten 77/25/102 <br />
                    Bptn Kuunsirpin Now Or Never, Heline H&ouml;gdahl 62/180/242 <br />
                    Bptn Macnillian Magica De Hex, Pernilla Tallberg 81/182/263 HK1 <br />
                    Bptn Cousin&rsquo;s Rayla, Jaana Silvo 83/187/270 HK1 <br />
                    Bu Hazelpikbox Divart Antei-Alcor, Martina Westman 76/197/273 HK1<br />
                    Lbu Helkyn Roquefort, Maria Wilenius 81/200/281 HK1 <br />

                    <br /><b>Hakukoe 2</b><br />
                    Bcu Mithrandir Blizzard, Mirja Luojus 73/74/147 <br />
                    Du Mezzrow&rsquo;s Arley, Marie Kallio 75/139/214 <br />

                    <br /><b>Hakukoe 3</b><br />
                    Bpmn Mecberger Hilppa, Anne Saukkonen 0/129/129 <br />
                    Knu Vassruggens Yngwie Frej, Heidi Levander 83/181/264 HK3 <br />
                </p>
            </div>
            <br />
            <div>

                <h4><strong>27.10. Porvoo - Match show</strong></h4>
                <br />
                <p>
                    <b>Best In Show</b><br />
                    1.	Snautseri Mitro & Auli Kaikkonen<br />
                    2.	Villakoira Rebecca & Tuula Westerlund<br />
                    3.	Dalmatiankoira Irpo  & Outi Vilkuna<br />
                    4.	M&auml;yr&auml;koira Kippo & Heidi Nurmi<br /><br />
                    <img src="pics/matsari.jpg" />
                </p>
            </div>
            <br />
            <div>
                <h4><strong>09.05. Porvoo - Toko</strong></h4>
                <br />
                <p>
                    <b>Seuramestaruudet</b> j&auml;rjest&auml;j&auml;n&auml; PORSK, <a href="docs/toko2012.pdf"> Tulokset (pdf)</a>
                </p>
            </div>
            <br />
            <div>
                <h4><strong>12.05. Porvoo - ETSINT&Auml;KOE 1,2,3</strong></h4>
                <br />
                <p>
                    <b>PAEK-3</b><br />
                    Pekka Mett&auml;l&auml;, Mithrandir Alpha, 280 p (M193, T87) EK3<br />
                    Mirva Vainio, EmenEm's Dino, 279 p (M189, T90) EK3<br />
                    Ulla Rajalin, Nallehukan Prima, 272 p (M181, T91) EK3<br />
                    Jaana J&auml;rvinen, Powepfote Cebada, 253 p (M182, T71) EK3<br />
                    Marjo Halonen, Bestseller Feelgood, 145 p (M145, -)<br />

                    <b>PAEK-2</b><br />
                    Pernilla Tallberg, Macnillian Magica De Hex, 251 p (M183, T68)<br />

                    <b>PAEK-1</b><br />
                    Susanna Stark, Macnillian Running Free, 286 p (M193, T93) EK1<br />
                    Marian Ahlskog-Karhu, Gun Lake Breakdancer, 267 p (M175, T92) EK1<br />
                    Ari-Pekka Salminen, Groots Avengance, 250 p (M168, T82) EK1<br />
                </p>
            </div>
            <br />
            <div>
                <h4><strong>07.06 Porvoo - K&Auml;YTT&Auml;YTYMISKOE</strong></h4>
                <br />
                <p>
                    aku Maiskis Naxe, ohj. Marika Muona: Hyl&auml;tty<br>

                    engspan Adamant&rsquo;s Perfect Edition, ohj. Petri Smolander: Hyl&auml;tty<br>

                    lbu Helkyn Roquefort, ohj. Maria Wilenius: Hyv&auml;ksytty BH<br>

                    esvn Nartsukan Elegant Queen, ohj. Henrietta Mikalunas: Hyl&auml;tty<br>

                    weimau Nobis Krug Unhook The Stars, ohj. Kaisa Kivipelto: Hyl&auml;tty<br>
                </p>
            </div>
            <br />
            <div>
                <h4><strong>13.06 Porvoo - IPOR RAUNIO A</strong></h4>
                <br />
                <p>
                    bcu Syker&ouml;n Potiac, Ari Malin 89/29/118 -<br>
                    bcu Tending Ower Power, Leea Saarela hyl&auml;tty/-<br>
                    bpmu Eloketun Eti&auml;inen, Reija Nieminen 94/35/129 -<br>
                    xn Rauha, Marika Westman 70/179/249 RH-TA<br>
                    spn Vi&rsquo;Waun Vappu, Sami Vertanen 60/186/246 -<br>
                </p>
            </div>
        </div>
    </div>
</div>

