
@{
    ViewBag.Title = "Tulokset";
}

<h2>Tulokset</h2>
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />

<!-- *** Start Content *** -->
<div class="imgetusivu">
    <div class="container margins">
        <!-- *** 2019 *** -->
        <div class="kenttä_margin">
            <div>

                <h2>Tulokset 2019</h2>
                <br />
                <h4><b>Jälkikoe 23.5.2019</b></h4>
                <br />
                <p>
                    <b>Vastaava tuomari:</b> Juha Kuronen<br />
                    <b>Koetoimitsija: </b> Maarit Isaksson<br />
                    <br />

                    PAJÄ1<br />
                    1. QUICKBUG APEP uros saksanpaimenkoira, Eija Ritovuori, 245/300 M:157 T:88 2. palkinto JK1<br />
                    WILD DREAM'S USWA narttu saksanpaimenkoira pitkäkarvainen, Tina Sirainen, 45/300 M:45 T:0 ohjaaja luopui<br />
                    <br />
                    PAJÄ3 <br />
                    1. TINTENFASS WANDERER HV'S DOTTER narttu suursnautseri musta, Tina Ek-Liechti, 283/300 M:190 T:93 1. palkinto JK3<br />
                    2. FOR THE WIN JACK uros bordercollie, Mirva Vainio, 252/300 M:166 T:86 2. palkinto JK3<br />
                    ZIRNAL OPIUM ROSE narttu suursnautseri musta, AnnaMari Heikinheimo, 146/300 M:146 T:0 ohjaaja luopui<br />
                    LUMIPILVEN ONNENPOTKU uros pitkäkarvainen collie, Barbro Henriksson, 127/300 M:127 T:0 ohjaaja luopui<br />

                </p>
                <br />
                <hr />
                <h4><b>Käyttäytymiskoe 19.4.2019</b></h4>
                <br />
                <p>
                    <b>Vastaava tuomari:</b> Juha Kuronen<br />
                    <b>Koetoimitsija:</b> Tina Ek-Liechti <br />
                    <br />
                    SHEPMATE'S EVIDENCE OF MIND POWER uros australianpaimenkoira, Marian Ahlskog-Karhu, hyväksytty BH<br />
                    MACNILLIAN YOU ALWAYS MAKE ME SMILE uros belgianpaimenkoira, tervueren, Jonna Eklund, hyväksytty BH<br />
                    RIPPER Z GARGAMELLU narttu saksanpaimenkoira, Rhonda Holst, hyväksytty BH<br />
                    QILLER Z GARGAMELLU uros saksanpaimenkoira, Rhonda Holst, hyväksytty BH<br />
                    VETIKONPERÄN KAAPO uros suomenlapinkoira, Jaana Kettunen, ei hyväksytty<br />
                    MUSANTERIN EELA narttu saksanpaimenkoira, Simo Rinne, ei hyväksytty<br />
                    QARMA Z GARGAMELLU narttu saksanpaimenkoira, Riikka Viinikka, hyväksytty BH<br />

                    <br /><hr />
                    <h4><b>Rally-tokokoe 26.1.2019</b></h4>
                    <br />
                <p>
                    <b>Vastaava tuomari:</b> Anna Pekkala <br />
                    <b>Koetoimitsija:</b> Sirkka Hautsalo<br />
                    <br />
                    ALO<br />
                    1. FOR THE WIN JACK, uros bordercollie, Mirva Vainio TP 100/100<br />
                    2. HEIKUNKEIKUN TULINEN RAKASTAJA, uros suomenlapinkoira, Jaana Kettunen 98/100 RTK1<br />
                    3. BINDJIGÅRDEN'S EDIN EIRIK, uros stabijhoun, Eva Yliselä 98/100<br />
                    FULLYLAWFUL KEEP ON MOVING, uros staffordshirenbullterrieri, Minna Latvala 97/100 RTK1<br />
                    CZARLINDA'S ONLY WITH MY HEART, narttu vanhaenglanninlammaskoira, Eija Hyvättinen 97/100<br />
                    BRUFINN PURE HEART, narttu labradorinnoutaja, Anna-Mari Matikainen 95/100<br />
                    FULLYLAWFUL SO SWEET, narttu staffordshirenbullterrieri, Minna Latvala 94/100<br />
                    GEWITTER LA QUIRA, narttu lagotto romagnolo, Sirpa Haikarainen 92/100<br />
                    HUKKARULLAN HIKIPINKO, uros belgianpaimenkoira, tervueren, Merja Tornikoski 89/100<br />
                    LUBIN'S GLORIOUS FEELING, narttu sileäkarvainen collie, Linda Ek 84/100<br />
                    MCSANIKAN GUCCI, narttu bordercollie, Oona Paltola 82/100<br />
                    LIVING DREAM DUCK, narttu kultainennoutaja, Elli Pehkonen 80/100<br />
                    ZITADELLETS DANCE ON LITTLE GIRL, narttu pitkäkarvainen collie, Arja Siren-Bäckman 80/100<br />
                    CANDERELL GOSSIPGIRL, narttu mäyräkoira, karkeakarvainen, Outi Lehtisalo 76/100<br />
                    MESSI, uros villakoira, keskikokoinen, harmaa, aprikoosi ja punainen, Jenny Oksanen 0/100<br />
                    <br />
                    AVO<br />
                    1. CHILIHUNTERS AQUILA ADALBERTI, uros labradorinnoutaja, Päivi Elovaara TP 99/100<br />
                    2. WILLOWFIELD'S DEAL ME HEARTS, uros kultainennoutaja, Janina Taskinen 96/100<br />
                    3. CARA, narttu spinone, Monica Joutsenjärvi 96/100 RTK2<br />
                    MYYTIN SANANSAATTAJA, narttu bordercollie, Suvi Virtala 95/100<br />
                    FIHTOLAS ZABBA, uros suomenlapinkoira, Mari Höök 93/100<br />
                    JULSAMOROUS MILLION REASONS, uros australianpaimenkoira, Sanna Iivonen 93/100<br />
                    HELKYN MESIMARJA, narttu labradorinnoutaja, Anna-Mari Matikainen 92/100 RTK2<br />
                    CARAYDAN UNIVERSAL EXPERT, uros espanjanvesikoira, Heini Mölsä 88/100<br />
                    NARTSUKAN UNIQUE GREEN IDEA, narttu espanjanvesikoira, Lea Oksanen 83/100<br />
                    CANDYMAN, uros bordercollie, Tiltu Antikainen 79/100<br />
                    MUSKETEER'S INDIANA, narttu saksanpaimenkoira, Essi Hämäläinen 73/100<br />
                    ROTSHCARD TYYNE, narttu rottweiler, Antje Casper 0/100<br />
                    LUBIN'S RUNNER-UP, uros sileäkarvainen collie, Tuire Laine 0/100<br />
                    VETIKONPERÄN LYYLI, narttu suomenlapinkoira, Hanna Viljamaa 0/100<br />
                    WILLOWFIELD'S FAST AND THE FURIOUS, uros kultainennoutaja, Janina Taskinen -/100<br />
                    <br />
                    VOI<br />
                    1. REDADICT INTO PICKIN UP BIRDS, uros novascotiannoutaja, Elli Pehkonen 93/100<br />
                    2. DIXI, narttu , Linda Wiksten TP 87/100<br />
                    PINPOINT INVICTA, narttu lancashirenkarjakoira, Varpu Jokinen 0/100<br />
                    TAMMITÖRMÄN NACHO, uros saksanmetsästysterrieri, Katri Lehmonen 0/100<br />
                    ROCKER, uros bordercollie, Erja Nimander 0/100<br />
                    KESSELIN QLIFFA QAIFFARI, uros amerikanstaffordshirenterrieri, Kaisa Pulliainen 0/100<br />
                    HELMILÄN MYSTIC MARMALADE, narttu shetlanninlammaskoira, Maria Rehn 0/100<br />
                    ANANA'S JOUTSENLAULU, narttu suomenlapinkoira, Arja Varis 0/100<br />
                    NEREANEIDON TARINA KENAISTA, uros suomenlapinkoira, Irma Nylander -/100<br />
                    <br />
                    MES<br />
                    1. FLYING ORANGE DE HAUTE VOLEE, narttu belgianpaimenkoira, tervueren, Pernilla Tallberg 100/100<br />
                    2. MAGICAL JOY I'M YOUR DREAM, narttu bordercollie, Miira Hellsten 99/100<br />
                    3. KIRJOKANNEN TORPAN TYTTÖ, narttu lapinporokoira, Anna Agopov 95/100<br />
                    KARVIN CHANEL'S CARAMEL, narttu kultainennoutaja, Elli Pehkonen 94/100<br />
                    TAMMITÖRMÄN SMARAGDI, narttu saksanmetsästysterrieri, Katri Lehmonen 92/100<br />
                    HUPIHÄNNÄN EHTIVÄ EPELI, uros novascotiannoutaja, Niina Nenonen 89/100<br />
                    MIKLAUS HAPPY JAZZ, uros kultainennoutaja, Kirsi Petäjä 89/100 RTK4<br />
                    COPPERCOAT'S X-FACTOR, narttu lancashirenkarjakoira, Tinja Veikkolainen TP 85/100<br />
                    HILLRAISINS ALVIN, uros labradorinnoutaja, Sanna Tahvanainen 79/100<br />
                    REDADICT INTO DEEP DIVING, uros novascotiannoutaja, Heidi Rajala 73/100<br />
                    ICICLE'S SAVED BY THE BELL, narttu englanninspringerspanieli, Annika Alervo 0/100<br />
                    ALPENHIRTS NEA, narttu appenzellinpaimenkoira, Pirjo Kyrönaho 0/100<br />
                    JETSTAFF HIGLAND QUEEN, narttu staffordshirenbullterrieri, Sanna Pirinen 0/100<br />
                    SIENNA-RED KARNEOLA, narttu novascotiannoutaja, Heidi Rajala -/100<br />
            </div>
        </div>
        <br />
        <!-- *** 2018 *** -->
        <div class="kenttä_margin">
            <h2>Tulokset 2018</h2>

            <h4>Käyttäytymiskoe 30.9.2018</h4>
            <p>
                Vastaava tuomari Marja Uusitalo<br />
                Koetoimitsija Essi Hämäläinen<br />
                <br />
                MUSKETEER'S PINJA narttu saksanpaimenkoira, Anu Brofeldtahonen, hyväksytty BH<br />
                DREIWALD BLING BLING narttu hovawart, Mia Brunberg, hyväksytty BH<br />
                INKA OF ICE WINE narttu valkoinenpaimenkoira, Hanna el-Khouri, hyväksytty BH<br />
                MUSKETEER'S QAIA narttu saksanpaimenkoira pitkäkarvainen, Merja Helin, hyväksytty BH<br />
                JULSAMOROUS LITTLE BIG MAN uros australianpaimenkoira, Mona Hokkanen, hyväksytty BH<br />
                RISSIES IKKO uros suursnautseri musta, Tommy Kankkonen, hyväksytty BH<br />
                FINNMAIDEN'S BRUCE DICKINSON uros rottweiler, Miia Kantomaa, hyväksytty BH<br />
                EVERGREY'S UKI uros saksanpaimenkoira, Maiju Kolppo, hyväksytty BH<br />
                RISSIES CAPTAIN MORGAN uros suursnautseri musta, Anu Purola, tuomari keskeytti<br />
                LEEWAY'S IL CAMPIONE uros bokseri, Henna Tulkki, hyväksytty BH<br />

                <h4>Ralli-toko 9.6.2018</h4>
            <p>
                Vastaava tuomari Anna Klingenberg<br />
                Koetoimitsija Sirkka Hautsalo<br />
                <br />
                ALO<br />
                1. SILIMEN USVA METSÄNNEITO narttu shetlanninlammaskoira, Oona Haahti 100/100<br />
                2. MACNILLIAN YOU'LL NEVER WALK ALONE narttu belgianpaimenkoira tervueren, Pernilla Tallberg 100/100<br />
                3. OSSEQUENTE O'DOLCE VITA narttu australianpaimenkoira, Riitta Wathén 98/100 RTK1<br />
                MUSCA-ROSAN ZSA ZSA narttu vehnäterrieri, Enni Eskola 0/100<br />
                NECRONOMICON TUTANKHAMON uros ibizanpodenco, lyhytkarvainen, Kati Gerdt 91/100<br />
                HUISIN JOYFUL MIRACLE narttu shetlanninlammaskoira, Tiina Heikkilä 88/100<br />
                HECARON HRVATSKA JADE narttu portugalinvesikoira, Minna Huhtinen 77/100<br />
                MUSKETEER’S INDIANA narttu saksanpaimenkoira, Essi Hämäläinen 90/100 RTK1<br />
                JULSAMOROUS MILLION REASONS uros australianpaimenkoira, Sanna Iivonen 89/100<br />
                BAWABU GAHIJI GERISA uros rhodesiankoira, Annaleena Kiikonen 88/100<br />
                DEVILISH NENAGH narttu irlanninterrieri, Jelena Kosareva 86/100<br />
                YENICERIN FELICITAS narttu dobermanni, Anniina Lantta 87/100<br />
                WELLMAT'S IDEAL ISADORA narttu bouvier, Merja Paananen 96/100<br />
                SINDI narttu x, Seija Pelkonen 98/100<br />
                ROSEBRIDGE'S LILY KISS narttu shetlanninlammaskoira, Mia Rokkanen 87/100<br />
                GOTCHA ARTHURIAN LEGEND uros portugalinvesikoira, Sonja Syväpuro 89/100<br />
                VETIKONPERÄN LYYLI narttu suomenlapinkoira, Hanna Viljamaa 87/100 RTK1<br />
                <br />
                AVO<br />
                1. OFF LINE'S ON TIME narttu belgianpaimenkoira tervueren, Vivian Slätis 100/100<br />
                2. NOANARKIN BUBO LACTEUS uros sileäkarvainen noutaja, Sari Louhisola 97/100<br />
                3. DIAMONDFOX MONSIEUR CASCADE uros sileäkarvainen collie, Tuula Juvonen RTK2<br />
                MANDARABAN BOOGIE WOOGIE narttu lagotto romagnolo, Pia Backlund 75/100<br />
                CARA narttu spinone, Monica Joutsenjärvi 96/100<br />
                FROSTY MORNING'S ONSLOW uros cockerspanieli, Jutta Kaartinen -/100<br />
                VETIKONPERÄN KAAPO uros suomenlapinkoira, Jaana Kettunen -/100<br />
                PEACEMAKER'S BLACK JOLLY narttu kääpiösnautseri, Leila Komulainen 75/100<br />
                BLACK ELLES INVENTIVE MAGIC uros sileäkarvainen collie, Anniina Lantta 85/100<br />
                SANDCASTLE'S CHOSEN ONE uros sileäkarvainen collie, Eveliina Mykrä 81/100<br />
                IKURIN CANIS EXIMUS uros keeshond, Krista Näppä 81/100 RTK2<br />
                SISSINHEIMON NEXE narttu saksanpaimenkoira, Helena Rehnström 82/100<br />
                TANDEROZA GANGSTA'S PARADISE uros ranskanbulldoggi, Riikka Reikko 84/100 RTK2<br />
                SNOWPAW COCONUT narttu shetlanninlammaskoira, Mia Rokkanen 0/100<br />
                FROSTY MORNING'S MALENA narttu cockerspanieli, Marjut Saarainen 86/100<br />
                <br />
                VOI<br />
                1. TUUS SMURFFIINA narttu kroatianpaimenkoira, Anniina Lantta 81/100<br />
                2. MARAVILLOSO MARGARITA narttu espanjanvesikoira, Nora Jokela 76/100<br />
                3. SIIPIVEIKON INNOKAS IHMEENTEKIJÄ uros novascotiannoutaja, Mari Anneli Pohjola 71/100<br />
                CHIRAYU LHUN-PO uros tiibetinspanieli, Tia Artes -/100<br />
                BAWABU DINGAME DIATA uros rhodesiankoira, Annaleena Kiikonen 0/100<br />
                WOOLMILL'S JITTERPOP JANET narttu pitkäkarvainen collie, Kerstin Nordström 0/100<br />
                REMARKABULL FOR LOVE AND GLORY uros bullmastiffi, Ina Valtola 0/100<br />
                <br />
                EVL<br />
                1. MUSTAPIPPURIN AKATEEMINENVARTTI narttu mudi, Heidi Tenkanen 99/100<br />
                2. TAMMITÖRMÄN SMARAGDI narttu saksanmetsästysterrieri, Katri Lehmonen 93/100<br />
                3. WIRNEEN JUST JETSULLEEN narttu australianpaimenkoira, Maria Rostua 86/100<br />
                RUFFENUFF PEPPERMINT TWIST narttu pitkäkarvainen collie, Heidi Bechstein 0/100<br />
                ELORIEN AAMUNKUISKAUS narttu dalmatiankoira, Laura Heimonen 74/100<br />
                MARAVILLOSO ISLA narttu espanjanvesikoira, Nora Jokela 73/100<br />
                BROOKBEND FILIBERTTA narttu berninpaimenkoira, Eija Kaukonen 0/100<br />
                MOUNTAINHEAD'S PRIMO DEGIFFORD uros portugalinvesikoira, Nina Kurki 0/100<br />
                DINAISA SNOWFLAKE narttu australiankelpie, Lotta Lipsanen 84/100 RTK4<br />
                HOPP FALLERA APSNYGGA ABBE uros tanskalais-ruotsalainen pihakoira, Minna Mustamäki 77/100<br />
                TULIKÄPÄLÄN ROIHU RAISA narttu länsigöötänmaanpystykorva, Katja Rahkola -/100<br />
                CHEFKA'S HE'S SO FINE uros hovawart, Niina Sorvari -/100<br />
                SENITA HÜBSCH uros hovawart, Niina Sorvari 78/100<br />
                HILLRAISINS ALVIN uros labradorinnoutaja, Sanna Tahvanainen 0/100<br />
                FLYING ORANGE DE HAUTE VOLEE narttu belgianpaimenkoira tervueren, Pernilla Tallberg 77/100<br />
                GEMMABO ERIS narttu villakoira kääpiö, Heidi Tenkanen 0/100<br />
                CABAROO KEEN-EYE ANNIE narttu bordercollie, Sanna Tiilikainen 78/100<br />
                VALKOHAMPAAN IIK-IHQ narttu belgianpaimenkoira laekenois, Marja Tikka 74/100<br />
                MITHRANDIR BLIZZ narttu bordercollie, Minna Winqvist 84/100<br />



                <h4>Jälkikoe 31.5.2018</h4>
            <p>
                Vastaava tuomari Juha Kuronen<br />
                Koetoimitsija Maarit Isaksson<br />
                <br />
                PAJÄ2<br />
                cpku LUMIPILVEN ONNENPOTKU, Barbro Henriksson 118/300 M:118 T:0<br />
                <br /><br />

                PAJÄ3<br />
                1. ssn TINTENFASS WANDERER HV'S DOTTER, Tina Ek-Liechti 262/300 M:177 T:85 JK3<br />
                2. hwn STEINROLLER SIGRID, Sanna Piilinen 240/300 M:160 T:80 JK3<br />
                spu MUSKETEER’S HARI, Vesa Kuosmanen 149/300 M:149 T:0<br />
                bpgn MUSTATUULEN XANADU, Anni Lemmetty 63/300 M:63 T:0<br />
                bcu FOR THE WIN JACK, Mirva Vainio 54/300 M:54 T:0<br />



                <h4>Rally-toko 10.2.2018</h4>
            <p>
                Vastaava tuomari Jaana Karppinen<br />
                Koetoimitsija	Sirkka Hautsalo<br />
                <br />
                ALO<br />
                1. TRONIC DESPERADO uros bordercollie, Kati Kekäläinen-Tupala 100 / 100<br />
                2.OFF LINE'S ON TIME narttu belgianpaimenkoira, tervueren, 15.4 Vivian Slätis 100 / 100 RTK1<br />
                3. FROSTY MORNING'S ONSLOW uros cockerspanieli, Jutta Kaartinen 99 / 100 RTK1<br />
                OMITUINEN TUNTURIRISAKAS narttu suomenlapinkoira, Susanna Kangasvuo, Tuomaripalkinto myönnetty	97 / 100<br />
                NERONLEIMAUKSEN CELESTE, narttu jackrussellinterrieri,Riitta Birck 71 / 100 RTK1<br />
                BLANCA,narttu lagotto romagnolo, Sirpa Haikarainen 87 / 100<br />
                JULSAMOROUS I CAN DO IT, narttu australianpaimenkoira, Mira Halme 97 / 100<br />
                RAIPELIN STELLA narttu labradorinnoutaja, Pia Henriksson 90 / 100<br />
                MUSKETEER'S INDIANA narttu saksanpaimenkoira, Essi Hämäläinen 99 / 100<br />
                MUSKETEER'S FRIIDU narttu saksanpaimenkoira, Maarit Isaksson 0 / 100<br />
                CARA narttu spinone, Monica Joutsenjärvi 95 / 100<br />
                FROSTY MORNING'S LUCETTA narttu cockerspanieli, Jutta Kaartinen 85 / 100 RTK1<br />
                MYY narttu jackrussellinterrieri, Moona Ketola 85 / 100<br />
                HEIKUNKEIKUN TULINEN RAKASTAJA uros suomenlapinkoira, Jaana Kettunen - / 100<br />
                WÄLIHARJUN LAAKSON LILJA narttu länsigöötanmaanpystykorva, Pirjo Kiuru 0 / 100<br />
                MIHAN NOKINENÄ uros snautseri, pippuri & suola, Outi Liukkonen 0 / 100<br />
                DROVER'S IN YOUR DREAMS narttu australianpaimenkoira, Elina Lopperi 94 / 100 RTK1<br />
                GLENHOUSE'S DO-DID-DONE narttu australianpaimenkoira, Anna-Mari Piitulainen 98 / 100<br />
                HALSOU DE LA VALLEE DU MOUTON uros lyhytkarvainen pyreneittenpaimenkoira, Essi Puolakanaho 76 / 100<br />
                TRINDY'S WILD JIM BEAM uros novascotiannoutaja, Niina Savela 90 / 100<br />
                <br /><br />

                AVO<br />

                1. NELLI narttu , Janniina Huttunen 99 / 100 RTK2<br />
                2. JOYFUL MELODY'S FANTASTIC FLASH uros bordercollie, Petra Hultin 99 / 100 RTK2<br />
                3. TENDING ICON uros bordercollie, Sirke Viitanen 98 / 100<br />
                PORTIN HALTIJAN GLORIA narttu rottweiler, Tuija Hurmekoski, Tuomaripalkinto myönnetty 90 / 100<br />

                NOISY DOG'S DANTE uros pumi, Carita Friberg 82 / 100<br />
                WILI uros , Pia Henriksson,  0 / 100<br />
                PINPOINT INVICTA narttu lancashirenkarjakoira, Varpu Jokinen 95 / 100<br />
                ELMERI uros , Jasmin Koljonen  82 / 100<br />
                SANJEET A'LANALA NOYA CASSANDRA narttu australianpaimenkoira, Marjo Loikkanen 96 / 100<br />
                ALLIHUUPAN KAPTEENI KOIRAMO uros labradorinnoutaja, Satu Palo 87 / 100<br />
                HONEYSTAFF'S ALL OF ME uros staffordshirenbullterrieri, Venla Pekkanen 0 / 100<br />
                CALAWAN JOSHUA uros länsigöötanmaanpystykorva, Suvi Salonen 87 / 100 RTK2<br />
                HAPSUTASSUN ELEGANT ESTELLE narttu cavalier kingcharlesinspanieli, Susann Wecksten 80 / 100<br />
                NORD STAR GASKO PRIM narttu bordercollie, Anne Vepsäläinen 0 / 100<br />
                MAISE'S NOBLE WISE MAN uros australianpaimenkoira, Vivian Viitanen 77 / 100<br />
                HELKYN ROQUEFORT uros labradorinnoutaja, Maria Wilenius 87 / 100<br />
                <br /><br />

                VOI<br />
                1. WIRNEEN HIRMUMYRSKY uros australianpaimenkoira, Marika Lindfors 88 / 100<br />
                2. CARAYDAN CHAMBURATO uros espanjanvesikoira, Heini Mölsä 78 / 100 RTK3<br />
                LOVLIPON THE NEXT GENERATION narttu polski owczarek nizinny, Suvi Mäkinen, Tuomaripalkinto myönnetty  0 / 100<br />
                BAWABU DINGAME DIATA uros rhodesiankoira, Annaleena Kiikonen 0 / 100<br />
                CABRAVOS NINKI NONK narttu espanjanvesikoira, Katja Kultalahti - / 100<br />
                WHEATSTONE U ROXX uros vehnäterrieri, Tiina Kurki 0 / 100<br />
                <br /><br />

                MES<br />
                1. BUDOAR MONROE uros lagotto romagnolo, Hanna Salovuori, 87 / 100<br />
                2. MARAVILLOSO ISLA narttu espanjanvesikoira, Nora Jokel 78 / 100<br />
                3. ZAKTANS JOYFUL JESSIE kääpiösnautseri, musta-hopea, Riikka Helkamäki 77 / 100 RTK4<br />
                CROWLEY NEW DELIGHT narttu cavalier kingcharlesinspanieli, Satu Turunen, Tuomaripalkinto myönnetty 0 / 100<br />

                VAUHTI-NOUDON LUNA LOVEKIVA narttu labradorinnoutaja, Iida Aakko 0 / 100<br />
                CEFEUS TAHVO II uros australiankelpie, Kirsi Aintila - / 100<br />
                LET'S DORNIER FOX narttu kultainennoutaja, Maisa Herranen 0 / 100<br />
                LAGO D'AMOREN RAGAZZA BALDA narttu lagotto romagnolo, Tere Jääskeläinen 0 / 100<br />
                MINTGARDEN'S MANGANESE narttu saksanpystykorva, mittelspitz, Mervi Polameri 0 / 100<br />
                VILMA narttu , Erja Saarto 0 / 100<br />
                JABIAN ARIA DI PARPIGNOLA narttu lagotto romagnolo, Hanna Salovuori 0 / 100<br />
        </div>
        <!-- *** 2017 *** -->
        <br />
        <div class="kenttä_margin">
            <h3>Tulokset 2017</h3>
            <br />

            <h4>Hakukoe, Porvoo 25.11.2017 </h4>
            <p>
                Vastaava tuomari Reija Nieminen<br />

                <br />
                PAHA1<br />
                1.Cpku LUMIPILVEN ONNENPOTKU, Barbro Henriksson 271/300 M:197 T:74 HK1<br />
                <br />
                PAHA3<br />
                1. bptu ROGUE DE HAUTE VOLEE, Tarja Anttila 273/300 M:184 T:89 HK3<br />
                bpmn PYSÄKIN DAIKA TUULI, Riikka Makkonen, 163/300 M:75 T:88 Ohjaaja luopui<br />
                <br />
                <h5 id="left">Jälkikoe, Porvoo 15.10.2017 </h5>
            <p>
                Vastaava tuomari Tiina Puustinen<br />

                <br />
                PAJÄ1<br />
                1. bpmn HOTIMPI CORALINE, Silja Lampinen 270/300 M:190 T:80 JK1 <br />
                2. Cpku LUMIPILVEN ONNENPOTKU, Barbro Henriksson 258/300 M:188 T:70 JK1 <br />
                3. bpmu PINKOJAN RODRIGUEZ, Pia Rapi 240 / 300 M:160 T:80 JK1 <br />
                Dau BLANCO PIRATA TUMI, Reija Halmela PAJÄ1 47/300 M:0 T:47<br />
                <br />
                PAJÄ3<br />
                1. ssn RISSIES QUICK LADY, Maiju Wiksten 251/300 M:173 T:78 JK3 <br />
                bcu FOR THE WIN JACK, Mirva Vainio 77/300 M:77 T:0 <br />


                <h4>Tokokoe 13.6.2017 Porvoo</h4>
            <p>
                Tuomari, Susanna Berghäll<br />

                Alokasluokka<br />
                1. ssn ZIRNAL OPIUM ROSE, AnnaMari Heikinheimo 190 / 200 1. Palkinto KP<br />
                2. aku MAISKIS BINTANG, Tiia Sandberg 188 / 200  1. Palkinto KP<br />
                3. beu NÖ, Martina Westman 182/200 1. Palkinto KP TK1  <br />
                4. pitkäkarvainen collie uros FINN ARROW IMPOSING IMAGE	Britta Henriksson 173.5 / 200 1. Palkinto<br />
                5. pitkäkarvainen collie uros LUMIPILVEN ONNENPOTKU Barbro Henriksson 168 / 200 1. Palkinto<br />
                6. bcu TRONIC HAMMER Sirkka Hautsalo 157 / 200 2. Palkinto<br />
                7. spu MUSKETEER'S NESTORI Maarit Isaksson 147 / 200 2. Palkinto<br />
                8. amerikanstaffordshirenterrieri narttu GOLDEN FERYA ALL THE RIGHT MOVES Merja Helin 138 / 200	3. Palkinto<br />
                9. cockerspanieliuros FROSTY MORNING'S LORENZO Kirsi Eloranta	92 / 200 <br />
                10. lagotto romagnolo narttu MANDARABAN BOOGIE WOOGIE Pia Backlund 77 / 200 <br />
                <br />

                Avoinluokka<br />
                1. vanhaenglanninlammaskoira narttu CZARLINDA'S ONLY WITH MY HEART Eija Hyvättinen 307.5 / 320 	1. Palkinto KP<br />
                2. spu TERROR JA-IV-TO	Rhonda Holst	264 / 320 1. Palkinto	<br />
                3. apn APPLE BLOOM NEVER ENDING STORY Marian Ahlskog-Karhu 255.5 / 320 	2. Palkinto	<br />
                4. bptu	MUSTANTUISKUN YARCO Hanna Vilenius 237 / 320 2. Palkinto	<br />
                <br />

                Voittajaluokka <br />
                lagotto romagnolo narttu LAGO D'AMOREN RAGAZZA BALDA Tere Jääskeläinen	168 / 320 <br />
                landseer narttu	MAREUS DASHING FAERIE Christina Mielonen 146.5 / 320 <br />
                <br />
                Erikoisvoittajaluokka <br />
                1. bptn	FLYING ORANGE DE HAUTE VOLEE Pernilla Tallberg 303 / 320 1. Palkinto KP<br />
                2. bcu FOR THE WIN JACK Mirva Vainio 288 / 320 	1. Palkinto KP<br />
                <br />

                <h4>Rally-toko 17.6.2017 Porvoo</h4>
            <p>
                Tuomari Tiia Hämäläinen<br />

                Alokasluokka, 18 kpl<br />
                1. Calawan Joshua, uros, länsigöötanmaanpystykorva, Suvi Salonen, 99/100<br />
                2. Helkyn Mesimarja, narttu, labradorinnoutaja, Anna-Mari Matikainen, 98/100<br />
                3. Helkyn Roquefort, uros, labradorinnoutaja, Maria Wilenius, 97/100<br />
                Bristregal Touch Of Regal, narttu, partacollie, Noora Kivilahti, 97/100, RTK1, TP<br />

                Nappulavaaran Kaikki Peliin, narttu, shetlanninlammaskoira, Nadja Böckerman, 92/100<br />
                Sydänystävän Marley, uros, saksanpystykorva, mittelspitz, valkoinen, Teija Hohtari, 0/100<br />
                Joyful Melody’s Fantastic Flash, uros, bordercollie, Petra Hultin, 75/100, RTK1<br />
                Benchmark Baby True Love, narttu, cockerspanieli, Sirkku Ingervo, 0/100<br />
                Maravilloso Margarita, narttu, espanjanvesikoira, Nora Jokela, 91/100<br />
                Pinpoint Invicta, narttu, lancashirenkarjakoira, Varpu Jokinen, 0/100<br />
                Crawford Royal Mellow, narttu, cavalier kingcharlesinspanieli, Riina Katajala, 77/100<br />
                Tallpeak Fortune Hunter, uros, dalmatiankoira, Sini Kelo, 89/100<br />
                Rowells Top Secret, uros, welsh corgi pembroke, Maria Konsin-Palva, 81/100<br />
                Mandaraban Rock Around The Clock, uros, lagotto romagnolo, Marjo Kullberg, 70/100<br />
                Qubbling’s Anastacia, narttu, labradorinnoutaja, Annika Lönnfors, 92/100<br />
                Noanarkin Neomys Fodiens, uros, sileäkarvainen noutaja, Heidi Nurmi, 97/100<br />
                Ikurin Canis Eximus, uros, saksanpystykorva, keeshond, Krista Näppä, -/100 hyl tvä<br />
                Taikatalven Ghost Fire, uros, belgianpaimenkoira, malinois, Kati Vainikka, 81/100<br />
                <br />
                Avoinluokka, 10 kpl<br />
                1. Alpenhirts Kitty, narttu, appenzellinpaimenkoira, Pirjo-Leena Kyrönaho, 96/100 <br />
                2. Kuunsirpin Xcuse Me, narttu, belgianpaimenkoira, tervueren, Tiina Botros, 96/100<br />
                3. Wirneen Hetimullekaikkinyt, narttu, australianpaimenkoira, Marika Suomalainen, 96/100<br />
                Karvin Something In The Air, narttu, kultainennoutaja, Niina Koivu, 92/100, TP<br />

                Chirayu Lhun-po, uros, tiibetinterrieri, Tia Artes, 89/100<br />
                Mandaraban Boogie Woogie, narttu, lagotto romagnolo, Pia Backlund, 0/100<br />
                Dandybern Gisella, narttu, berninpaimenkoira, Tanja Ikonen, 96/100<br />
                Taivaskallion Corazon, narttu, englanninspringerspanieli, Sirkku Ingervo, 0/100<br />
                Alpenhirts Nea, narttu, appenzellinpaimenkoira, Pirjo-Leena Kyrönaho, 95/100<br />
                Super Play’s Jacqueline, narttu, kääpiösnautseri, pippuri & suola, Melissa Merenheimo, 70/100<br />
                <br />
                Voittajaluokka, 9 kpl<br />
                1. Gemmabo Eris, narttu, villakoira, kääpiö, harmaa, aprikoosi ja punainen, Heidi Tenkanen, 90/100, RTK3<br />
                2. Mustapippurin Akateeminenvartti, narttu, mudi, Heidi Tenkanen, 70/100<br />
                3. Robinstown Burnt Oak, narttu, sileäkarvainen kettuterrieri, Linnea Pietikäinen, 70/100<br />
                Ihanuuden Cassius Clay, uros, prahanrottakoira, Sini Vesterinen, 0/100, TP<br />

                Lago D’amoren Ragazza Balda, narttu, lagotto romagnolo, Tere Jääskeläinen, 0/100<br />
                Käpäläkoplan Tuuli, narttu, shetlanninlammaskoira, Tiina Linna, -/100, luopui<br />
                Mareus Dashing Faerie, narttu, landseer, Christina Mielonen, 0/100<br />
                Maravilloso Carmen, narttu, espanjanvesikoira, Marjo Parttimaa, 0/100<br />
                Miklaus Happy Jazz, uros, kultainennoutaja, Kirsi Petäjä, 0/100<br />
                <br />
                Mestariluokka, 17 kpl<br />
                1. Magical Joy I’m Your Dream, narttu, bordercollie, Miira Hellsten, 96/100<br />
                2. Amelie, narttu, shetlanninlammaskoira, Maiju Aholainen, 95/100<br />
                3. Flying Orange de Haute Volee, narttu, belgianpaimenkoira, tervueren, Pernilla Tallberg, 89/100<br />
                Aquatic Mama Cocha, narttu, espanjanvesikoira, Nora Jokela, 0/100, TP<br />

                Millitallin Xtrahulda, narttu, borderterrieri, Kaisa Ahonen, 0/100<br />
                Ruffenuff Peppermint Twist, narttu, pitkäkarvainen collie, Heidi Bechstein, 0/100<br />
                Cabaroo Magma Flow, narttu, bordercollie, Nadja Böckerman, 81/100<br />
                Royal Coctail Lucky Bringer, uros, australiankelpie, Marika Heikkinen, 71/100<br />
                Tuus Laventelilulla, narttu, kroatianpaimenkoira, Eija Hyvättinen, 79/100<br />
                Maravilloso Isla, narttu, espanjanvesikoira, Nora Jokela, 81/100<br />
                Tassuttelijan Greta Garbo, narttu, portugalinvesikoira, Tuija Kauhanen, 0/100<br />
                Sorbitol’s Bubble Odessa, narttu, villakoira, keskikokoinen, harmaa, aprikoosi ja punainen, Sari Koistinen, 83/100<br />
                October’s Harvest Time, uros, labradorinnoutaja, Hanna Kuusi, 0/100<br />
                Kepposen Rudolf, uros, shetlanninlammaskoira, Katja Pietiläinen, 0/100<br />
                Taavi, uros, x-rotu, Riitta Pohjola, 0/100<br />
                Tulikäpälän Roihu Raisa, narttu, länsigöötanmaanpystykorva, Katja Rahkola, 0/100<br />
                Milton, uros, Sinikka Werling, 0/100<br />

                <h4>Hakukoe 13.6.2017 Porvoo</h4>
            <p>
                Tuomari, Juha Kuronen<br />

                PAHA1<br />
                1. beu NÖ, Martina Westman, Numminen 283/300 M:196 T:87  HK1 <br />
                2. knn HUTIKUTIN METSÄORVOKKI, Titta Järveläinen 281/300 M:190 T: 91  HK1 <br />
                rwu HEIZELWOOD JAX, Saara Huomolin 246/300 M:184 T:62 <br />
                <br />
                PAHA2<br />
                1. bpmn SUHTEELLISEN KÄKI, Petteri Hotinen 289/300 M:192 T:97 HK2 <br />
                <br />
                PAHA3	 <br />
                1. bptn FLYING ORANGE DE HAUTE VOLEE, Pernilla Tallberg 275/300 M:186 T:89 HK3 <br />
                2. bcu EYEWITNESS GAME ON Tuire Tamminen 271/300 M:186 T:85 HK3 <br />

                <h4>IRO-koe 10-11.6.2017 Askola</h4>
            <p>
                Kokeen ylituomari: Juha Kuronen<br />
                Arvostelevat tuomarit / Judges: Charlotte Kranz (AT)<br />
                <br />
                A-koe:<br />
                1. lbu Helkyn tyrni, ohjaajana Krista Forsblom (180/92) 272 pistettä, ykköstulos<br />
                2. knu Wauhti-Wiivan Legolas, ohjaajana Heidi Levander (176/92) 268 pistettä, kakkostulos<br />
                3. bcu Rajahiilen Vihuri, ohjaajana Ritva Holmström (187/70) 257 pistettä, kakkostulos<br />
                ei tulosta: lbu Helkyn Tuomas, ohjaajana Miia Leppälammi 212 pistettä<br />
                Keskeytetty tottiksessa: Mudi Takkutukan Vinha, ohjaajana Mira Hämäläinen<br />
                <br />
                B-koe:<br />
                1. bcu Felltop Samurai, ohjaajana Karoliina Finnilä (192/83) 275 pistettä, ykköstulos<br />
                2. bpmn Blaze Cobra, ohjaajana Liia Rikkinen (178/89) 267 pistettä, kakkostulos<br />
                3. bcu Tending Overpower, ohjaajana Leea Saarela (178/88) 266 pistettä, kakkostulos<br />
                4. irlannin setteri Perfect Diamond Shadow Dog ohjaajana Kris Heinsoo, (189/76) 265 pistettä, kakkostulos<br />
                ei tuloksia:<br />
                ssu Voyager's Robbie Williams, ohjaajana Katja Parkkinen 194 pistettä<br />
                knu AJ's Cop, ohjaajana Heidi Levander 132 pistettä<br />



                <h4>J&auml;lkikoe 18.5.2017 Porvoo</h4>
            <p>
                Tuomari, Juha Kuronen ja Samuli Juntto<br />
                <br />
                PAJÄ1<br />
                bptn DOMINA Janica Nurminen 212/300 M:119 T:93 <br />
                PAJÄ2<br />
                1. bptn FLYING ORANGE DE HAUTE VOLEE, Pernilla Tallberg 281/300 M:191 T:90 JK2<br />
                2. ben TOMERAN FENAKIITTI, Eeva Soisalo 230/300 M:154 T:76 JK2 <br />
                lbu VARJOAHON NASTA KAVERI, Ritva Suoniemi 191/300 M:102 T:89<br />
                PAJÄ3<br />
                1. ssu TINTENFASS PEETU HR'S SON, Tina Ek-Liechti 274/300 M:186 T:88 JK3 <br />
                2. bpmn RUUTIPUSSI QUICK, Susanna Stark 269/300 M:195 T:74 JK3 <br />
                rwn MANOUMAN SANTA SANNA, Kiti Tommila, Tuomari keskeytti 116/300 M:27 T:89 <br />
                bcu FOR THE WIN JACK, Mirva Vainio, Ohjaaja luopui 39/300 M:39 T:0 <br />


                <h4>Etsintäkoe 7.5.17 Porvoo</h4>
            <p>
                Tuomari Juha Kuronen
                <br />

                PAEK1<br />
                Ssn ZIRNAL HAWAIIAN SUNRISE, AnnaMari Heikinheimo, Ohjaaja luopui 71/300 M:0 T:71 <br />

                PAEK2<br />
                1. bpmn RUUTIPUSSI QUICK, Susanna Stark 279/300 M:191 T:88 EK2 <br />

                PAEK3<br />
                1 lbu HELKYN ROQUEFORT, Maria Wilenius 289/300 M:199 T:90 EK3<br />
                2. Spn MUSANTERIN ANIS, Fiia Berghem 271/300 M:184 T:87 EK3 <br />
                3. bpmn BLAZE COBRA, Liia Rikkinen 257/300 M:174 T:83 2.Palkinto EK3 <br />
                Spn MUSKETEER'S FRIIDU, Maarit Isaksson, Ohjaaja luopui 191/300 M:105 T:86 <br />


                <h4>K&auml;ytt&auml;ytymiskoe 26.4.2017 Porvoo</h4>
            <p>
                Tuomari Juha Kuronen
                <br />

                ben RU, Suvi Heinonen, Hattula, PAKK1 hyv&auml;ksytty BH<br />
                sknn SALASANA BITTER AND TWISTED Mari Kuusaro PAKK1 hyv&auml;ksytty BH<br />
                bpmn SUHTEELLISEN VASTUS, Jaana Lehtonen PAKK1 hyv&auml;ksytty BH<br />
                knu WAUHTI-WIIVAN LEGOLAS, Heidi Levander PAKK1 hyv&auml;ksytty BH<br />
                l&auml;nsigöötanmaanpystykorva, FENNICAN HARDWICK, Asta Loponen PAKK0 ei hyv&auml;ksytty<br />


        </div>

    </div>
</div>

