
@{
    ViewBag.Title = "Tulokset2010";
}

<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<br />
<div class="container margins">
    <div class="kenttä_margin">
        <h3>Tulokset 2010</h3>
        <br />
        <div>
            <h4><strong>27.03 Porvoo - K&Auml;YTT&Auml;YTYMISKOE</strong></h4>
            <br />
            <p>
                Slov.cuvac n Alla von der Stockacher Halde, Virve Mikkola, Hyv&auml;ksytty BH<br>
                Pcu Curioisty Catch the Spell, Anna S&auml;rkel&auml;, Hyv&auml;ksytty BH<br>
                Ssn Amories Caramella, Katja Blomqvist, Hyv&auml;ksytty BH<br>
                Lbn Saskian Yahoo, Ari Suomi, Hyv&auml;ksytty BH<br>
                Lbn Tintenfass L&rsquo;Abbis, Lotta Axelsson, Hyv&auml;ksytty BH<br>
                Sknn Pikestar&rsquo;s Edda, Tina Hietala, Hyv&auml;ksytty BH<br>
                Nsnu Peikkolinnan Simba, ohj. Raija Sj&ouml;str&ouml;m, Hyl&auml;tty
            </p>
        </div>
        <br />
        <div>
            <h4><strong>18.04 Porvoo - IPOR HAKU A</strong></h4>
            <br />
            <p>
                Esvu Nartsukan Elegant Power, Sam Widlund:
                38,40,193 yht:271: RH-FLA<br>
                Bpmu T&auml;m&auml; On Ceriffi, Marja-Leena Hituri: 46,38,181 yht:265: RH-FLA<br>
                Spu Sonorian Cherubino, Harri Kuusisto: 46, 45, 170 yht: 261: RH-FLA<br>
                Akn Placo Bettina, Kaisa Hilska: 44, 41, 164 yht: 249: RH-FLA<br>
                Xn Rauha, Marika Westman: 42, 28, 194 yht: 264: HYL&Auml;TTY<br>
                Spn Yanes Jasmin, Sami Vertanen: 32, -, - HYL&Auml;TTY
            </p>
        </div>
        <br />
        <div>
            <h4><strong>29.04 Porvoo - HAKU 1 2 3</strong></h4>
            <br />
            <p>
                <b>	HAKU 3</b> <br>
                Apku Gun
                Lake Breakdancer, Marian Ahlskog-Karhu t:96, m:195, yht:291 HK3<br>
                Spu Musketeer&rsquo;s Xando, Osmo Heikkil&auml; t:95, m:187, yht:282, HK3<br>
                Bpmu Kutinan Meteli, Petteri Hotinen t:96, m:174, yht: 270, HK3<br>
                Spku Mithrandir Alpha, Pekka Mett&auml;l&auml; t:96, m:171, yht:267,HK3<br>
                Snn Giteas Capri, Johanna Saastamoinen m: 117 <br>
                Bcu Festivo Zenon, Maija Aapola m: 98
            </p>
        </div>
        <br />
        <div>
            <h4><strong>08.05 Porvoo - IPOR HAKU B</strong></h4>
            <br />
            <p>
                Knu Vassruggens Sige Fafnesbane, Heidi Levander: 170, 45, 45 yht 260
                RH-FLB<br>
                Akn Foxforest Exorcist, Kaisa Hilska: 175, 38, 38 yht 251 RH-FLB<br>
                Bpmu T&auml;m&auml; On Ceriffi, Marja-Leena Hituri: 151, 43, 49 yht 243 RH-FLB<br>
                Lbu Varjoahon Maorikunnas, Milla Savin: 160, 39, 33 yht 232<br>
                Spn Konnamuorin Intro, Mervi K&auml;h&ouml;nen: 110, 42, 43 yht 195<br>
                Knn Greenhill&rsquo;s Golden Wind, Virpi Nieminen: 100, 32, 45 yht 177
            </p>
        </div>
        <br />
        <div>
            <h4><strong>13.05 Porvoo - ETSINTÄKOE 1 2 3</strong></h4>
            <br />
            <p>
                <b>
                    EK 1
                </b><br>
                </b>dn Kriegerhof Princess Paris, Tuomisto Anne 80,158, 238 III EK1<br>
                <b>EK 2</b><br>
                spu Merzenheit&rsquo;s Abejack , Eija Koistinen 76,186, 262 II EK2<br>
                apkn Windedos After Eight , Laura L&ouml;nnberg 92, 196, 288 I EK2<br>
                hwu Ellieg&aring;rdens Black Rudi, Helena Prepula 88, 188, 276 I EK2<br>
                <b>EK 3</b><br>
                bcu EmenEm&rsquo;s Dino,Mirva Vainio 88, 199, 287 I EK3<br>
                bcu Tending Volition, Hanna Orava 90,197, 287 I EK3<br>
                snn Zornoi Shakira, Piia R&auml;s&auml;nen 84, 199, 283 I EK3<br>
                bcu Saint, Pia Pursiainen 82, 194, 276 I EK3<br>
                bpgn Nallehukan Ultra Bra, Ulla Rajalin 72, 184, 256 II EK3<br>
                rwu Vesuviuksen Aragon, Maria Keinonen 64,182, 246 -
            </p>
        </div>
        <br />
        <div>
            <h4><strong>27.05 Porvoo - HAKU 1 2 3</strong></h4>
            <br />
            <p>
                <b>
                    Haku
                    1
                </b><br>
                Dn Kriegerhof Khloe-Kalina Anne Tuomisto, Kerava 0/136/136 <br>
                Ssu Giteas Benvenuto Ismo Rask, Espoo 0/54/54 <br>
                <b>Haku 2</b><br>
                Bcu

                Briskness Famous Grouse Raimo Toni, Vantaa 0/80/80 <br>
                <b>Haku 3</b><br>
                Dn Kriegerhof Rosine T ja J Hyysalo, J Marjam&auml;ki, Tuusula 95/127/222 <br>
                Du Darya&rsquo;s Dewald Dack J Gr&ouml;nroos&amp;V Mannonen, Hki 87/173/260 HK3
                <br>
                Apku Gun Lake Twist and Shout Marian Ahlskog-Karhu, Porvoo 93/188/281 HK3

            </p>
        </div>
        <br />
        <div>
            <h4><strong>02.06 Porvoo - J&Auml;LKI 1 2 3</strong></h4>
            <br />
            <p>
                <b>
                    J&Auml;LKI 2
                </b><br>
                Mn Mustapippurin, Terhi Multam&auml;ki
                p&auml;iv&auml;ns&auml;de T 96, M194 289 JK2<br>
                clku Windswept Hights Buffalo Bill, Marjo Hynynen T 75 M 196 271 JK2
                <b>
                    <br>
                    J&Auml;LKI 3<br>
                </b>
                ssu Boss vom Hatzelbachtal, Bo Wiksten T 90, M 199 289 JK3<br>
                spn Aufgewect Netti,T Minna Ojala M Ismo Kyll&ouml;nen T 88, M 187 275 JK3<br>
                hwu Gipstern Fendor, Annika Kallio T 77, M 185 262 JK3<br>
                apkn Windedos After Eight T 92, M 165 257 JK3
            </p>
        </div>
        <br />
        <div>
            <h4><strong>21.06 Porvoo - PELASTUSJ&Auml;LKI</strong></h4>
            <br />
            <p>
                Lbn
                Varjoahon Kyllikki Anna-Mari Matikainen, S&ouml;derkulla <br>
                Bcn Pythagoraan New Joy Satu Syv&auml;nper&auml;, Vantaa <br>
                Spn Kranichzug Chrystal Eeva-Maria Lidman, Porvoo <br>
                Ponu Oktet ze Spiewogry Majka Borgstr&ouml;m, Sipoo <br>
                Spu Cunto Heikki Tom Isaksson, Sipoo HYV&Auml;KSYTTY <br>
                Xu Felix Fiia Berghem, Helsinki
            </p>
        </div>
        <br />
        <div>
            <h4><strong>25-26.09 Porvoo - J&Auml;LKI 3 HAKU 3 ETSINT&Auml;KOE 3</strong></h4>
            <br />
            <p>
                <b>
                    HAKU 3
                </b><br>
                apku Gun Lake
                Breakdancer , Marian Ahlskog-Karhu: M: 193 T: 80 YHT273 HK3 I<br>
                bpmu Kutinan Meteli, Petteri Hotinen: M: 139 T: 90<br>
                bptnHukkarullan El&auml;m&auml;nilo, Mari Pihlajaniemi: M: 170 T: kesk<br>
                rwn Manouman Elli Rajaton, Kiti Tommila: M: kesk T: 68<br>
                <b>EK 3</b><br>
                bcu EmenEm&rsquo;s Dino. Mirva Vainio: M: 183 T: 91 YHT 274 EK3 I<br>
                apkn Windedos After Eight , Laura L&ouml;nnberg: M: 187 T: 73 YHT 260 EK3 II<br>
                hwu Soffahoffin Geezer, Eeva-Liisa Luukkonen: M: 161 T: 84 YHT 245 EK3 II
                <br>
                rwu Musanterin Epeli, Heidi Helin: M: 164 T: 79 YHT 243 EK3 II<br>
                hwu Ellieg&aring;rdens Black Rudi, Helena Prepula: M: 111 T:-<br>
                bpgn Marmara Rocket Queen, Mirja Laitinen: M: 93 T:-<br>
                <b>
                    J&Auml;LKI 3<br>
                </b>bcn Tending Blueberry , P&auml;ivi Ker&auml;nen: M: 190 T: 92 YHT 282
                JK3 I<br>
                bcu Tending Hotspur, Nina Manner: M: 184 T: 98 YHT282 JK3 I<br>
                bcu Tending Prizeman, Virve Sormunen: M: 193 T: 84 YHT 277 JK3 I
                <br>
                aku Bestseller Feelgood, Marjo Halonen: M: 194 T: 78 YHT 272 JK3 I<br>
                bptu Macnillan Running Free, Susanna Stark: M: 188 T: 82 YHT 270 JK3
                I<br>
                lbn Punapakan Rokkimimmi, Anu Purola: M: 168 T: 81 YHT 249 JK3 II<br>
                ssu Boss vom Hatzbachtal, Bo Wiksten: M: 87 T: 87<br>
                rwu Dustin vom Oberhausener Norden, Erja Hy&ouml;kki: M: 139 T: kesk<br>
                bcu Borderiinan El&auml;v&auml; Legenda, Sanna Hyyti&auml;inen: M: 140 T: -<br>
                spn Wolfrock&rsquo;s Blitz, Miia Heikkinen: M: 135 T: -<br>
                bpmn No-How Be My Moviestar, Riikka Honkaranta: M: 134 T: -
            </p>
        </div>
        <br />
        <div>
            <h4><strong>24.10 Porvoo -PELASTUSHAKU</strong></h4>
            <br />
            <p>
                vpu
                Weissen Lindenhof Condor, Jukka Korpikoski: hyl&auml;tty<br>
                bptn Hukkarullan Dorka, Mari Pihlajaniemi: hyl&auml;tty<br>
                hwn Hovarian Nerz, Ossi Juurikka: hyl&auml;tty<br>
                scn Alla Von Der Stockacher Halde, Virve Mikkola: hyl&auml;tty<br>
                lbu Varjoahon Maorikunnas, Milla Savin: hyl&auml;tty
            </p>
        </div>
    </div>
</div>

