
@{
    ViewBag.Title = "Tulokset2014";
}
<br />
<div class="container margins">
    <div class="kenttä_margin">
        <h3>Tulokset 2014 - 2015</h3>
        <br />
        <div>
            <h4><strong>Etsint&auml;koe 29.08.2015 Porvoo</strong></h4>
            <br />
            <p>
                Tuomari, Tiina Puustinen<br />
                PAEK ALO<br />
                lbu, Helkyn Roquefort, Maria Wilenius, 91/185, 276 EK1<br />
                ssu, Tintenfass Busiga Boven, Martina Reen, 80/156, 236 EK1<br />
                <br />
                PAEK AVO<br />
                bmn, T&auml;m&auml; on Com, Antti S&auml;yn&auml;j&auml;rvi, 91/177, 268 EK2<br />
                bcu, For the Win Jack, Mirva Vainio, 97/200, 297 EK2<br />
                <br />
                PAEK VOI<br />
                btn, Flying Orange De Haute Volee, Pernilla Tallberg, 85/179, 264 EK3<br />

            </p>
        </div>
        <br />
        <div>
            <h4><strong>Toko Seuramestaruus 16.06.2015, Porvoo</strong></h4>
            <br />
            <p>
                Tuomari, Harri Laisi<br />
                Liikkeenohjaaja, Tiia N&auml;rkki<br />

                EVL<br />
                1.labradorinnoutaja, Namusillan Tammikehr&auml;&auml;ja, Heidi Antti-Lindholm, 294,  EVL1 Kp, Porsk<br />
                2.Keskikokoinen Villakoira, Engine Hocus Pucus, Jessica Svanljung, 283, EVL1 Kp, Porsk<br />
                3.Australianpaimenkoira, Wolffhouse-Caratia Nothing Else Matter, Hanna Vilenius, 275,  EVL1, Porsk<br />
                4.Belgianpaimenkoira, Flying Orange de Haute Volée, Pernilla Tallberg, 269.5,  EVL1, Porsk<br />
                5.Belgianpaimenkoira, Ikimuiston Luonteistuuli   Saija Laitinen, Saija Laitinen, 262, EVL1, Porsk<br />
                6.Vehn&auml;terrieri, Leith Brogan Gloria Gaynor, Kati Nikkanen, 254.5,  EVL2, PPK<br />
                7.Bokseri, Hazelpikbox Divart Antei-Alcor, Martina Westman, 162,  EVL0, PPK<br />
                <br />
                VOI<br />
                1.Bordercollie, For The Win Jack, Mirva Vainio, 293, VOI1 Kp, Porsk<br />
                2.Pitk&auml;karvainen Collie, Zinnia's Ghea Catalina, Arja Sirén-B&auml;ckman, 224, VOI2, PPK<br />
                <br />AVO<br />
                1.Belgianpaimenkoira, Ruutipussi Miina, Irina Rytkönen, 176, AVO1, Porsk<br />
                2.Borderterrieri, Heatberry´s First in Line, Mia Eriksson, 171, AVO1, Porsk<br />
                3.Lagotto romangnolo, Lago D'amoren Ragazza Balba, Tere J&auml;&auml;skel&auml;inen,   166, AVO1, PPK<br />
                4.Suursnautseri, Zirnal Hawaiian Sunrise, Anna-Mari Heikinheimo, 156.5, AVO2, PPK<br />
                5.Bullmastiffi, All Heroes Sally Carrera, Tove Hellman, 144, AVO2, PPk<br />

                <br />ALO<br />
                1.Belgianpaimenkoira, Ruutipussin Quick, Susanna Stark, 194.5, ALO1 Kp TK1,Porsk<br />
                2.Australianpaimenkoira, Apple Bloom Never Ending Story, Marian Ahlskog-Karhu, 194, ALO1 Kp TK1,PPK<br />
                3.Dobermanni, Kriegerhof J&auml;germeister, Nella Lindström, 186.5, ALO1 KP,PPk<br />
                4.Dobermanni, Monwelt's Kraft Viviv, Marie Kallio, 180.5, ALO1 Kp,PPK<br />
                5.Bouvier, Hauwaskan David, Sanna Hedman, 173, ALO1,PPk<br />

            </p>
        </div>
        <br />
        <div>
            <h4><strong>K&auml;ytt&auml;ytymiskoe 03.05.2015, Porvoo</strong></h4>
            <br />
            <p>
                Vastaava tuomari, Juha Kuronen<br />
                Ssu Rissies Nordic Spirit, Bo Wiksten, PAKK 1 hyv&auml;ksytty BH<br />
                Apkn Apple Bloom Never Ending Story, Marian Ahlskog-Karhu, PAKK 1 hyv&auml;ksytty BH<br />
                Aku Bestseller Ooroooo-Roo, Marjo Halonen, PAKK 0 ei hyv&auml;ksytty<br />
                Xu Willy, Minna Rautio, PAKK 1 hyv&auml;ksytty BH<br />
                Lbn Winning Line's for Your Eye's Only, Sanna Viitanen, PAKK 1 hyv&auml;ksytty BH<br />
            </p>
        </div>
        <br />
        <div>
            <h4><strong>J&auml;lki 1 2 3 12.05.2015, Porvoo</strong></h4>
            <br />
            <p>
                Vastaava tuomari, Juha Kuronen<br />
                J&auml;lki 1<br />
                Bptn Flying Orange De Haute Volee, Pernilla Tallberg 27/168/97 PAJ&auml;1 1 292 JK1<br />
                Ssu Rissies Nordic Spirit, Bo Wiksten 28/149/82 PAJ&auml;1 2 259 JK1<br />
                Spn Jamosch Gimma, Mira Tuominen 28/30/- PAJ&auml;1 0 58 -<br />
                J&auml;lki 2<br />
                Hu Stelmo's Ghostbuster, Kirsi Salmij&auml;rvi 13/164/75 PAJ&auml;2 2 252 JK2<br />
                J&auml;lki 3<br />
                Bpmu Eloketun Falsetti, Marjo Hynynen 19/166/67 PAJ&auml;3 0 252 –<br />
                Ssn Rissies Quick Lady, Maiju Wiksten 18/129/- PAJ&auml;3 0 147 -<br />
            </p>
        </div>
        <br />
        <hr />
        <div>
            <h3>Tulokset 2014</h3>
            <br />
            <div>
                <h4><strong>Haku 1 2 3 07.05.2014 Porvoo</strong></h4>
                <p>
                    Vastaava tuomari Juha Kuronen<br />
                    Haku 1 <br />
                    Kknu Curlicue's Indiana Jones, Katri Vuori 28/166/76 PAHA1 1 270 HK1<br />
                    Rn Manouman Helmi Rapu, Minna Kari 26/160/83 PAHA1 2 269 HK1<br />
                    Haku 2<br />
                    Du Mezzrow´s Arley, Marie Kallio -/159/73 PAHA2 3 232 HK2<br />
                    Haku 3<br />
                    Bptu Off Line´s First, Maria Montell 29/166/90 PAHA3 1 285 HK3<br />
                    Bcu Eliot Deabei, Antti Arponen 20/163/94 PAHA3 1 277 HK3<br />
                    Bptu Macnillian Running Free, Susanna Stark 29/156/84 PAHA3 2 269 HK3<br />
                </p>
            </div>
            <br />
            <div>
                <h4><strong>IPOR HAKU ja IPOR J&auml;LKI 24.05.2014 Porvoo</strong></h4>
                <br />
                <p>
                    Vastaava tuomari Juha Kuronen<br />
                    Bcn Tending Dayfly, Hanna N&auml;rhi 20/98 PEJ&auml;-B 0 118 -<br />
                    Hlku Enlil des Crocs de l´'Olumpe, Heidi Nuust -/70 PEJA-A 0 119 -<br />
                    Spu Heleros Argon, Jaakko Vaahtoniemi 98/92 PEHA-B 0 190 -<br />
                    Bmn Mecberger Hertta, Johanna Franzen 14/78 PEJA-A 0 92 -<br />
                    Bpu Pys&auml;kin Daika, Johanna Franzen 130/90 PEHA-A 0 220 -<br />
                    Xu Perri, Kadri Viljalo -/ 97 PEJA-A 0 97 -<br />
                    Ssu Sunique Talisman, Katja Parkkinen 189 /96 PEHA-A 1 285 RH-FL A 1<br />
                    Spn Heleros Tara, Katrin Vellesalu 92/90 PEHA-B 0 182 -<br />
                    Bpgu Tulituulen Run Rings Round, Kirsi Karmala 16/91 PEJ&auml;-B 0 107 -<br />
                    Xn Iines, Kirsi Myöh&auml;nen 64/86 PEHA-B 0 150 -<br />
                    Bpm Blaze Cobra, Liia Rikkinen 91/94 PEJ&auml;-B 0 185 -<br />
                    Bptn Hukkarullan Dorka, Mari Pihlajaniemi 27/72 PEJA-A 0 99 -<br />
                    Spn Aki, Martina Argano 193/85 PEHA-A 1 278 RH-FL A 1<br />
                    Spn Stark Fassen Viktorija, Merike Vosu 28/70 PEJA-A 0 98 -<br />
                    Nsnu Trindy´s Wild Jim Beam, Niina Savela 99/96 PEHA-A 0 195 -<br />
                    Bcu Arttulan Lakun Maku, Nina Pulli 59/91 PEHA-B 0 150 -<br />
                    Esvu Nartsukan Elegant Power,Sam Widlund 78/77 PEHA-B 0 155 -<br />
                    Bptu, Tarkatan Iloliemi, Virpi Laaksonen 171/89 PEHA-B 2 260 RH-FL B 2<br />
                </p>
            </div>
            <br />
            <div>
                <h4><strong>Toko Seuramestaruus 14.8.2014 Porvoo, j&auml;rjest&auml;j&auml;n&auml; Porsk</strong></h4>
                <br />
                <p><a href="https://kotisivukone.fi/files/porsktesti.kotisivukone.com/Pdf-tiedostot/toko_14.8.2014.pdf">Tulokset</a></p>
            </div>
            <br />
            <div>
                <h4><strong>Haku 1 2 15.10.2014 Porvoo</strong></h4>
                <p>
                    Vastaava tuomari, Juha Kuronen<br />
                    Haku 1<br />
                    Spn Musketeer's Friidu, Maarit Isaksson 24/169/88 PAHA1 1 281 HK1<br />
                    Bptn Flying Orange De Haute Volee, Pernilla Tallberg 30/154/96 PAHA1 1 280 HK1<br />
                    SnuTacillan Xylitol, Vivian Sl&auml;tis 25/165/63 PAHA1 0 253 -<br />
                    Bpmn Tammikallion Sirpale, Henna Grönlund 29/148/66 PAHA1 0 243 -<br />
                    Haku 2 <br />
                    Kknu Curlicue's Indiana Jones, Katri Vuori 27/157/77 PAHA2 2 261 HK2<br />
                </p>
                <h5 id="left">K&auml;ytt&auml;ytymiskoe 26.10.2014, Porvoo</h5>
                <p>
                    Vastaava tuomari, Juha Kuronen<br />
                    Spn Sissinheimon Nexe, Helena Rehnström	 PAKK 0 hyl&auml;tty<br />
                    Ssu Voyager's Robbie Williams, Katja Parkkinen PAKK 1 hyv&auml;ksytty BH<br />
                    Bru Kirmix Ungar, Leena Lindblad PAKK 1 hyv&auml;ksytty BH<br />
                    Amstn Golden Ferya All The Right Moves, Merja Helin-Ek PAKK 1 hyv&auml;ksytty BH<br />
                    Bptn My's Lya Dalia av Dionis, Oleg Kovalev PAKK 1 hyv&auml;ksytty BH<br />
                    Apku Manu, Sanna Toivoniemi PAKK 1 hyv&auml;ksytty BH<br />
                    Bu Wandoris Kosmos, Susanna Paloranta PAKK 0 ei hyv&auml;ksytty<br />
                    Lru Lago D'Amoren Ragazza Balda, Tere J&auml;&auml;skel&auml;inen PAKK 1 hyv&auml;ksytty BH<br />
                    Spn Tuntemattoman Canth, Tiina Salom&auml;ki PAKK 1 hyv&auml;ksytty BH<br />
                </p>
            </div>
        </div>
    </div>
</div>


