
@{
    ViewBag.Title = "Tulokset2009";
}

<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<br />
<div class="container margins">
    <div class="kenttä_margin">
        <div>
            <h3>Tulokset 2009</h3>
            <br />
            <div>
                <h4><strong>06.05.2009 Porvoo - HAKU 1,2</strong></h4>
                <br />
                <p>
                    <b>HAKU 2</b><br />
                    &nbsp;bcu Festivo Zenon,
                    Maija Aapola, Vantaa&nbsp; 220&nbsp; t 82&nbsp; m138<br>
                    &nbsp;rwn Manouman Elli Rajaton, Kiti Tommila, Huuvari&nbsp; 264&nbsp; t 87 m177
                    HK2<br>
                    <b>
                        &nbsp;HAKU 1
                    </b>
                    <br>
                    &nbsp;bmu Kutinan Meteli, Petteri Hotinen/Christel Sellman, Porvoo&nbsp; 241 t
                    89&nbsp; m152&nbsp; HK1<br>
                    &nbsp;akku Kohon Einstein, Merja Ikonen, Hyvink&auml;&auml;&nbsp; 235&nbsp; t 37 m198
                </p>
            </div>
            <br />
            <div>
                <h4><strong>07.05.2009 Porvoo J&Auml;LKI 1,2</strong></h4>
                <br />
                <p>
                    <b>J&Auml;LKI 1</b><br />
                    &nbsp;Esvu Zorraro Zorio, Marita H&auml;t&ouml;nen, Vantaa 182&nbsp; t 55&nbsp; m127 <br>
                    &nbsp;Spn Musketeers Carla, Merja Ruutikainen, Riihim&auml;ki 245&nbsp; t 87 m158&nbsp;
                    JK1<br>
                    <b>&nbsp;J&auml;LKI 2</b><br />
                    &nbsp;Bptn No-How Be Once More, Mervi Salin, Vantaa 115 t 53&nbsp; m 62 . <br>
                    &nbsp;Bcu Emenem's Dino, Mirva Vainio, Porvoo&nbsp; 30&nbsp; t -&nbsp; m 30&nbsp;
                    <br>
                    &nbsp;Spu Svarzekoks &ouml;&ouml;li, Virpi Vuori, Espoo 218&nbsp; t 81 m 137
                </p>
            </div>
            <br />
            <div>
                <h4><strong>27.05.2009 Porvoo - HAKU 3</strong></h4>
                <br />
                <p>
                    &nbsp;ssu Gigabit Black Bear ,Kaisa
                    Juonolainen, J&auml;rvenp&auml;&auml;: 281 M 195 T 86&nbsp; HK3<br>
                    &nbsp;ssu Saturain Hector, Pertti Lahtinen, Hyvink&auml;&auml;: 250 M 173 T 77 HK3<br>
                    &nbsp;apku Gun Lake Breakdancer,&nbsp; Marian Ahlskog-Karhu Porvoo: 231 M 145 T
                    86 <br>
                    &nbsp;ssn Saturain Goldie, Jukka Miettinen, Porvoo: 228 M 162 T 66 <br>
                    &nbsp;rwn Mustanterin Domina,&nbsp; Kiti Tommila, Huuvari: 71 M keskeytti T 71
                </p>
            </div>
            <br />
            <div>
                <h4><strong>04.06.2009 Porvoo - J&Auml;LKI 2 3</strong></h4>
                <br />
                <p>

                    <b>&nbsp;J&Auml;LKI 2</b><br>
                    &nbsp;Spn
                    Graugeboren Odessa, Monica Wilenius, Sipoo 72/76/148 <br>
                    &nbsp;Apku Ardiente Caballero Eneas, Gabriella Tuomi, Espoo 87/150/237 JK2 <br>
                    &nbsp;Du Red Label's Immemorial Idol, Ari Koskela, Askola 0/40/40 <br>
                    &nbsp;<b>J&Auml;LKI 3</b><br>
                    &nbsp;Rwu Dustin vom Oberhausener Norden, Erja Hy&ouml;kki, Askola 0/31/31 <br>
                    &nbsp;Bpmn Etulinjan Addicta, Tuomas Rouvila, Porvoo 0/32/32 <br>
                    &nbsp;Spu Cunto Heikki, Tom Isaksson, Sipoo 0/54/54
                </p>
            </div>
            <br />
            <div>
                <h4><strong>11.6.2009 Porvoo IPOR J&Auml;LKI A</strong></h4>
                <br />
                <p>
                    &nbsp;PONU Octet ze Spiewogry,
                    Majka Borgstr&ouml;m: M 140 T 32 K 45 217 IPOR j&auml;lki A 0<br>
                    &nbsp;SSN Xena vom Reusser Land,&nbsp; Raija Ikonen: M 50 kesk. IPOR j&auml;lki A 0<br>
                    &nbsp;BPMU Eloketun Eti&auml;inen, Reija Nieminen: M 82 kesk. IPOR j&auml;lki A 0
                </p>
            </div>
            <br />
            <div>
                <h4><strong>29.7.2009 Porvoo TOKO ALO, AVO, VOI, EVL</strong></h4>
                <br />
                <p>
                    <b>EVL</b><br>

                    &nbsp;&nbsp;&nbsp; 1. Bcu Emenem&rsquo;s Dino &amp; Mirva Vainio 303,5 p I tulos Porvoon
                    Palveluskoirien EVL-seuramestari <br>
                    &nbsp;&nbsp;&nbsp; 2. Bcu Cabaroo Be Or Not To Be &amp; Heidi Mustonen 292,5 p I
                    tulos
                    Porvoonseudun&nbsp; Koiraharrastajien EVL-seuramestari
                    <br>
                    &nbsp;&nbsp;&nbsp; 3. Bptn Macnillian Madame Mim &amp; Pernilla Tallberg 289,5 p I
                    tulos<br>
                    &nbsp;&nbsp;&nbsp; 4. Nsnu Fireheart Ice Cream Dream &amp; Merja Penttinen 246 p II
                    tulos<br>
                    &nbsp;&nbsp;&nbsp; 5. Apku Gun Lake Twist and Shout &amp; Marian Ahlskog-Karhu 235 p
                    II tulos<br>
                    &nbsp;&nbsp;&nbsp; .. Cpku Steadwyn Sapphire Blue &amp; Arja Sir&eacute;n-B&auml;ckman 142 p -<br>
                    <br>
                    &nbsp;&nbsp;&nbsp; <b>VOI</b><br>
                    <br>
                    &nbsp;&nbsp;&nbsp; 1. Bptn Macnillian Rautaneito &amp; Pernilla Tallberg 273,5 p I
                    tulos Porvoonseudun Koiraharrastajien
                    VOI-seuramestari <br>
                    &nbsp;&nbsp;&nbsp; 2. Apku Gun Lake Breakdancer &amp; Marian Ahlskog-Karhu 271,5 p I
                    tulos&nbsp; Porvoon Palveluskoirien VOI-seuramestari <br>
                    &nbsp;&nbsp;&nbsp; 3. Bcu Cabaroo Fire At Midnite &amp; Heidin Mustonen 235 p II
                    tulos<br>
                    &nbsp;&nbsp;&nbsp; 4. Knu Vassruggens Sige Fafnesbane &amp; Heidi Levander 223 p III
                    tulos<br>
                    .&nbsp;&nbsp;&nbsp;&nbsp; . Lrn Mandaraban Mirabella &amp; Tere
                    J&auml;&auml;skel&auml;inen 172,5 p -<br>
                    <br>
                    &nbsp;&nbsp;&nbsp; <b>AVO</b><br>
                    <br>
                    &nbsp;&nbsp;&nbsp; 1. Bvu Wolttivuoren Cake &amp; Sanna Hedman 157 p II tulos&nbsp; Porvoon Palveluskoirien
                    AVO-seuramestari <br>
                    &nbsp;&nbsp;&nbsp; 2. Rwn Musanterin Domina &amp; Kiti Tommila 150,5 p II tulos<br>
                    &nbsp;&nbsp;&nbsp; 3. Borderterrieriu Flagstones Maine &amp; Maria Eriksson 140,5 p
                    II tulos&nbsp; Porvoonseudun Koiraharrastajien
                    AVO-seuramestari <br>
                    <br>
                    &nbsp;&nbsp;&nbsp; <b>ALO</b><br>
                    <br>
                    &nbsp;&nbsp;&nbsp; 1. Kroatianpaimenkn Tuus Laventelilulla &amp; Eija Hyv&auml;ttinen
                    187,5 p I tulos&nbsp; Porvoon Palveluskoirien ALO-seuramestari
                    <br>
                    &nbsp;&nbsp;&nbsp; 2. Spu Sonorian Conte &amp; Maria Wilenius 187 p I tulos<br>
                    &nbsp;&nbsp;&nbsp; 3. Lbu Mysis Huispaus &amp; Tom Isaksson 184 p I tulos TK1<br>
                    &nbsp;&nbsp;&nbsp; 4. Vehn&auml;terrn Leith Bhrogan Gloria Gaynor &amp; Kati Nikkanen
                    176,5 p I tulos<br>
                    &nbsp;&nbsp;&nbsp; 5. Spu Cunto Heikki &amp; Maarit Isaksson 164,5 p I tulos TK1<br>
                    &nbsp;&nbsp;&nbsp; 6. Cpkn Zinnia&rsquo;s Ghea Catalina &amp; Arja Sir&eacute;n-B&auml;ckman 159,5 p
                    II tulos<br>
                    &nbsp;&nbsp;&nbsp; 7. Bu Hazelpikbox Divart Antei-Alcor &amp; Martina Westman 154 p
                    II tulos<br>
                    &nbsp;&nbsp;&nbsp; 8. Cavalieru Anncourt Queensland &amp; Merja Penttinen 139 p III
                    tulos Porvoonseudun Koiraharrastajien ALO-seuramestari&nbsp;
                    <br>
                    &nbsp;&nbsp;&nbsp; 9. Walesinspringn Doniol Keytoyourheart &amp; Anna Mannermaa 132
                    p III tulos
                </p>
            </div>
            <br />
            <div>
                <h4><strong>30.8.2009 Porvoo&nbsp; IPOR haku SM</strong></h4>
                <br />
                <p><a href="iporhakusm.htm">TULOKSET (html)</a></p>
            </div>
            <br />
            <div>
                <h4><strong>01.11.2009 Etsint&auml;koe 1,2,3</strong></h4>
                <br />
                <p>
                    <b>Etsint&auml;koe 1</b><br>
                    &nbsp;Spn Sientje's Hada Rolf Holmberg, Helsinki 60/106/166 <br>
                    &nbsp;Hwu Ellieg&aring;rdens Black Rudi Helena Prepula, Lohja 77/192/269 EK1 <br>
                    &nbsp;<b>Etsint&auml;koe 2</b><br>
                    &nbsp;Rwn Lemmenm&auml;en Jatsi Riikka Stenlund, Orimattila 0/133/133 <br>
                    &nbsp;Bcn Maccabee Rhythem Divine Ella Lamusuo, Hyvink&auml;&auml; 0/135/135 <br>
                    &nbsp;Mn Takkutukan Superlatiivi Eeva-Stiina Hatakka, Turku 0/145/145 <br>
                    &nbsp;Rwu Vesuviuksen Aragon Maria Keinonen, H&auml;meenlinna 78/156/234 EK2 <br>
                    &nbsp;Bcu Covateco Thunderball J.Viitanen &amp; M.Tamila , Helsinki 90/175/265 EK2
                    <br>
                    &nbsp;<b>Etsint&auml;koe 3</b><br>
                    &nbsp;Bpgn Nallehukan Ultra-Bra Ulla Rajalin, Espoo 0/129/129 <br>
                    &nbsp;Bcu Emenem's Dino Mirva Vainio, Porvoo 84/167/251 EK3 <br>
                    &nbsp;Mu Mustantassun Sulo Terhi Multam&auml;ki, Helsinki 89/185/274 EK3 <br>
                    &nbsp;
                </p>
            </div>
            <br />
            <div>
                <h4><strong>05.12.2009 HAKUKOE 1,2,3</strong></h4>
                <br />
                <p>
                    <b>
                        &nbsp;HAKU
                        1
                    </b><br>
                    &nbsp;Ssn
                    Pectus Hannah Susanna Saalasti, Helsinki 71/186/257 HK1 <br>
                    &nbsp;Apkn Tres Colores Isla Bonita Mari Muhonen 75/190/265 HK1 <br>
                    &nbsp;Aku Bestseller Feelgood Marjo Halonen, Koskenkyl&auml;n saha 66/0/66 <br>
                    <b>&nbsp;HAKU 2</b><br>
                    &nbsp;Ssu Gigabit Full Firewall Susanna Niittym&auml;ki, Riihim&auml;ki 94/186/280 HK2 <br>
                    &nbsp;Bpgn Nallehukan Ultra-Bra Ulla Rajalin, Espoo 90/191/281 HK2 <br>
                    <b>&nbsp;HAKU 3</b><br>
                    &nbsp;Spu Mithrandir Alpha Pekka Mett&auml;l&auml;, Kouvola 0/125/125 <br>
                    &nbsp;Bcn Pikkupaimenen Divine Comedy Tuire Tamminen, M&auml;nts&auml;l&auml; 68/170/238 <br>
                    &nbsp;Spu Musketeer's Xando Osmo Heikkil&auml;, Kouvola 86/166/252 HK3 <br>
                    &nbsp;Mu Mustantassun Sulo Terhi Multam&auml;ki, Helsinki 68/187/255 <br>
                    &nbsp;Apku Gun Lake Twist and Shout Marian Ahlskog-Karhu, Porvoo 80/190/270 HK3
                </p>
            </div>
        </div>
        <div>
            <br />
            <hr />
            <div>
                <h3>Tulokset 2008</h3>
                <br />
                <p>

                    <a target="_blank" href="TULOKSET.htm">
                        14.-15.6.2008
                        Juhlakokeen tulokset (html)
                    </a>
                </p>
                <br />
                <div>
                    <h4><strong>7.8.2008 TOKO</strong></h4>
                    <br />
                    <p>

                        <b>EVL</b><br>
                        <br>
                        &nbsp;&nbsp; 1. Bordercollie, uros FIN KVA&amp;TVA BH HK3 JK1 EMENEM&rsquo;S DINO Om.+ohj.
                        Mirva Vainio, Porvoo 311 p. EVL1 Kp Porvoon
                        Palveluskoirien EVL-seuramestari <br>
                        &nbsp;&nbsp; 2. Bordercollie, uros FIN&amp;EST TVA FIN MVA BH CABAROO BE OR NOT TO
                        BE om.+ohj. Heidi Mustonen, Pornainen 295,5 p. EVL1 Kp
                        Porvoonseudun&nbsp; Koiraharrastajien EVL-seuramestari
                        <br>
                        &nbsp;&nbsp; 3. Belgianpaimenkoira, tervueren, narttu FIN TVA BH JK2 MACNILLIAN
                        MADAME MIM om. Jarkko Kynt&auml;j&auml;&amp;Pernilla Tallberg, Porvoo
                        ohj. Pernilla Tallberg 295 p. EVL1 Kp <br>
                        &nbsp;&nbsp; 4. Amerikancockerspanieli, uros FIN MVA TK3 BH GOLOWOREZ
                        PLEASEPLEASE ME om. Marjo&amp;Jaana Saares, Porvoo ohj.
                        Marjo Saares 291,5 p. EVL1 Kp <br>
                        &nbsp;&nbsp; 5. Schapendoes, narttu FIN TVA LUMIKUONO HAYA DIOSA om.+ohj. Eija
                        Hyv&auml;ttinen, Porvoo 288 p. EVL1 <br>
                        &nbsp;&nbsp; 6. Bordercollie, narttu FIN TVA HK3 JK2 BH TASPITIR&rsquo;S STELLA
                        om.+ohj. Maria Niska, Porvoo 228 p. EVL2 <br>
                        <br>
                        &nbsp;&nbsp; <b>VOI</b><br>
                        <br>
                        &nbsp;&nbsp; 1. Amerikancockerspanieli, narttu FIN MVA TK2 GOLOWOREZ RISKY
                        BUSINESS om. Marjo&amp;Jaana Saares, Porvoo ohj. Marjo
                        Saares 257 p. VOI1 Porvoonseudun Koiraharrastajien
                        VOI-seuramestari <br>
                        &nbsp;&nbsp; 2. Lagotto Romagnolo, narttu FIN MVA BH TK2 MANDARABAN MIRABELLA
                        om. Tere&amp;Raimo J&auml;&auml;skel&auml;inen, Porvoo ohj. Tere
                        J&auml;&auml;skel&auml;inen 253 p. VOI2 Porvoon Palveluskoirien
                        VOI-seuramestari <br>
                        &nbsp;&nbsp; 3. Belgianpaimenkoira, malinois, narttu BH MECBERGER ELKE om.
                        Marjo&amp;Seppo Einola, Askola ohj. Seppo Einola 246,5 p.
                        VOI2 <br>
                        &nbsp;&nbsp; 4. Pitk&auml;karvainen collie, uros TK2 STEADWYN SAPPHIRE BLUE om.+ohj.
                        Arja Sir&eacute;n-B&auml;ckman, Porvoo 227,5 p. VOI2 <br>
                        <br>
                        &nbsp;&nbsp; <b>AVO</b><br>
                        <br>
                        &nbsp;&nbsp; 1. Labradorinnoutaja, narttu ILMIANTAJA ANI om.+ohj. Milla Savin,
                        Porvoo 189 p. AVO1 Kp Porvoon Palveluskoirien
                        AVO-seuramestari <br>
                        <br>
                        &nbsp;&nbsp; <b>ALO </b><br>
                        <br>
                        &nbsp;&nbsp; 1. Bouvier, uros BH WOLTTIVUOREN CAKE om.& ohj. Sanna Hedman, Valko
                        178 p. ALO1 Porvoon Palveluskoirien ALO-seuramestari <br>
                        &nbsp;&nbsp; 2. Labradorinnoutaja, uros MYSIS HUISPAUS om. Maarit Isaksson,
                        Sipoo ohj. Minna Ekblom 177 p. ALO1 <br>
                        &nbsp;&nbsp; 3. Saksanpaimenkoira, narttu GRAUGEBOREN ODESSA om.+ohj. Monica
                        Wilenius, Sipoo 176 p. ALO1 <br>
                        &nbsp;&nbsp; 4. Borderterrieri, uros FLAGSTONES MAINE om. Mia Eriksson&amp;Jessica
                        Hopea, Porvoo ohj. Mia Eriksson 168 p. ALO1
                        Porvoonseudun Koiraharrastajien ALO-seuramestari <br>
                        &nbsp;&nbsp; 5. Bordercollie, narttu EMENEM&rsquo;S FOXY om.+ohj. Maria Niska, Porvoo
                        166 p. ALO1 <br>
                        &nbsp;&nbsp; 6. Novascotiannoutaja, narttu HULIVILIN HAPPY EVER AFTER om.& ohj.
                        Sanna Karlsson, Porvoo 166 p. ALO1 <br>
                        &nbsp;&nbsp; 7. Saksanpaimenkoira, uros CUNTO HEIKKI om. Tom Isaksson, Sipoo ohj.
                        Maarit Isaksson 164,5 p. ALO1 <br>
                        &nbsp;&nbsp; 8. X-rotu, uros TAHVO om.+ohj. Alva Gr&ouml;nqvist, Pernaja 152 p. ALO2
                        <br>
                        &nbsp;&nbsp; 9. Labradorinnoutaja, uros VARJOAHON MAORIKUNNAS om.+ohj. Milla
                        Savin, Porvoo 146,5 p. ALO2
                    </p>
                </div>
                <br />
                <div>
                    <h4><strong>4.10.2008 Porvoo J&Auml;LKI 1 2 3</strong></h4>
                    <br />
                    <p>
                        <b>ALO</b> <br>
                        </b>Bpmu Kutinan Meteli, Petteri Hotinen, Porvoo&nbsp;
                        97/150/247 JK1<br>
                        Cpku Black Gary Sparkling Blue, Anne-Maarit Heikkinen,
                        Helsinki 71/180/251 JK1<br>
                        <b>AVO</b><br>
                        Du Park Hill's C'mon Chevrolet, Marika Koskinen,
                        Etel&auml;inen -/40/kesk.<br>
                        Spu Bar-Waxan Parfait, Maarit H&auml;nninen, Nurmij&auml;rvi&nbsp; 44/169/213<br>
                        Bpmn Etulinjan Addicta, Tuomas Rouvila, Porvoo 97/156/253 JK2<br>
                        Ssn Giteas Bonboniera, Marjoriikka Ker&auml;nen, Vantaa&nbsp; 82/174/256
                        JK2<br>
                        Aku Bestseller Feelgood, Marjo Halonen, Vantaa 82/188/270 JK2<br>
                        <b>
                            VOI<br>
                        </b>Spn Cunto Hilda, Anu Salminen, Karkkila&nbsp; 90/196/286 JK3<br>
                        Bcu Tending Prizeman, Virve Sormunen, Hyvink&auml;&auml;&nbsp; 99/178/277 JK3<br>
                        Cpkn Lawless the Masters Toutch, Pia Veikkolainen,
                        Hyvink&auml;&auml; -/108/kesk.
                    <p>

                </div>
                <br />
                <div>
                    <h4><strong>1.11.2008 Porvoo K&Auml;YTT&Auml;YTYMISKOE</strong></h4>
                    <br />
                    <p>
                        </b>Bptn Belgeleen Kaunotar,
                        omistaja Lotta Ahlfors, Vantaa: Hyv&auml;ksytty BH<br>
                        Ssu Boss vom Hatzbachtal, omistaja Bo Wiksten, Porvoo: Hyv&auml;ksytty
                        BH<br>
                        Bpmu Biron, omistaja Achim M&uuml;ller, Helsinki: Hyv&auml;ksytty BH<br>
                        Hwn Emo's Rosa, omistaja Mona Frejborg, Porvoo: Hyv&auml;ksytty BH<br>
                        Lbn Jummi-Jammin Elaine, omistaja Kiira Numminen, Helsinki: Hyl&auml;tty<br>
                        Slov.cuvacn&nbsp; Alla von der Stockacher Halde, omistaja Virve
                        Mikkola, Porvoo: Hyl&auml;tty
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

