
@{
    ViewBag.Title = "Valiotjamestarit";
}
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<br />
<div class="container margins">

    <div class="kenttä_margin">
        <!-- *** Start Content *** -->
        <div id="content">
            <h3 class="text-center text-capitalize">Valiot ja mestarit</h3>
            <br />
            <h4 class="text-center">K&TVA Käyttö- ja tottelevaisuusvaliot</h4>
            <br />
            <div class="row">
                <div class="col-md-6  text-center img_card">
                    <img src="valiot/dino.jpg" />
                    <p>bcu EmenEm&rsquo;s Dino</p>
                    <p>Mirva Vainio</p>
                    <p>FIN KVA FIN TVA HK3 JK3 EK3</p>
                </div>
                <div class="col-md-6  text-center img_card">
                    <img src="valiot/cucu.jpg" />
                    <p>cn Ruffenuff Kalimba De Luna</p>
                    <p>Mirva Vainio</p>
                    <p>FIN KVA FIN TVA HK3</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  text-center img_card">
                    <img src="valiot/Romu.jpg" />
                    <p>ssu Pectus Rousseau</p>
                    <p>Bo Wiksten</p>
                    <p>KANS&S&FIN KVA  FIN&S TVA  FIN MVA </p>
                    <p>M-81-82-88  NOM- 86  jälki</p>
                </div>
                <div class="col-md-6  text-center img_card">
                    <img src="valiot/joonas.jpg" />
                    <p>spu Irade&rsquo;s Jonas</p>
                    <p>Christina Mielonen</p>
                    <p>FIN TVA FIN KVA JK3 YK 2 HK1</p>
                </div>
            </div>
            <hr />

            <h4 class="text-center">KVA Käyttövaliot</h4>
            <br />
            <div class="row">
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/elmer.jpg" />
                    <p>apku Gun Lake Breakdancer</p>
                    <p>Marian Ahlskog-Karhu</p>
                    <p>FIN KVA HK3</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/red.jpg" />
                    <p>apku Gun Lake Twist and Shout</p>
                    <p>Marian Ahlskog-Karhu</p>
                    <p>FIN KVA HK3</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/perttu2009.jpg" />
                    <p>ssu Gigabit Black Bear</p>
                    <p>Kaisa Juonolainen</p>
                    <p>FIN KVA HK3 EK3 JK3</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/alma.jpg" />
                    <p>ssn Alarm</p>
                    <p>Bo Wiksten</p>
                    <p>FIN KVA  JK3  NOM -03</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/any08.jpg" />
                    <p>spn Sonorian Alzira</p>
                    <p>Saara Pulkkinen</p>
                    <p>FIN KVA  JK3</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/rex.jpg" />
                    <p>spu Sissinheimon Quality Rex</p>
                    <p>Kari Karlsson</p>
                    <p>FIN KVA  IP3</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/eikuvaa.jpg" />
                    <p>ssu Stablemaster's Zantos</p>
                    <p>Ari Leino</p>
                    <p>FIN KVA HK3</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/rakki.jpg" />
                    <p>ssu Famulus Bergerac</p>
                    <p>Bo Wiksten</p>
                    <p>FIN KVA JK3</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/muska.jpg" />
                    <p>ssn Famulus Abrakadabra</p>
                    <p>Laura Walden-Leino</p>
                    <p>FIN KVA FIN MVA JK3</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/Dorasivup.jpg" />
                    <p>ssn Stblemaster's Lady Luck</p>
                    <p>FIN K&MVA</p>
                    <p>Laura Walden-Leino</p>
                    <p>FIN KVA FIN MVA JK3 HK3</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/Quenjo.jpg" />
                    <p>spu Jovial's Quenjo</p>
                    <p>Arja Nyholm</p>
                    <p>HK3 JK1</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/Hannisivu.jpg" />
                    <p>spn Sissinheimon Hanni</p>
                    <p>Kari Karlsson</p>
                    <p>FIN KVA  jälki</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/haki.jpg" />
                    <p>du Aidefau Hakim</p>
                    <p>Markku Peteri</p>
                    <p>FIN KVA  viesti</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/Jefta.jpg" />
                    <p>ssu Beries Jefta</p>
                    <p>Juhani Suontausta</p>
                    <p>FIN KVA KANS MVA FIN MVA N</p>
                    <p>MVA yleiskoe</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/ymac.jpg" />
                    <p>spn Sissinheimon Ymac</p>
                    <p>Tauno Uusimäki</p>
                    <p>FIN KVA jälki</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/hukka.jpg" />
                    <p>spn Sissinheimon Harmaa Hukka</p>
                    <p>Tauno Uusimäki</p>
                    <p>FIN KVA jälki</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/blenda.jpg" />
                    <p>lbn Blenda</p>
                    <p>Matti Tero</p>
                    <p>FIN KVA jälki</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/kontra.jpg" />
                    <p>spu Sissinheimon Kontra</p>
                    <p>Hannu Hänninen</p>
                    <p>FIN KVA jälki</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/Santo.jpg" />
                    <p>spu Sissinheimon Santo</p>
                    <p>Kaija Hänninen</p>
                    <p>FIN KVA jälki</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/ami.jpg" />
                    <p>spu Ami</p>
                    <p>Veijo Asikainen</p>
                    <p>FIN KVA jälki</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/gisela.jpg" />
                    <p>spn Red Spark Gisela</p>
                    <p>aija-Leena Johansson-Nurmi</p>
                    <p>FIN KVA viesti</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/eikuvaa.jpg" />
                    <p>spu Briska</p>
                    <p>Markku Alaviuhkola</p>
                    <p>FIN KVA jälki</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/basso.jpg" />
                    <p>spu Viiden Vaiston Basso</p>
                    <p>Stig Wahlroos</p>
                    <p>FIN KVA jälki</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/erlop.jpg" />
                    <p>ssu l&rsquo;Erlo vom Krayenrain</p>
                    <p>John Alfthan</p>
                    <p>FIN KVA jälki</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/fisa.jpg" />
                    <p>ssn l'Fisa vom Krayenrain</p>
                    <p>Anneli Alfthan</p>
                    <p>FIN KVA jälki</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/eikuvaa.jpg" />
                    <p>spu Arsene</p>
                    <p>Ruben Forsblom</p>
                    <p>FIN KVA jälki</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/Hilda.jpg" />
                    <p>ssn Myrkarby Hilda</p>
                    <p>Anita Mynttinen</p>
                    <p>FIN KVA FIN MVA  jälki</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/eikuvaa.jpg" />
                    <p>spu Aringo</p>
                    <p>Tom Forsstr&ouml;m</p>
                    <p>FIN KVA jälki</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/eikuvaa.jpg" />
                    <p>spn Karhukorven Kira</p>
                    <p>Juhani Suontausta</p>
                    <p>FIN KVA  M -75 yleiskoe</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/ofiris.jpg" />
                    <p>spn Karhukorven Ofiris</p>
                    <p>Risto Toivonen</p>
                    <p>FIN KVA jälki</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/ani.jpg" />
                    <p>cn Kukkaniityn Ani</p>
                    <p>Anja Kuronen</p>
                    <p>FIN KVA  jälki</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/roy.jpg" />
                    <p>cu Roy</p>
                    <p>A.K. Rauvolin</p>
                    <p>FIN KVA  yleiskoe</p>
                </div>
                <div class="col-md-4  text-center img_card">
                    <img src="valiot/taru-12.jpg" />
                    <p>cn Taru</p>
                    <p>Kauko Kuronen</p>
                    <p>FIN KVA  M -63  jälki</p>
                </div>
            </div>
        </div>
        <hr />
        <h4 class="text-center">TVA Tottelevaisuusvaliot</h4>
        <br />
        <div class="row">
            <div class="col-md-4  text-center img_card">
                <img src="valiot/laventelilulla.jpg" />
                <p>kroapkn Tuus Laventelilulla</p>
                <p>Eija Hyv&auml;ttinen</p>
                <p>FI TVA</p>
            </div>
            <div class="col-md-4  text-center img_card">
                <img src="valiot/igsbestfriend.jpg" />
                <p>apkn Wolffhouse-Caratia Ig&rsquo;s Best Friend</p>
                <p>Hanna Vilenius</p>
                <p>FI TVA</p>
            </div>
            <div class="col-md-4  text-center img_card">
                <img src="valiot/asa.jpg" />
                <p>shn  Lumikuono Haya Diosa</p>
                <p>Eija Hyv&auml;ttinen</p>
                <p>FIN TVA</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  text-center img_card">
                <img src="valiot/stella.gif" />
                <p>bcn Taspitir's Stella</p>
                <p>Maria Niska</p>
                <p>FIN TVA JK2 HK3</p>
            </div>
            <div class="col-md-4  text-center img_card">
                <img src="valiot/mustikkamv.jpg" />
                <p>keeshn Huanniin Mirtillo</p>
                <p>Niilo Huumo</p>
                <p>FIN TVA FIN MVA</p>
            </div>
            <div class="col-md-4  text-center img_card">
                <img src="valiot/Gina-1.jpg" />
                <p>spn Differen Gina</p>
                <p>Stig Wahlroos</p>
                <p>FIN TVA FIN MVA</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  text-center img_card">
                <img src="valiot/niina.jpg" />
                <p>rwn Efekti Betriina</p>
                <p>Birgitta Tommila</p>
                <p>FIN TVA</p>
            </div>
            <div class="col-md-4  text-center img_card">
                <img src="valiot/Trixi.jpg" />
                <p>sn Triksisophie</p>
                <p>Waldemar Råberg</p>
                <p>FIN TVA</p>
            </div>
            <div class="col-md-4  text-center img_card">
                <img src="valiot/Pike.jpg" />
                <p>su Pike</p>
                <p>Taina Mikkonen</p>
                <p>FIN TVA</p>
            </div>
        </div>
        <hr />
        <h4 class="text-center">VPVA Vesipelastusvaliot</h4>
        <div class="row">
            <div class="col-md-6  text-center img_card">
                <img src="valiot/Pulmu06.jpg" />
                <p>vpn Camomilla</p>
                <p>Pirjo Lehti</p>
                <p>FIN VPVA</p>
            </div>
            <div class="col-md-6  text-center img_card">
                <img src="valiot/Sirkku.jpg" />
                <p>vpn Angry Brigade&rsquo;s Free Birth</p>
                <p>Pirjo Lehti</p>
                <p>FI VPVA</p>
            </div>
        </div>
        <hr />
        <h5 class="text-center">Mestarit</h5>
        <div class="row">
            <div class="col-md-6  text-center img_card">
                <img src="valiot/bianca2.jpg" />
                <p>spn Viiden Vaiston Bianca</p>
                <p>Kauko Kuronen</p>
                <p>M -73-75  suojelu</p>
            </div>
            <div class="col-md-6  text-center img_card">
                <img src="valiot/Riki.jpg" />
                <p>spu Karhukorven Vänrikki</p>
                <p>Stig Wahlroos</p>
                <p>NOM -62  M -66   jälki</p>
            </div>
        </div>
 


        <hr />
        <p class="small">
            Kuvia luovuttaneet seuraavat henkilöt:
            Stig Wahlroos, Bo Wiksten, Tiina Mielonen, Arja Ainola, Maria Niske, Eija Hyvättinen,
            Anneli Alftan, M.-L. Johansson-Nurmi, Kaija Hänninen, Marjo Vainio, Pirjo Lehti, Kaisa Juonolainen,
            Marian Ahlskog-Karhu
        </p>
    </div>
</div>

        <!-- *** End Content *** -->
