
@{
    ViewBag.Title = "Valiot";
}
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />
<br />
<div class="container margins">

    <div class="kenttä_margin">
        <br />
        <h4 class="text-center">VALIOT 2013-</h4>
        <br />
        <div class="container-fluid">
            <h5 class="text-center"> <strong>KVA Käyttövaliot</strong></h5>
            <br />
                <div class="col-xl-4 col-sm-6  text-center img_card">
                    <img src="~/Images/yngwie.jpg" width="122" height="161" />
                    <p>Knu Vassruggens Yngwie Frej, </p>
                    <p>Heidi Levander</p>
                    <p>FIN KVA HK3</p>
                </div>

                <div class="col-xl-4 col-sm-6 text-center img_card">
                    <img src="~/Images/martta.jpg" width="122" height="161" />
                    <p>Spn Musketeers Friidu, </p>
                    <p>Maarit Isaksson</p>
                    <p>FIN KVA JK3</p>
                </div>
                <div class="col-xl-4 col-sm-6 text-center img_card">
                    <img src="~/Images/beni.jpg" />
                    <p>Lbu Helkyn Roquefort,</p>
                    <p>Maria Wilenius</p>
                    <p>FIN KVA HK3 JK3</p>
                </div>
                <div class="col-xl-4 col-sm-6 text-center img_card">
                    <img src="~/Images/jaska.jpg" />
                    <p>Bcu For The Win Jack,</p>
                    <p>Mirva Vainio</p>
                    <p>FIN KVA EK3</p>
                </div>

                <div class="col-xl-4 col-sm-6 text-center img_card">
                    <img src="~/Images/sally.jpg" />
                    <p>Bptn Flying Orange De Haute Volee,</p>
                    <p>Pernilla Tallberg</p>
                    <p>FIN KVA EK3</p>
                </div>

                <div class="col-xl-4 col-sm-6 text-center img_card">
                    <img src="~/Images/lady.jpg" />
                    <p>Ssn Rissies Quick Lady,</p>
                    <p>Maiju Wiksten</p>
                    <p>FIN KVA JK3</p>
                </div>

            <div style="margin-top:0px;">

                <h4 class="text-center"><strong>Mestarit</strong></h4>
                <br />
                    <div class="col-md-6 col-sm-6 text-center img_card">
                        <img src="~/Images/yngwie2.jpg" />
                        <p>Knu Vassruggens Yngwie Frej,</p>
                        <p>Heidi Levander</p>
                        <p>M -11, M -12, M -13</p>                                             
                    </div>

                    <div class="col-md-6 col-sm-6 text-center img_card">
                        <img src="~/Images/mirvajajaska1.jpg" />
                        <p>Bcu For The Win Jack,</p>
                        <p>Mirva Vainio</p>
                        <p>M -16  EK</p>
                    </div>
            </div>
        </div>
    </div>
</div>

