
@{
    ViewBag.Title = "Yhteystiedot";
}
<link href="~/Content/Palvelukoirat.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <h2 style="margin-top:50px;"><i class="fas fa-map-marker-alt margin"> Yhteystiedot</i></h2>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <p>
                <b> Posti sihteerille, kysy tarkka postiosoite:</b>
                <br />
                Porvoon Palveluskoirat ry
                <br />
                Christina Mielonen
                <br />

                 sihteeri@porvoonpalveluskoirat.fi
            </p>
            <br />
            <p>
                Pankkiyhteys:
                <br />
                Porvoon Osuuspankki FI68 5358 0640 5554 93
            </p>
            <br />
            <p>
                <b>
                    HUOM! EI JÄSENANOMUKSIA POSTITSE, VAAN LAJIVASTAAVIEN KAUTTA!
                </b>
            </p>
            <br />
            <p>
                Tiedotteet jäsenten sähköpostilistan kautta.
                Jos haluat liittyä mukaan sähköpostilistalle, lähetä viesti sihteerille.
            </p>
            <br />
            <p>
                Porvoon Palveluskoirien Facebook-ryhmä (Vain yhdistyksen jäsenille)
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                <b>Hallituksen ulkopuolella</b>
                <br />
                Haukkuset-lehti: lehti@porvoonpalveluskoirat.fi
            </p>
            <div class="logo_contact">
                <img src="~/Images/Koira.jpg" width="461" height="265" />
            </div>
        </div>
    </div>
   </div>
    <hr />
    <div class="container">
       <h3> Hallitus 2019 / Vastuuhenkilöt</h3>
        <br />
        <div class="row">
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/maarit.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/marian_uusi.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/maarit.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/marian_uusi.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/maarit.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/marian_uusi.jpg" class="name" />
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/maarit.jpg" class="name"/>
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/marian_uusi.jpg" class="name"/>
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/maarit.jpg" class="name"/>
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 contact">
                <div class="row">
                    <img src="~/Images/marian_uusi.jpg" class="name"/>
                    <div class="name">
                        <h5><b>Puheenjohtaja</b></h5>
                        <br />
                        <p>
                            Maarit Isaksson
                            <br />
                            puheenjohtaja@porvoonpalveluskoirat.fi
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>